@import 'sass/mixins/fontStyle.scss';
@import 'sass/variables';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/flexCenterAll.scss';
@import 'sass/mixins/sizeStyle.scss';

.steps-wrap {
    max-width: 825px;
    margin: 37px auto 34px;
    display: table;
    table-layout: fixed;
    width: 100%;

    &.extra-margin-bottom {
        margin-bottom: 34px;
    }

    &.upload-steps-wrap {
        max-width: 470px;
    }

    li {
        counter-increment: step-counter;
        text-align: center;
        display: table-cell;
        position: relative;

        @include font-style (15px, $default-color, 500);

        &:before {
            content: counter(step-counter);
            // display: block;
            margin: 0 auto 4px;

            @include font-style (14px, $gray-55, 500);
            @include size (20px, 20px);

            background-color: $white;
            text-align: center;

            @include border-radius(50%);

            border: 2px solid $gray-55;
            padding: 0;
            box-sizing: border-box;
            z-index: 1;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1.5;
        }

        &:after {
            content: '';
            height: 1px;
            width: calc(100% - 27px);
            position: absolute;
            top: 9px;
            left: calc(50% + 14px);
            background-color: $light-grey-border;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }

        &.active {
            &:before {
                border-color: $brand-color;
                color: $brand-color;
            }

            & + .completed {
                &:after {
                    background-color: $light-grey-border;
                }
            }
        }

        &:last-child {
            max-width: initial;
            width: initial;
        }

        &.completed {
            &:after {
                background-color: $brand-color;
            }

            &:before {
                border-color: $brand-color;
                background-color: $brand-color;
                font-family: 'icomoon' !important;
                content: "\ed993";
                color: $white;
            }
        }
    }
}

.step-cta-wrap {
    :global {
        .action-wrap {
            padding: 10.5px 10.5px;
            border: 0;
            background: $brand-color;
            border-radius: 0;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            .icon_phoenix-cheveron_open {
                color: $white;
            }

            &:hover {
                background: $primary-hover;
            }
        }

        .disabled {
            .action-wrap {
                pointer-events: none;
                background-color: $pale-blue;

                .icon_phoenix-cheveron_open {
                    color: $gray-cc;
                }
            }
        }
    }

    button {
        &.border-right {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            margin-right: 1px;
        }

        &.el-button-disabled {
            &.border-right {
                border: 0;
                border-right: 1px solid $light-grey-border;
                pointer-events: none;
            }
        }
    }
}

.small-width {
    max-width: 500px;
    display: block !important; /*----overriding css----*/
    margin: 0 auto;
}

.upload-small-width {
    max-width: 600px;
    margin-top: 20px !important;

    button {
        span {
            @include font-style (16px, false, 500, 1.2);
        }
    }

    button:disabled {
        background-color: $gray40;

        span {
            @include font-style (16px, $gray80, 500, 1.2);
        }
    }
}

.disable {
    button {
        background: $pale-blue;
        border: 1px solid $light-grey-border;
        pointer-events: none;

        &:hover {
            background: $pale-blue;
        }

        span {
            color: $gray-cc;
        }
    }
}

.large-width {
    max-width: initial;

    button {
        &:first-child {
            float: left;
            margin-left: 0;
        }
    }
}

.medium-width {
    max-width: 800px;
    margin: 0 auto;
    display: block !important;
}

.wizard-side-nav {
    @include size(230px, 100%);

    background-color: $white;
    padding: 16px 0 16px 32px;

    li {
        list-style: none;
    }

    &-item {
        margin-top: 4px;

        &-disabled {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    &-button {
        @include border-radius(4px);

        width: 100%;
        display: flex;
        align-items: center;
        border: 0;
        background: transparent;
        padding: 8px 14px 8px 6px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        text-align: left;

        &:hover {
            background-color: $blue-ee;

            .wizard-side-nav-text {
                color: $brand-color;
                font-family: var(--font-inter-medium, Inter, Arial, sans-serif);
            }
        }

        &-selected {
            background-color: $blue-ee;

            .wizard-side-nav-text {
                color: $brand-color;
                font-family: var(--font-inter-medium, Inter, Arial, sans-serif);
            }
        }
    }

    &-icon-box {
        @include size(20px, 20px);
        @include border-radius(50%);
        @include font-style(12px, $gray-55, 400, false);

        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        margin-right: 8px;
        border: 1px solid $light-grey-border;
        padding: 4px;

        &:has(.navIcon) {
            border: 0;
            padding: 0;
        }

        &:has(img) {
            padding: 0;
        }

        img {
            @include size(100%, auto);

            object-fit: cover;
        }

        span {
            @include font-style(12px, $gray-light, false, false);

            &.navIcon {
                @include font-style(20px, false, false, false);
            }
        }

        span.navIcon[class*='icon_phoenix-important-fill'] {
            &:before {
                @include font-style(false, $red-circle, false, false);
            }
        }
    }

    &-text {
        @include font-style(14px, $default-color, 400, 1.2);

        display: inline-block;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: all 0.3s ease-in-out;
        font-family: var(--font-inter-normal, Inter, Arial, sans-serif);
    }

    &-ai-marker {
        @include center-all();

        margin-left: auto;
        flex-shrink: 0;

        &-icon {
            @include font-style(18px, $brand-color, false, 1);

            display: inline-flex;
        }
    }
}
