@import "sass/mixins";
@import "sass/primitive/colors/all.scss";
@import "sass/mixins/sizeStyle.scss";
@import 'sass/variables';
@import "sass/mixins/borderRadius.scss";

.rbc-custom-style {
    .rbc-time-view,
    .rbc-time-content,
    .rbc-month-view {
        border: 0;

        .rbc-timeslot-group {
            border-bottom: 0;
        }

        .rbc-day-slot:last-child {
            border-right: 0;
        }
    }

    .rbc-time-header-content {
        .rbc-allday-cell {
            display: none;
        }
    }

    .rbc-time-content>*+*>*,
    .rbc-time-header-content {
        border-left: 0;
    }

    .rbc-time-header-gutter {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .rbc-toolbar {
        display: block;
        /* padding: 0px 30px; */

        margin-bottom: 30px;

        .date-block {
            @include center-between();
    
            button {
                cursor: pointer;
    
                &:active {
                    box-shadow: unset;
                }
    
                &.today-button {
                    font-size: 13px;
                    color: $brand-color;
                    font-weight: 500;
                    line-height: 1.2;
                    box-shadow: none;
                    background: transparent;
                    border: 0px;
                }
        
                &:hover {
                    background: transparent;
                    color: $primary-hover;
                }
            }
        }

        .date-block-title {
            @include font-style(15px, $default-color, 500, 1.4);

            display: block;
            font-family: Inter;
            font-size: 23px;
            color: $default-color;
            margin-right: 6px;
        }

        .rbc-toolbar-label {
            @include font-style(20px, $default-color, 600, 1.2);
    
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px;
            display: inline-block;
            cursor: pointer;
            padding: 0px;
    
            &.customRangeToolbar {
                @include font-style(20px, $default-color, 500, 1.2);
    
                margin: 0px;
                padding: 10px;
    
                @include border-radius(50%);
                
                &:hover {
                    background-color:  $gray20;
                }
    
                & + .today-button {
                    margin-left: 15px;
                }
            }
        }
    }

    .rbc-btn-group {
        @include center-between();

        height: 38px;
    }

    .header-button-group {
        @include center-all();
    }

    .rbc-button-grp {
        @include center-all();
        @include size (auto, 38px);
    
        border-radius: 4px;
        margin-right: 0px;
        background: rgb(245, 245, 245);
        padding: 5px;

        .rbc-active {
            font-size: 13px;
            color: $brand-color;
            font-weight: 500;
            line-height: 1.2;
            border-radius: 4px;
            background: rgb(255, 255, 255);
            box-shadow: rgba(33, 33, 33, 0.1) 0px 2px 5px 2px;
        }

        div {
            font-size: 13px;
            color: rgb(85, 85, 85);
            font-weight: 400;
            line-height: 1.2;
            cursor: pointer;
            padding: 6px 10px;
        }
    }

    .rbc-day-slot {
        border-right: 1px solid $gray40;

        .rbc-events-container {
            border-left: 0;
            margin: 10px;

            .dragged-box {
                opacity: 0.4;
            }

            .rbc-show-more {
                margin-bottom: 10px;
            }

            .drop-wrap {
                display: none;

                .drop-block {
                    border-radius: 8px;

                    @include center-all();

                    padding: 10px;
                    height: 50%;
                    flex-direction: column;
                    border: 1px dashed $gray80;
                    margin-bottom: 12px;
                    background: $gray20;

                    p,
                    span {
                        @include font-style(11px, $default-color, 400, 1.2);

                        text-align: center;
                    }

                    &.selected {
                        background: $blue20;
                        border: 1px dashed $brand-color;
                    }
                }
            }
        }
    }

    .rbc-month-row {
        overflow: visible;
        min-height: 25%;
        height: auto;

        .rbc-row-content {
            z-index: inherit;
            min-height: 118px;
        }

    }

    .rbc-time-header-week-view {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(234, 234, 234);

        .week-view-header {
            display: flex;
            min-height: 38px;

            .rbc-header {
                padding-top: 12px;
                border-left: 0px;
                border-bottom: 1px solid rgb(234, 234, 234);
                position: relative;

            }
        }
    }

    .rbc-today {
        background: transparent;
    } 

    .rbc-time-view,
    .rbc-month-view {
        .rbc-row {
            min-height: 38px;

            .rbc-header {
                padding-top: 12px;
                border-left: 0px;
                border-bottom: 1px solid rgb(234, 234, 234);
                position: relative;

                span {
                    @include font-style(13px, $gray-55, 400, 1.2);
                }

                .icon_phoenix-add-circle {
                    @include size(20px, 20px);
                    @include border-radius(50%);
                    @include center-all();
                    @include abs-position(50%, 10px);

                    background-color: $pale-blue;
                    transform: translateY(-50%);

                    &:before {
                        @include font-style(16px, $brand-color);
                    }
                }

                &.rbc-today {
                    background: transparent;

                    span {
                        @include font-style(13px, $brand-color, 400, 1.2);

                        position: relative;
                    }

                    .date-text {
                        @include size(20px, 20px);
                        @include border-radius(50%);
                        @include center-all();
                        @include abs-position(50%, -25px);
    
                        background-color: $brand-color;
                        color: white;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .rbc-month-view {
        .dragged-box {
            opacity: 0.4;
        }

        .drop-wrap {
            display: none;
            height: 100%;
            padding: 8px 12px 0 12px;

            .drop-block {
                border-radius: 8px;

                @include center-all();

                padding: 10px;
                
                height: calc(100%/2 - 12px);
                flex-direction: column;
                border: 1px dashed $gray80;
                margin-bottom: 12px;
                background: $gray20;
                p,
                span {
                    @include font-style(11px, $default-color, 400, 1.2);

                    text-align: center;
                }

                &.selected {
                    background: $blue20;
                    border: 1px dashed $brand-color;
                }
            }
        }
    }

    .rbc-date-cell {
        z-index: 3;
        text-align: left;
        margin: 4px 4px 0 10px;

        &.rbc-past-date {
            color: $gray-99;
        }

        .rbc-month-view-header-wrapper {
            @include center-vertical();
            @include size("100%", auto);

            justify-content: space-between;

            .rbc-button-link {
                @include size(20px, 20px);

                cursor: pointer
            }

            .icon_phoenix-add-circle {
                @include size(20px, 20px);
                @include border-radius(50%);
                @include center-all();
    
                background-color: $pale-blue;
    
                &:before {
                    @include font-style (16px, $brand-color, false, false);
                }
            }

        }

        .header-hover {
            display: none !important;
        }

        &:hover {
            .header-hover {
                display: flex !important;
            }
        }

        &.rbc-now {
            margin-left: 4px;
            button {
                @include size(24px, 24px);
                @include border-radius(50%);
                @include font-style(11px, white, 400, 1.2);


                background-color: $brand-color;
            }
        }
    }

    .rbc-list-view {
        padding-bottom: 5px;
        margin-top: 88px;

        .calendar-card-box {
            padding-bottom: 40px;
            padding-top: 40px;

            background-color: $white;
            border-bottom: 1px solid $gray40;

            &:first-child {
                padding-top: 20px;
            }

            &.calendar-past-date {
                background-color: $gray10;
            }

            .calendar-date-wrap  {
                margin: 0 auto;

                margin-bottom: 20px;

                @include size(600px, false);
    
                .day-name {
                    @include flexbox();
                    @include font-style(20px, $default-color, 400, false);
                    
                    align-items: center;
                    min-height: 25px;

                    .weekday {
                        @include font-style(20px, $default-color, 500, false);
                    }
    
                    &.current-date-text {
                        .list-date{
                            padding: 5px;

                            @include border-radius(50%);
                            @include size(30px, 30px);
                            @include font-style(17px, $white, 400, false);
                            @include center-all();
    
                            background-color: $brand-color;
                        }
                    }
    
                    &:hover {
                        .add-post-on-date {
                            margin-left: 10px;
                            display: inline-block;
                         }
                    }
                }
    
                .add-post-on-date {
                    display: none;
                    i {
                        margin-top: 5px;

                        @include font-style(20px, $brand-color, 400, false);

                        cursor: pointer;
    
                        &:before {
                            color: $brand-color;
                        }
                    }
                }
            }

            .list-view-besttime-post {
                margin: 0 auto;
                margin-bottom: 20px;

                @include size(600px, null);
                @include flexbox();

                .ai-best-time, ._ai-best-time_vijqr_22 {
                    margin-right: 10px;
                    margin-bottom: 0px;

                    &:hover {
                        border-color: $purple100;
                    }
                }
            }

            .list-view-box-wrapper {
                margin: 0 auto;
                min-height: 48px;
    
                @include size(600px, null);

                .list-view-cards {
                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
    
                .create-post-cta {
                    padding: 15px;

                    @include font-style();
                    @include font-style(15px, $brand-color, 400, false);
                    @include size(100%, null);

                    display: none;
                    background-color: rgba(214, 234, 255, 0.50);
                    gap:0px 10px;
                    outline: none;
                    border:none;
                    cursor: pointer;
                    
                    i {
                        @include font-style(18px, false, false, false);
    
                        &:before {
                          color: $brand-color;
    
                      }  
                    }
                }
            }

            &:hover {
                .create-post-cta {
                    @include center-all();
                 }
            }
    
            &.list-last-card {
                border-bottom: none;
            }
        }
    }

    .no-more-date-list-view {
        max-width: 570px;
        margin: 0px auto;
        text-align: center;
        padding-bottom: 45px;

        @include font-style(15px, $gray-99, 400, 24px);
    }

    .rbc-list-view-shimmer {
        margin-top: 20px;

        .shimmer-list-view-wrapper {
            padding: 10px 61px;
    
            margin-bottom: 20px;
    
            &.initialLoader{
                &:first-child {
                    margin-top: 88px;
                }
            }

            &.custom-list-view-shimmer {
                margin-top: 88px;
            }
        }

        .circular-wrapper {
            @include size(600px, null);
    
            margin: 0 auto;
    
            .bar {
                @include size(96px, 23px);

                border-radius: 6px;
                display: block;
                margin-bottom: 20px;
            }
    
            .circular-shape {
                @include size(28px, 28px);
                @include border-radius(50%);
            }
        }

        .shimmer-card {
            padding: 15px;
            border-radius: 6px;
            margin-bottom: 20px;

            @include size(600px, null);
    
            margin: 0 auto;
    
            border: 1px solid $gray40;
    
            .shimmer-name {
                @include size(100px, 20px);

                border-radius: 6px;
            }
    
            .shimmer-heading {
                @include size(100%, 20px);

                border-radius: 6px;
            }
    
            .shimmer-content {
                @include size(130px, 130px);

                border-radius: 10px;
            }
    
            .shimmer-footer {
                @include size(226px, 20px);

                border-radius: 6px;
                margin-bottom: 0px;
            }
        }

        .bar,
        .circular-shape,
        .shimmer-heading,
        .shimmer-name,
        .shimmer-content,
        .shimmer-footer {
            opacity: 0.5;
            background: rgba(71, 71, 71, 0.20);
            background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(71, 71, 71, 0.20) 51.56%, rgba(255, 255, 255, 0.00) 100%);
            background-repeat: no-repeat;
            border: 1px solid $white;
            background-size: 100% 100%;
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: forwards;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: glareShimmer;
            -webkit-animation-timing-function: linear;
            margin-bottom: 17px;
        }

        @keyframes glareShimmer {
            0% {
                background-position: -468px 0;
            }
    
            100% {
                background-position: 468px 0;
            }
        }
    }

    .rbc-time-header.rbc-overflowing {
        border-right: 0;
    }

    .rbc-week-month-loader {

        .rbc-calendar-shimmer {
            margin-bottom: 10px;
        }

        .month-shimmer {
            background-color: $gray10;
            padding: 8px 10px;
            margin: 30px 8px 0 8px;
            border-radius: 4px;
        }
    
        div {
            &.glare-transition {
                background: $gray40;
                background-image: linear-gradient(to right, $gray40 0%, #edeef1 20%, $gray40 40%, $gray40 100%);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                -webkit-animation-duration: 1s;
                -webkit-animation-fill-mode: forwards;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-name: glareShimmer;
                -webkit-animation-timing-function: linear;

                border-radius: 4px;
            }
    
            &.upper-box {
                @include size(45%, 13px);

                margin-bottom: 10px;
            }
    
            &.middle-box {
                @include size(65%, 13px);

                margin-bottom: 10px;
            }
    
            &.lower-box {
                @include size(100%, 52px);
            }
    
            @keyframes glareShimmer {
                0% {
                    background-position: -150px 0;
                }
                100% {
                    background-position: 150px 0;
                }
            }
        }
    }
}