@import 'sass/mixins/flexBox.scss';
@import 'sass/variables';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/borderRadius.scss';

.box {
  @include flexbox();

  flex-wrap: wrap;
  align-items: flex-start;

  > span {
    margin: 0 5px 6px 0;
  }

  :global {
    .autocomplete {
      flex-grow: 1;
    }

    input.autocomplete__input {
      border: 0;
      min-height: 24px;
      padding: 0;
      margin: 0;
      font-size: 15px;
      outline: none;

      &:focus {
        border: 0;
      }

      &::placeholder {
          color: $gray-55;
      }
    }
  }
}

:global {
  .invalid-error {
    :local {
      .box {
        input:not([type="checkbox"]) {
          border: 0 !important;
          padding: 0;
        }
      }

      .search-fieldwrap {
        border: 1px solid $error-red;
      }
    }
  }
}

.search-fieldwrap {
  background-color: $white;
  border: 1px solid $graye5e;
  padding: 6px 15px 0;
  outline: none;
  -webkit-appearance: none;
  min-height: 38px;
  position: relative;

  @include font-style(15px, $default-color, 400, 1.1);
  @include border-radius(4px);
  @include size(100%, auto);

  transition: border 0.2s ease;

  &.disabled {
    border-color: $graye5e;
    background-color: $pale-blue;
  }

  .error-txt {
    @include font-style(12px, $dark-red, normal);
    margin-bottom: 10px;
  }
}

// need to move the css to path /account/phoenixUsers/usersStyle.js
// :global {
//   .userRemoveSearchModal {
//     .search-fieldwrap {
//       position: relative;
//     }

//     .error-txt {
//       @include abs-position(false, false, -30px, 0);
//     }
//   }
// }
// need to move the css to path /account/phoenixUsers/usersStyle.js