@import "sass/variables";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/textOverflow.scss";
@import "sass/mixins/flexBox.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/flexCenterVertical.scss";

.dropdown-box {
  position: relative;
  margin-bottom: 10px;
  min-height: 34px;

  &.disable-selection {
    .default-filter {
      cursor: default;
    }

    :global {
      .icon_phoenix-sort {
        visibility: hidden;
      }
    }
  }

  &.multi-select-box {
    .text {
      margin: 0 0 0 8px;
      width: 78%;
      line-height: 1.4;
      height: 19px;
    }

    .dropdown-open {
      > div {
        width: 100%;
      }

      .tooltip-inner-wrapper {
        width: 100%;
      }

      display: block;
    }
  }

  &.extendedWidth {
    .filter-dropdown {
      width: 280px;
      right: 0;
      top: calc(100% + 6px);
      border: 0;

      &.tooltip-filter-dropdown {
        top: calc(100% + 9px);
        z-index: 9;
      }
    }

    .dropdown-open {
      min-height: 55px;
      width: 280px;
      right: 0;
      left: auto;
    }

    .hide-head {
      &.filter-dropdown {
        top: 0;
        padding: 10px 0;
      }
    }
  }

  /*---------multiselect no-label -------*/
  &.no-head-dropdowns {
    .dropdown-open {
      display: none;
    }

    .filter-dropdown {
      padding: 10px 0;
      top: 0;

      @include border-radius(6px);
    }
  }

  /*---------multiselect inline-mode -------*/
  &.inline-mode {
    margin: 0;
    min-height: initial;

    .selected-values-wrapper {
      display: inline-flex;
      align-items: center;
      margin-right: 5px;

      .selected-values-label {
        @include font-style(14px, $brand-color, 500, 1.1);
      }

      i {
        font-size: 16px;

        &:before {
          color: $brand-color;
        }
      }
    }

    .dropdown-open {
      display: block;
    }

    .default-filter {
      border: 0;
      min-height: initial;
      background-color: transparent;
      padding: 0;
      position: static;
      box-shadow: none;
    }
  }

  &.icon-mode {
    display: inline-block;
    position: relative;
    top: -45px;
    left: 8px;

    .default-filter {
      border: 0;
      min-height: initial;
      background-color: transparent;
      padding: 0;
      position: static;
      box-shadow: none;
    }
  }

  &.icon-mode-open-dropdown {
    position: relative;
    top: -48px;
    left: 0;
  }

  .reset-btn {
    @include abs-position(10px, 13px);
    @include font-style(16px, $gray-55, 400, 1);

    :global {
      .icon_phoenix-close {
        cursor: pointer;

        &:before {
          color: $gray-55;
        }
      }
    }
  }

  .default-value-label {
    pointer-events: none;
  }

  .label-text {
    @include abs-position(20px, false, false, 8px);
  }

  &.height-large {
    // min-height: 44px;

    // .filter-dropdown {
    //     top: calc(100% + 14px);
    // }

    opacity: 1;
  }

  h3 {
    margin: 15px 20px;

    @include font-style(14px, $gray-55, 500, 1.1);
  }

  h4 {
    // @include abs-position (-27px, false, false, 20px);
    @include font-style(14px, $gray-99, 500, 1.1);
  }

  &.open-top {
    .dropdown-open {
      border-radius: 0 0 6px 6px;
      z-index: 9;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      top: calc(100% - 56px);
    }

    :global {
      .top {
        border-radius: 6px;
        border-bottom: 1px solid $gray-ece;
        z-index: 9;
        margin-bottom: 0 !important;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
        top: auto;
        bottom: 0;

        &:local {
          &.hide-head {
            bottom: 0;

            li:first-child {
              border-radius: 6px 6px 0 0;
            }

            li:last-child {
              border-radius: 0;
            }
          }
        }
      }
    }
  }

  &.inline-mode-wrapper {
    margin: 0;
    min-height: 15px;
    position: relative;
    min-width: 24px;
    float: left;
    // line-height: 1;

    .inline-mode {
      border: 0;
      padding: 0;
      min-height: auto;
      background: inherit;
      display: inline-block;

      &.dropdown-open {
        position: static;
        border-radius: 0;
        box-shadow: none;
      }

      .label-top {
        @include font-style(14px, $brand-color, 500, 1.1);

        display: inline-flex;
        align-items: center;
        margin: 0 3px 0 5px;

        i {
          position: relative;
          top: 1px;

          &:before {
            color: $brand-color;
          }
        }
      }

      /*------singleselect in page-header----*/
      &.inline-title-box {
        .label-top {
          @include font-style(23px, $default-color, 500, 1.4);

          margin-left: 0;
          font-family: $inter-font;

          i {
            top: -3px;
            left: 3px;

            &:before {
              @include font-style(16px, $gray-55);
            }
          }
        }

        .inline-mode-selected-values {
          margin-left: 0;

          .selected-values-label {
            @include font-style(23px, $default-color, 500, 1.4);

            margin-right: 3px;
            font-family: $inter-font;
          }

          i {
            position: relative;
            top: 2px;

            &:before {
              @include font-style(16px, $gray-55);
            }
          }
        }
      }
    }

    .inline-mode-selected-values {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px 0 5px;

      .selected-values-wrapper,
      .selected-default-wrapper {
        display: inline-flex;
        align-items: center;

        .selected-values-label {
          @include font-style(13px, $brand-color, 500);

          float: left;
        }

        i {
          font-size: 14px;

          &:before {
            color: $brand-color;
          }
        }
      }

      .selected-default-wrapper {
        .selected-values-label {
          color: $default-color;
        }

        i {
          &:before {
            color: $default-color;
          }
        }
      }

      .single-page-header {
        .selected-values-label {
          @include font-style(23px, $default-color, 500, 1.2);

          font-family: $inter-font;
        }

        i {
          margin-left: 2px;
          margin-top: 3px;

          &:before {
            font-size: 20px;
          }
        }
      }
    }

    .inline-mode-dropdown {
      min-width: 145px;
      padding: 0;
      margin: 0;

      &.left {
        right: 0;
      }

      ul {
        padding: 10px 0;

        @include border-radius(6px);
      }
    }

    :global {
      .popover-highlight-btn {
        :local {
          .inline-mode {
            padding: 3px;
          }
        }
      }
    }

    &:global {
      &.location-switcher-text {
        :local {
          .selected-values-wrapper {
            .selected-values-label {
              @include font-style(14px, $gray-55, 500);
            }
          }

          .inline-mode-selected-values {
            margin: 0;
          }
        }
      }
    }

    &.show-ellipsis {
      .inline-mode,
      .label-top {
        width: 100%;
      }

      .popup-label-name {
        width: calc(100% - 16px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .inline-mode-selected-values {
        width: 100%;

        .selected-values-wrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .selected-values-label {
            max-width: calc(100% - 16px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }

  &.large-selectbox {
    .default-filter {
      min-height: 52px;
      padding: 17px 35px 17px 15px;

      .reset-btn {
        top: 17px;
      }
    }

    .text,
    .selected-values {
      i {
        vertical-align: text-top;
        margin-right: 10px;
        font-size: 16px;
      }
    }
  }

  &:global {
    &.em-select {
      :local {
        .default-filter {
          max-height: 34px;
        }
      }
    }
  }
}

.selected-default-wrapper {
  @include font-style(13px, false, 400, 1.4);
}

.select-box {
  padding: 8px 35px 8px 15px;

  @include border-radius(8px);

  background-color: $phoenix-nav;
  position: relative;
  cursor: pointer;
  min-height: 34px;

  .tooltip-inner-wrapper {
    width: 100%;

    &.width-calc {
      width: calc(100% - 18px);
      max-height: 16px;
    }

    :global {
      .tootip-parent {
        position: static;
      }

      .tooltip-dark {
        left: 0;
        transform: none;
        white-space: normal;

        .inner {
          white-space: normal;
        }
      }
    }
  }

  &.dropdown-open {
    border-radius: 6px 6px 0 0;
    background: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    min-height: 53px;
    padding: 19px 20px;
    width: 100%;
    z-index: 1;

    @include abs-position(0, false, false, 0);

    position: absolute;
    top: 0;
    left: 0;

    &:hover {
      background: $white;
    }

    .reset-btn {
      display: none;
    }

    label {
      font-size: 11px;
      line-height: 0.91;
      color: $gray-455;
      margin-bottom: 5px;

      &.no-text-transform {
        text-transform: none;
      }
    }

    .selected-values {
      @include font-style(13px, $gray-99, 500, 1.2);
    }

    & + .filter-dropdown {
      top: calc(100% + 5px);
    }
  }

  &:hover {
    background: $filter-hover;
  }

  label {
    @include font-style(9px, $gray-455, false, 1.2);

    margin-bottom: 2px;
    cursor: pointer;
    display: none;
  }

  .selected-values {
    @include font-style(14px, $brand-color, 500, 1.2);
    @include text-overflow();

    &:first-letter {
      text-transform: uppercase;
    }

    &.no-text-transform {
      &:first-letter {
        text-transform: none;
        /*------for rules in campaigns-----*/
      }
    }
  }

  .no-capitalize {
    text-transform: lowercase;
  }

  &.disabled-select-box {
    cursor: default;
    pointer-events: none;
    background-color: $pale-blue;
    position: relative;
    border: solid 1px $graye5e;
    padding: 9px 35px 9px 15px;

    .selected-values,
    label {
      color: $gray-cc;
      cursor: default;
    }

    .selected-values {
      font-weight: 400;
    }

    &:hover {
      background: rgba(25, 118, 210, 0.08);
    }

    .reset-btn {
      @include abs-position(10px, 13px);
      @include font-style(16px, $gray-cc);
    }

    &.no-border {
      border: 0;

      .selected-values {
        background-color: $pale-blue;
      }
    }
  }

  + .filter-dropdown {
    top: calc(100% + 16px);
  }
}

.default-filter {
  @include border-radius(8px);

  position: relative;
  cursor: pointer;
  min-height: 34px;
  border: solid 1px $graye5e;
  background-color: $white;
  padding: 8px 35px 8px 15px;

  .label-top {
    @include font-style(14px, $gray-55, false, 1.1);

    width: 100%;
    margin: 0;
    cursor: pointer;
    display: block;
    text-transform: lowercase;

    @include text-overflow();

    &:first-letter {
      text-transform: uppercase;
    }

    &.text-transform-none {
      text-transform: none;
    }

    :global {
      .custom-label-header {
        width: 100%;
        position: relative;

        span:first-letter {
          text-transform: uppercase;
        }

        .icon_phoenix-close {
          position: absolute;
          font-size: 24px;
          right: 0;

          &:before {
            color: #000;
          }
        }
      }
    }
  }

  label {
    color: $gray-99;
    font-size: 14px;
    text-transform: lowercase;

    &:first-letter {
      text-transform: uppercase;
    }

    &.text-transform-none {
      text-transform: none;
    }
  }

  .selected-values {
    @include font-style(14px, $gray-55, false, 1.1);
    @include text-overflow();
  }

  &:hover {
    background: $pale-blue;
  }

  &.dropdown-open {
    border-radius: 6px 6px 0 0;
    background: $white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    padding: 19px 20px;
    border: solid 1px transparent;
    cursor: default;

    &.hide-head {
      display: none;
    }

    @include abs-position(0, false, false, 0);

    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 55px;
    display: flex;
    align-items: center;
    z-index: 9;

    &:hover {
      background: $white;
    }

    .reset-btn {
      display: none;
    }

    .label-top,
    .selected-values,
    label {
      @include font-style(13px, $gray-99, 500, 1.2);

      text-transform: lowercase;

      &.text-transform-none {
        text-transform: none;
      }
    }

    label.no-text-transform {
      text-transform: none;
    }

    &:first-letter {
      text-transform: uppercase;
    }

    &.custom-header {
      border-bottom: 1px solid #ccc;
      min-height: 74px;
      padding: 30px;
      border: 0;
    }
  }

  .tooltip-inner-wrapper {
    :global {
      .tone-color {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        margin-right: 7px;
        outline: 1px solid $light-grey-border;
        outline-offset: 1px;
      }

      .tooltip-dark {
        transform: none;
        left: 0;
        right: auto;

        .inner {
          white-space: normal;

          > div {
            display: inline-block;
            margin-right: 3px;
          }
        }
      }
    }
  }

  &:global {
    &.blue-label {
      border-color: $brand-color;
      background: $phoenix-nav;

      &:hover {
        background: $phoenix-nav;
      }

      div[class*="selected-values"] {
        color: $brand-color;
        font-weight: 500;
      }
    }
  }
}

// :global {
//     .em-assignee-list {
//         :local {
//             .default-filter {
//                 .dropdown-open {
//                     .label-top {
//                         text-transform: unset;
//                     }
//                 }

//                 .label-top {
//                     text-transform: unset;
//                 }
//             }
//         }
//     }
// }

/*------styling with left icon both cases enabled and disabled select start----*/
.default-filter,
.large-box {
  position: relative;

  &.with-icons {
    padding: 10px 10px 10px 41px;

    i {
      @include abs-position(10px, false, false, 15px);

      &:before {
        @include font-style(16px, $gray-55);
      }
    }

    &.dropdown-open {
      border-radius: 6px 6px 0 0;
      padding: 16px 20px;

      // for assigned to inside dropdown
      .label-top {
        .popup-label-name {
          width: 100%;
          overflow: auto;
          white-space: nowrap;
          display: block;
        }
      }

      i {
        display: none;
      }
    }

    &.disabled-wrap {
      background-color: $gray-f9f;

      .disabled-select-box {
        padding: 0;
        min-height: initial;

        .selected-values {
          line-height: 1.6;
        }

        label {
          display: none;
        }

        .reset-btn {
          top: 4px;
          right: 0;
        }
      }
    }

    .reset-btn {
      &:not(.cheveron_open) {
        top: 11px;
      }

      &.default-value-label {
        top: 11px;
      }
    }

    .label-top {
      .popup-label-name {
        width: calc(100% - 20px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }

    .label-top {
      .popup-label-name {
        width: calc(100% - 20px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
    }
  }
}

// :global {

//     .locations-wrapper,
//     .qr-code-drawer {
//         :local {
//             .default-filter {
//                 .reset-btn {
//                     &.default-value-label {
//                         top: 10px;
//                     }
//                 }
//             }
//         }
//     }
// }

:global {
  .multipleChoice-dropdown {
    :local {
      .default-filter {
        .reset-btn {
          &.default-value-label {
            top: 10px;
          }
        }
      }
    }
  }
}

/*------styling with left icon both cases enabled and disabled select end----*/

.large-box {
  margin-bottom: 10px;

  .filter-dropdown {
    min-width: 238px;
    max-width: 650px;
    width: 100%;
    z-index: 99;
  }

  .select-box {
    &.dropdown-open {
      padding: 19px 20px;
    }
  }
}

.show-icon {
  i {
    position: static;
  }
}

.filter-dropdown {
  background: $white;
  width: 100%;
  box-shadow: $elevation-card-shadow;
  position: absolute;
  border-radius: 0 0 $elevation-popover-radius $elevation-popover-radius;
  z-index: 9;
  top: calc(100% + 7px);
  margin-bottom: 5px;
  text-align: left;
  padding-bottom: 10px;

  &.rounded-edges {
    border-radius: 6px;
    top: 0;
    max-width: 121px;
  }

  &.selectbox-right {
    right: 0;
    left: auto;
  }

  &.xs-height {
    ul {
      max-height: 160px;
    }
  }

  ul {
    max-height: 193px;
    overflow-y: auto;
    overflow-x: hidden;

    .sub-list {
      li {
        padding-left: 24px;

        &:first-of-type {
          padding-left: 0;
        }
      }
    }

    li {
      position: relative;
      line-height: 1.3;
      cursor: pointer;

      label {
        padding: 9.5px 20px;
        cursor: pointer;

        @include flexbox();

        align-items: center;

        section {
          &:first-child {
            width: initial;
            height: initial;
          }
        }

        &.group-head {
          margin-top: 40px;
          position: relative;
        }

        &.ss-label-full {
          padding: 0;
        }
      }

      input[type="radio"] {
        opacity: 0;
        position: absolute;
        cursor: pointer;
      }

      :global {
        .icon_phoenix-checkmark {
          font-size: 18px;

          @include abs-position(10px, 18px, false, false);

          color: $default-color;

          &:before {
            content: "\ed993";
          }
        }
      }

      &:hover {
        background: $pale-blue;
      }

      &.selected {
        background: $white;
        cursor: default;
      }

      &:last-child,
      &:nth-last-child(2) {
        :global {
          .tooltip-dark {
            bottom: 100%;
            top: auto;
          }

          .inner {
            &:after {
              transform: rotate(180deg);
              bottom: -10px;
              top: auto;
            }
          }
        }
      }

      &.disabled-list {
        cursor: not-allowed;

        label {
          cursor: not-allowed;
        }

        .text {
          color: $gray-cc;
          cursor: not-allowed;
        }

        &:hover {
          background-color: $pale-blue;
        }
      }

      &.disableHover {
        &:hover {
          background-color: transparent;
          cursor: auto;
        }
      }

      &:global {
        &.ms-no-results {
          padding: 9.5px 20px;
        }

        &.change-icon-size,
        &.label-with-icon {
          i {
            position: relative;
            top: -1px;
            font-size: 16px;
          }
        }

        &.label-with-icon {
          border-top: 1px solid $light-grey-border;
          margin-top: 10px;

          &:hover {
            background: transparent;
          }

          label {
            margin-top: 10px;

            &:hover {
              background: $pale-blue;
            }
          }

          &.bottom-border {
            border-bottom: 1px solid $light-grey-border;
            margin-bottom: 10px;

            label {
              margin-bottom: 10px;
            }

            .icon_phoenix-checkmark {
              top: 19px;
            }
          }
        }
      }

      .editText {
        @include abs-position(10px, 20px, false, false);
      }
    }

    .tooltip-wrapper {
      width: calc(100% - 25px);
      display: inline-block;

      :global {
        .tootip-parent {
          position: static;

          > span {
            width: 100%;
            max-width: 100%;

            &.custom-creatorname-box {
              @include font-style(14px, $gray-55, 400, "16px");
              @include size(100%, auto);
              @include text-overflow();

              display: inline-block;

              .custom-nametxt-box {
                @include font-style(13px, $gray-99, 400, "15px");
                @include size(100%, auto);
                @include text-overflow();

                display: block;
                margin-top: 2px;
              }

              &.custom-phoenix-icon-align {
                display: flex;
                align-items: center;
                gap: 4px;
              }
            }
          }

          .tooltip-dark {
            transform: none;
            left: 12px;
            margin-right: 12px;

            div {
              white-space: normal;
            }
          }
        }
      }

      .hierarchyValue {
        max-width: 170px;
        display: inline-block;
        vertical-align: middle;

        @include text-overflow();
      }

      &.wrapper-with-icon {
        @include flexbox();

        align-items: center;
        cursor: pointer;
        width: calc(100% - 40px);

        :global {
          .tootip-parent {
            width: 100%;
          }

          .question-wrap {
            line-height: 0;
            margin-left: 5px;

            .icon_phoenix-question-circle:before {
              color: $gray-99;
            }
          }

          .label-width-override {
            width: auto !important;
          }
        }
      }

      &.ss-tooltip-full {
        width: 100%;
      }
    }
  }

  .text {
    @include font-style(14px, $gray-55, false, 1.14);

    cursor: pointer;
    display: block;
    vertical-align: middle;
    max-width: calc(100% - 22px);

    @include text-overflow();

    &.selected {
      font-weight: 500;
      max-width: calc(100% - 10px);
      display: inline-block;
      color: $default-color;
    }
  }

  .hierarchy-label {
    .text {
      color: $brand-color;
      margin-top: -3px;
    }

    :global {
      .icon_phoenix-add-circle {
        font-size: 24px;

        &:before {
          color: $brand-color;
        }
      }
    }
  }

  .option-fade {
    opacity: 0.5;
    pointer-events: none;
  }

  .btn-wrapper {
    margin-bottom: 10px;
    padding-top: 20px;
    border-top: solid 1px $gray-ece;
  }

  :global {
    .highlight {
      background: $grey-bg;
    }
  }

  .form-box {
    position: relative;
    padding: 10px 20px;

    div {
      width: 100%;
    }

    .search-btn {
      @include abs-position(21px, 32px);

      font-size: 14px;
      cursor: pointer;
    }
  }

  .scroll-to-element {
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }

  &.hide-head {
    top: 0;
    border-radius: $elevation-popover-radius;
    padding: 0;
    box-shadow: $elevation-card-shadow;

    ul {
      li {
        &:first-child {
          border-radius: 6px 6px 0 0;
        }

        &:last-child {
          border-radius: 0 0 6px 6px;
        }
      }
    }
  }

  &.tooltip-filter-dropdown {
    top: calc(100% + 9px);
    z-index: 9;
  }

  &.open-center {
    left: 50%;
    transform: translateX(-50%);
  }

  &.custom-dropdown-popup {
    top: calc(100% + 37px);

    .form-box {
      padding: 20px 30px;
    }

    ul {
      max-height: 216px;
      padding: 0 30px;

      :global {
        .templates-row-item {
          border-bottom: 1px solid #cccccc4d;
          padding: 16px 0 11px;
        }

        .helper-tip {
          h1 {
            @include font-style(13px, #212121, 400, 15.23px);

            margin-bottom: 8px;
          }

          p {
            word-break: break-word;
            white-space: normal;

            @include font-style(11px, #8f8f8f, 400, 16px);
          }
        }
      }
    }
  }
}

:global {
  .color-picker-wrapper {
    + div {
      &:local {
        &.filter-dropdown {
          ul li.selected {
            outline-color: #999555 !important;
          }
        }
      }
    }
  }
}

.hierarchy-dropdown {
  position: absolute;
  width: 320px;
  top: 295px;
  padding: 20px;
  background: $white;
  border-radius: $elevation-popover-radius;
  box-shadow: $elevation-card-shadow;
}

.filter-custom-dropdown {
  top: calc(100% - 44px);
  pointer-events: none;

  .text,
  .selected-values {
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
    font-family: Inter;
  }
}

.group-head {
  h4 {
    @include abs-position(-27px, false, false, 15px);
    @include font-style(14px, $gray-55, 500, 1.1);
  }
}

.expansion-dropdown {
  @include abs-position(0, 0);

  border-radius: $elevation-popover-radius;
  box-shadow: $elevation-card-shadow;
  white-space: nowrap;
  margin-bottom: 5px;
  background: $white;
  z-index: 9;
  margin-top: 1px;

  ul {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 10px 0;

    li {
      padding: 2px 12px;
      position: relative;

      &:hover {
        background-color: $pale-blue;
      }

      input[type="radio"] {
        opacity: 0;
        position: absolute;
      }

      .text {
        @include font-style(14px, $gray-55, false, 1.14);

        cursor: pointer;
        display: inline-block;
        vertical-align: middle;

        @include text-overflow();

        &.selected {
          font-weight: 500;
        }
      }

      :global {
        .icon_phoenix-checkmark {
          position: absolute;

          @include font-style(14px, $gray-55);
        }
      }

      &:last-child,
      &:nth-last-child(2) {
        :global {
          .tooltip-dark {
            bottom: 100%;
            top: auto;
          }

          .inner {
            &:after {
              transform: rotate(180deg);
              bottom: -10px;
              top: auto;
            }
          }
        }
      }

      &.no-result {
        height: 100%;
        min-height: 74px;
        display: table;
        width: 100%;
        text-align: center;

        span {
          display: table-cell;
          vertical-align: middle;
          color: $gray-99;
        }

        &:hover {
          background: $white;
        }
      }
    }

    .tooltip-wrapper {
      width: calc(100% - 42px);
      display: inline-block;

      :global {
        .tootip-parent {
          position: static;

          span {
            width: 100%;
            max-width: 100%;
          }

          .tooltip-dark {
            transform: none;
            left: 12px;
            margin-right: 12px;

            div {
              white-space: normal;
            }
          }
        }
      }
    }
  }

  .panel-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .expansion-searchfield {
    padding: 20px 20px 0;
    position: relative;

    div {
      width: 100%;
    }
  }

  .btn-wrapper {
    padding: 20px;
    border-top: solid 1px $gray-ece;
  }

  .select-box {
    &.dropdown-open {
      border-bottom: solid 1px $gray-ece;
      box-shadow: none;
      //padding: 14.5px 24px;
      cursor: auto;
      position: static;

      label {
        cursor: auto;
      }
    }
  }

  &.left {
    left: 0;
    right: auto;
  }
}

.expansion-dropdown {
  .expansion-selection {
    padding: 0;
    border-bottom: solid 1px $gray-ece;

    .expansion-filter-top {
      padding: 19px 0 15px;
      border-bottom: solid 4px transparent;
      margin-right: 50px;
      display: inline-block;

      @include font-style(14px, $gray899);

      cursor: pointer;

      .expansion-count {
        min-width: 32px;
        display: inline-block;

        .selection-count {
          margin-left: 5px;
          position: relative;
          top: -1px;
        }
      }

      &:last-of-type {
        margin: 0;
      }

      &.active {
        color: $default-color;
        font-weight: 500;
        border-color: $dark-blue-selected;
      }
    }

    li {
      &:hover {
        background: $white;
      }

      padding-bottom: 12px;

      &:global {
        &.activeClass {
          a {
            &:before {
              width: 88%;
            }
          }
        }
      }
    }

    &.tabs-ul {
      padding: 0 20px;
      overflow: hidden;

      li {
        padding: 0 0 4px;
      }
    }
  }
}

.filter-select-box {
  display: inline-block;
  width: calc(100% / 3 - 40px);
  margin-right: 60px;
  vertical-align: top;
  min-height: 66px;

  &:nth-of-type(3n) {
    margin-right: 0;
  }

  &:nth-last-child(2),
  &:nth-last-child(3),
  &:last-child {
    margin-bottom: 0;
  }

  .filter-dropdown {
    position: fixed;
    width: 273px;
    top: auto;
  }
}

// :global {
//     .breadcrumblist {
//         .location-switcher-link {
//             .custom-scroll {
//                 max-height: 320px;
//             }
//         }
//     }
// }

:global {
  .invalid-error {
    :local {
      .default-filter {
        border: 1px solid $error-red;

        &.dropdown-open {
          border: 1px solid transparent;
        }
      }
    }

    &:local {
      &.dropdown-box {
        .reset-btn {
          display: none;
        }
      }
    }
  }

  .inline-selectbox {
    :local {
      .inline-mode-wrapper {
        .inline-mode {
          display: inline-flex;
        }

        .inline-mode-selected-values {
          .selected-values-wrapper {
            .selected-values-label {
              @include font-style(14px, $brand-color, 500, 1.1);
            }

            .no-text-transform:first-letter {
              text-transform: lowercase;
              /*------for rules in campaigns-----*/
            }

            i {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  .modal-scroll {
    :local {
      .filter-dropdown {
        .wrapper-with-icon {
          :global {
            .tootip-parent {
              max-width: 100%;
              width: auto !important;
            }
          }
        }
      }
    }
  }
}

.token-option {
  strong {
    display: block;
    color: $default-color;
    font-weight: 500;
  }

  span {
    color: $gray-55;
    font-size: 13px;
  }
}

// :global {
//     .link-dropdown {
//         :local {
//             .filter-dropdown {
//                 ul {
//                     padding: 0 15px 15px;

//                     li {
//                         box-shadow: inset 0 -1px 0 0 rgba(221, 227, 230, 0.5);

//                         &:last-child {
//                             box-shadow: unset;
//                         }

//                         label {
//                             padding: 15px;
//                         }
//                     }
//                 }
//             }

//             .token-option {
//                 strong {
//                     font-weight: 400;
//                     font-size: 14px;
//                     margin-bottom: 6px;
//                 }

//                 span {
//                     color: $gray-99;
//                 }
//             }
//         }

//         ul {
//             .custom-list-view {
//                 li {
//                     label {
//                         padding: 15px 5px 15px 15px;

//                         strong {
//                             @include text-overflow();
//                         }

//                         :local {
//                             .tooltip-wrapper {
//                                 @include size (auto, auto);

//                                 max-width: 100%;
//                             }

//                             .token-option {
//                                 @include text-overflow();
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .hierarchyModalDropdowns {
//         .dropdown-popup {
//             .icon {
//                 &.tootip-parent {
//                     >span {
//                         max-width: 400px;

//                         @include text-overflow;
//                     }
//                 }
//             }
//         }
//     }
// }

.show-link {
  padding: 0;
  border: 0;
  min-height: auto;
  text-align: left;

  &:hover {
    background-color: $white;
  }

  .label-top {
    @include font-style(14px, $brand-color, 400, 1.1);
    @include flexbox();

    text-align: right;
    white-space: initial;

    .reset-btn {
      position: static;

      @include font-style(16px, $gray-55);

      transform: rotate(180deg);
      display: inline-block;
      vertical-align: middle;
    }

    :global {
      .icon_phoenix-cheveron_open {
        &:before {
          content: "\e957";
          color: $brand-color;
        }
      }
    }

    &.no-text-transform {
      text-transform: none;
    }
  }
}

// :global {
//     .calander-select-wrapper {
//         margin-top: 18px;
//         margin-bottom: 18px;

//         :local {
//             .dropdown-box {
//                 margin-bottom: 0;
//             }

//             .filter-dropdown {
//                 width: 112px;

//                 ul {
//                     .tooltip-wrapper {
//                         width: 100%;
//                     }
//                 }
//             }
//         }

//         .icon {
//             &.icon_phoenix-checkmark {
//                 @include abs-position(11px, 8px, false, false);
//             }
//         }

//         .pst-wrapper {
//             @include flexbox();

//             align-items: center;
//         }

//         .separator-box {
//             position: relative;

//             &:after {
//                 content: ":";
//                 display: inline-block;

//                 @include font-style (19px, $gray-55, 500, 1.1);
//                 @include abs-position(8px, -8px, false, false);
//             }
//         }
//     }
// }

/*------styling with left icon----*/
// :global {
// .country-phone-wrap {
//     position: relative;

//     :local {

//         /*------country wrap with selectbox enabled ----*/
//         .default-filter {
//             border: 0 !important;
//             min-height: 24px;
//             padding: 4px 12px 4px 31px;
//             background-color: $white;

//             &.dropdown-open {
//                 width: 215px;
//                 min-height: 53px;
//                 padding: 16px 20px;
//                 left: 15px;
//                 top: 15px;
//             }
//         }

//         .filter-dropdown {
//             top: calc(100% + 25px);
//         }

//         .dropdown-box {
//             min-height: 24px;
//             min-width: 73px;

//             .with-icons {
//                 .reset-btn {
//                     @include abs-position (2px, false, false, false);
//                 }
//             }
//         }

//         .reset-btn {
//             @include abs-position (2px, 1px);
//             @include size (10px, 10px);

//             >span {
//                 font-size: 0;
//                 border-left: 5px solid transparent;
//                 border-right: 5px solid transparent;
//                 border-top: 5px solid $gray-55;
//             }
//         }

//         /*------country wrap with selectbox disabled ----*/
//         .disabled-wrap {
//             padding: 0;
//             min-height: 24px;
//             min-width: 73px;
//             background-color: transparent !important;

//             /*------overriding css for country wrap---*/

//             .disabled-select-box {
//                 padding: 0 12px 0 6px !important;
//                 margin-left: 25px;
//             }

//             .selected-values {
//                 background-color: $gray-f9f;
//             }

//             .reset-btn {
//                 margin: -1px 2px 0 0;

//                 >span {
//                     border-top: 5px solid $gray-cc;
//                 }
//             }
//         }

//         .disabled-wrap {
//             margin-bottom: 0;
//         }
//     }

//     &:global {
//         &.valid {
//             .error-tooltips {
//                 display: none;
//             }
//         }
//     }
// }

// .mapping-box {
//     :local {
//         .filter-dropdown {
//             ul {
//                 .tooltip-wrapper {
//                     width: 100%;
//                 }
//             }
//         }
//     }
// }

// .filter-modal-rules {
//     >button {
//         &:first-child {
//             margin-top: 5px;
//         }
//     }

//     .w-240 {
//         :local {

//             .dropdown-open,
//             .filter-dropdown {
//                 width: 240px;
//             }
//         }
//     }
// }
// }

[class^="select-box-"],
[class*="select-box-"] {
  max-width: initial !important;
}

.select-box-x-small {
  width: 120px;
}

.select-box-small {
  width: 160px;
}

.select-box-medium {
  width: 200px;
}

.select-box-large {
  width: 240px;
}

.select-box-x-large {
  width: 280px;
}

.select-box-xx-large {
  width: 320px;
}

.select-box-xxx-large {
  width: 560px;
}

.select-box-xxxx-large {
  width: 800px;
}

// moved with el-ss-selected-values-label and el-ss-label-top
// :global {
//     .max-limit {
//         :local {
//             .selected-values-label {
//                 @include text-overflow();

//                 max-width: 920px;
//             }
//         }
//     }

//     .no-text-transform {
//         :local {
//             .label-top {
//                 text-transform: none !important;
//             }
//         }
//     }
// }

// moved with el-ss-default-filter and el-ss-selected-values
// :global {
//     .apple-select-disabled {
//         :local {
//             .default-filter {
//                 cursor: default;
//                 background-color: $pale-blue;
//                 position: relative;
//                 border: solid 1px $light-grey-border;

//                 label,
//                 span {
//                     color: $gray-cc;
//                 }

//                 .selected-values {
//                     color: $gray-cc;
//                 }
//             }
//         }

//         .no-iconhover {
//             span {
//                 color: $white;
//             }
//         }
//     }
// }

/*-------tooltip in head-----*/
.dropdown-open {
  &.label-with-tooltip {
    z-index: 10;
    box-shadow: 0 -3px 4px 0 rgba(0, 0, 0, 0.09);

    .label-top,
    .selected-values {
      @include flexbox();

      align-items: center;

      :global {
        .tooltip-popover {
          line-height: 0;
          margin-left: 5px;
        }

        .icon_phoenix-question-circle {
          font-size: 16px;

          &:before {
            color: $gray-99;
          }
        }
      }
    }

    .label-top {
      text-transform: capitalize;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 1150px) {
  .large-box {
    .filter-dropdown {
      position: relative !important;
      top: 0 !important;
    }

    .time-period-dd {
      max-height: 435px;
      overflow: visible;
    }

    .default-filter,
    .dropdown-open {
      position: static;
    }

    .default-filter {
      :global {
        .tootip-parent {
          width: 100%;
        }
      }
    }
  }

  .dropdown-box {
    &.open-top {
      .dropdown-open {
        position: absolute;
        display: block;
      }

      :global {
        .top {
          position: fixed !important;
          top: auto !important;
        }
      }
    }
  }

  :global {
    .max-limit {
      :local {
        .selected-values-label {
          max-width: 720px;
        }
      }
    }
  }
}

// moved with el-ss-label-top and el-ss-dropdown-open
// :global {
//     .text-area-container {
//         .Qna-textarea-count-wrapper {
//             :local {
//                 .label-top {
//                     position: absolute;
//                     right: 160px;
//                     top: -18px;
//                 }

//                 .dropdown-open {
//                     .label-top {
//                         @include font-style (14px, $blue100, 400, 1.1);

//                         display: -webkit-box;
//                         display: -ms-flexbox;
//                         display: flex;
//                         text-align: right;
//                         white-space: normal;
//                     }
//                 }
//             }
//         }
//     }
// }

// moved with el-ss-filter-dropdown, el-ss-scroll-to-element
// :global {
// .faq-add-location,
// .faq-ans-text-sidedrawer {
//     :local {
//         .filter-dropdown {
//             padding-bottom: 0;

//             .scroll-to-element {
//                 position: relative;
//                 visibility: unset;
//                 padding: 6px;
//             }
//         }
//     }
// }
// }

// only used for multiselect
// :global {
// .service-locations {
//     :local {
//         .default-filter {
//             &.with-icons {
//                 padding: 8px 35px 8px 15px;

//                 &.dropdown-open {
//                     padding: 20px 35px 10px 15px;
//                 }
//             }
//         }
//     }
// }

// moved with el-ss-filter-dropdown, el-ss-scroll-to-element, el-ss-tooltip-wrapper
// .service-category,
// .service-locations {
//     :local {
//         .filter-dropdown {
//             padding-bottom: 0;

//             .scroll-to-element {
//                 position: relative;
//                 visibility: unset;
//                 padding: 6px;
//             }
//         }

//         .tooltip-wrapper {
//             :global {
//                 .tootip-parent {
//                     .tooltip-dark {
//                         top: auto;
//                         bottom: 0 !important;
//                         left: 3px !important;

//                         .inner {
//                             left: auto !important;
//                             width: 258px !important;
//                             position: relative;

//                             @include font-style (11px, $white, 400, 17px);
//                         }

//                         .inner span {
//                             @include font-style (11px, $white, 400, 17px);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// moved as it is as it does contain :local
// .service-category,
// .service-locations {
//     .tootip-parent {
//         .tooltip-dark {
//             top: auto;
//             bottom: 0 !important;
//             left: 0 !important;

//             .inner {
//                 left: auto !important;
//                 position: relative;
//                 width: auto;

//                 @include font-style (11px, $white, 400, 17px);

//                 span {
//                     @include font-style (11px, $white, 400, 17px);
//                 }
//             }
//         }
//     }
// }

// moved with el-ss-default-filter
// .add-service-smb {

//     .service-category,
//     .service-locations {
//         :local {
//             .default-filter {
//                 padding: 8px 35px 8px 15px;
//             }
//         }
//     }
// }
// }

// only for multiselect
// :global {
//     .add-service-demo-location {
//         :local {
//             .filter-dropdown {
//                 ul {
//                     :global {
//                         .tootip-parent>span.custom-creatorname-box {
//                             width: 146px;

//                             .custom-nametxt-box {
//                                 width: auto;
//                                 background-color: $gray40;
//                                 padding: 5px 10px 4px;
//                                 border-radius: 6px;
//                                 overflow: unset;
//                                 text-overflow: unset;
//                                 white-space: unset;
//                                 margin-left: 8px;

//                                 @include font-style (11px, $gray300, 400, 13px);
//                                 @include abs-position (6px, 10px, auto, auto);

//                                 vertical-align: middle;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

// only for multiselect
// :global {
//     .listing-site-no-textTransform {
//         :local {
//             .selected-values {
//                 &:first-letter {
//                     text-transform: unset;
//                 }
//             }

//             .default-filter {
//                 .label-top {
//                     text-transform: unset;
//                 }

//                 &.dropdown-open {
//                     .label-top {
//                         text-transform: unset;
//                     }
//                 }

//                 .label-top:first-letter,
//                 label:first-letter {
//                     text-transform: unset;
//                 }
//             }
//         }
//     }
// }
:global {
  ul.show-image-in-selection li {
    .label-cont {
      .icon {
        @include center-vertical();
        gap: 8px;

        >span {
          @include size(auto, auto);

          img {
            vertical-align: middle;
          }
        }
      }
    }
  }
}