@import "sass/master";

.table {
    width: 100%;
    border-collapse: collapse;
    box-sizing: border-box;

    tr {
        border-bottom: 1px solid #eaeaea;

        &.row-disable {
            background-color: $white !important;
            pointer-events: none;

            td {
                background-color: $white !important;
            }
        }
    }
}

.table-wrapper {
    max-width: 100%;

    tbody {
        tr {
            .row-action {
                &.three-dots-visible {
                    padding: 0 20px;

                    .action-wrap {
                        @include size(32px, 32px);
                        @include border-radius(6px);
                        @include center-all();
                        @include abs-position(50%, 3px, false, false);

                        z-index: 2;
                        border: none;
                        background: transparent;
                        padding: 7px 15px;
                        transform: translateY(-50%);

                        .paymentcard-wrapper {
                            font-size: 0;
                            position: relative;
                            background: $default-color;

                            @include size(3px, 3px);
                            @include border-radius(50%);

                            &:before,
                            &:after {
                                content: "";

                                @include size(3px, 3px);
                                @include border-radius(50%);

                                background: $default-color;
                            }

                            &:before {
                                @include abs-position(-5.5px, false, false, false);
                            }

                            &:after {
                                @include abs-position(5.5px, false, false, false);
                            }
                            }
                        }
                    }

                i {
                    display: none;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            &.row-dots-visible {
                &:hover {
                    td {
                        background-color: rgb(245, 245, 245) !important;
                    }
                }

                &.row-disable-with-three-dots {
                    background-color: $white !important;

                    &:hover{
                        background-color: $white !important;
                        td {
                            background-color: $white !important;
                            color: $gray-light !important;
                        }

                    }

                    td {
                        background-color: $white !important;
                        color: $gray-light !important;
                    }
                }
            }
            &:hover {
                .row-action {
                    &.three-dots-visible {
                        .action-wrap {
                            @include size(32px, 32px);
                            @include border-radius(6px);
                            @include center-all();
                            @include abs-position(50%, 3px, false, false);

                            z-index: 2;
                            border: none;
                            background: transparent;
                            padding: 7px 15px;
                            transform: translateY(-50%);

                        .paymentcard-wrapper {
                            font-size: 0;
                            position: relative;
                            background: $default-color;

                            @include size(3px, 3px);
                            @include border-radius(50%);

                            &:before,
                            &:after {
                                content: "";

                                @include size(3px, 3px);
                                @include border-radius(50%);

                                background: $default-color;
                            }

                            &:before {
                                @include abs-position(-5.5px, false, false, false);
                            }

                            &:after {
                                @include abs-position(5.5px, false, false, false);
                            }
                            }
                        }

                        i {
                            display: inline-block;
                            opacity: 1;
                            visibility: visible;

                            &.icon-cheveron_open {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
 }

.overflow-x {
    overflow-x: auto;
    scroll-behavior: smooth;
}

.header-fixed {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 2;
}

.overflow-y {
    overflow: auto;
    height: calc(100vh - 100px);
} 

.table-data {
    height: 56px;
    font-size: 13px;
    font-weight: 400;
    vertical-align: middle;
    padding: 0 10px;

    span {
        display: inline-block;
        line-height: 1.5;
    }

    i {
        vertical-align: middle;
    }
}

.table-head {
    font-weight: 500;
    color: $gray-55;

    .label-text {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    i {
        margin-top: 0;
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;

        &::before {
            font-weight: 500;
            color: $gray-55;
        }
    }

    &.sorted-text {
        color: $default-color;

        i {
            margin-top: 1px;

            &:before {
                color: $default-color;
            }
        }
    }
}

.table-rows {
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;

    .column-wrapper {
        // max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;

        .column-wrap {
            .value {
                vertical-align: middle;
            }

            .copy-icon {
                margin-left: 5px;
                cursor: pointer;

                i {
                    &:before {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.mt-15p {
    margin-top: 15%;
    overflow-y: hidden;
}

.fixed-width {
    width: 300px;
}

.fixed-column {
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 10px 0 12px 0 rgba(33, 33, 33, 0.05);
    box-sizing: border-box;
    // width: 200px;
}

.fixed-column-update-background {
    background: #f5f5f5;
    position: sticky;
    position: -webkit-sticky;
    left: 0;
    z-index: 1;
    box-shadow: 10px 0 12px 0 rgba(33, 33, 33, 0.05);
    box-sizing: border-box;
    width: 200px;
}

.fixed-column-left-scroll {
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    left: 218px;
    padding: 0 0 0 10px;
    z-index: 1;
}

.fixed-column-right-scroll {
    position: sticky;
    position: -webkit-sticky;
    background: #fff;
    right: 0;
    padding: 0 0 0 10px;
}

.row-action {
    max-width: 40px;
    vertical-align: middle;
    height: 56px;
    position: relative;

    .action-container {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .action-wrap {
        right: 10px;
        background-color: $white;
        width: 105px;
        // z-index: 99;
        // &.action-open {
        //     z-index: 100;
        // }
    }

    .icon_phoenix-vertical-dots {
        &:before {
            font-size: 40px;
        }
    }
}

.nodata {
    height: calc(100vh - 180px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        margin-bottom: 15px;
    }

    .title {
        font-size: 17px;
        margin-bottom: 10px;
    }

    .txt {
        font-size: 15px;
    }
}

.flex-row-content {
    display: flex;
    align-items: center;
}

.table-content-wrapper {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;

    .icon_phoenix-up-arrow {
        padding-top: 3px;
        cursor: pointer;

        &.rotate-icon {
            padding-bottom: 2px;
            padding-top: 0;
        }
    }
}

.rotate-icon {
    transform: rotate(180deg);
}

.disable {
    opacity: 0.4;
}

.hide-icon {
    visibility: hidden;
}

.remove-icon {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background-color: $white;
}

::-webkit-scrollbar-track {
    border: 1px $white solid;

    @include border-radius (2px);

    -webkit-box-shadow: 0 0 6px $white inset;
}

::-webkit-scrollbar-thumb {
    background-color: $gray-d8;
    border: 1px solid $white;
    height: 0;

    @include border-radius (20px);
}

::-webkit-scrollbar-thumb:hover {
    background-color: $gray-d8;
    border: 1px solid $white;
}

::-webkit-scrollbar-thumb:active {
    background-color: $gray-d8;
    border: 1px solid $white;
}

/* Safari 9+ (iOS Only) */
@supports (-webkit-text-size-adjust:none) and (not (-ms-accelerator:true)) {
    .table-container-wrapper {
        .fixed-column {
            display: flex;
            align-items: center;
            border-bottom: 0;
        }

        .header-fixed {
            top: -1px !important;
        }

        .fixed-column-left-scroll {
            left: 200px;
        }
    }
}

@-moz-document url-prefix() {
    .table-container-wrapper {
        .fixed-column {
            display: revert;
        }

        .fixed-column-left-scroll {
            left: 218px;
        }
    }
}