
@import 'sass/master';
@import 'sass/global';
@import 'sass/variables';

.breadcrumb-wrapper {
    .breadcrumblist {
        @include flexbox();
        margin-bottom: 19px;

        li {
            @include font-style(15px, $gray300, 500, 1.2);
            margin-right: 26px;
            position: relative;

            &:before {
                content: " ";
                border-left: 1px solid $gray300;
                border-bottom: 1px solid $gray300;
                transform: translateY(-50%) rotate(-135deg);
                @include abs-position(50%, -14px, false, false);
                @include size(6px, 6px);
            }

            &:last-child {
                margin-right: 0px;

                &:before {
                    content: none;
                }
            }

            a,
            .withoutLinkBox {
                @include font-style(15px, $brand-color, 400, 1.2);
                cursor: pointer;

                :hover {
                    color: $primary-hover;
                }
            }
        }
        
        .backCallbackWithoutLink {
            @include font-style(15px, $brand-color, 400, 1.2);
            cursor: pointer;

            :hover {
                color: $primary-hover;
            }
        }

        .location-switcher-link {
            ul {
                margin-bottom: 0px;
                display: block;

                li {
                    @include font-style(false, false, 400, false);

                    margin-right: 0px;

                    &:before {
                        content: none;
                    }
                }
            }

            .location-switcher-text {
                .icon_phoenix-sort {
                    &:before {
                        color: $gray300;
                    }
                }
            }
        }
    }
}