@import 'sass/variables';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/flexCenterBetween.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/sizeStyle.scss';

.menu {
    background-color: $white;
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    .no-pointer {
        cursor: default;
        border: 1px solid $gray-cc;
        padding: 30px;

        @include border-radius (4px);
    }

    .title-container {
        @include center-between();

        position: relative;
        cursor: pointer;
        margin-bottom: 25px;

        .title {
            @include font-style (20px, $default-color, 500, 1.2);

            display: inline-block;
            margin-right: 12px;
        }

        .icon-text-tooltip {
            @include font-style (16px, $gray-99);

            margin-left: 0;
            display: inline-block;
            vertical-align: middle;
            margin-top: -3px;

            &::before {
                @include font-style (16px, $gray-99);
            }
        }

        :global {
            .tootip-parent {
                margin-left: 5px;
                vertical-align: middle;
                display: inline-block;

                .tooltip-white {
                    @include abs-position (10px, auto, false, 50%);
                    @include size (334px, auto);

                    padding-top: 12px;
                    margin-left: -167px;
                    z-index: 10;

                    .inner {
                        @include size (100%, auto);

                        a {
                            color: $brand-color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

.singleSection {
    cursor: default;

    .title-container {
        cursor: default;
    }
}

:global {

// need to add css style to src/app/pages/reports/reviews/by-source/ReviewsBySourceView.scss path in UI web

    // .reports-menu {
    //     border: 1px solid $graybrdColor;
    //     border-radius: 4px;
    //     margin-bottom: 15px;

    //     .title {
    //         vertical-align: middle;
    //     }

    //     .toggleIcon {
    //         top: 2px;
    //     }
    // }

// need to add css style to src/app/pages/reports/reviews/by-source/ReviewBySource.js path in UI web

    .report-pdf-view {
        .icon_phoenix-cheveron_open,
        .icon-cheveron_close {
            display: none;
        }
    }
}

.bottom-border {
    border-bottom: 1px solid $gray-ee;
}

.customAccordian {
    padding: 20px 0;
    background-color: transparent;

    .title-container {
        .title {
            @include font-style (15px, $default-color, 500, false);
        }

        .toggleIcon {
            top: -1px;
        }
    }

    .no-pointer {
        p {
            @include font-style (13px, $default-color, false, 1.4);

            a {
                @include font-style (false, $brand-color, 500, false);
            }
        }
    }
}