@font-face {
  font-family: 'icomoon';
  src: url('icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_phoenix-"], [class*=" icon_phoenix-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_phoenix-new-build:before {
  content: "\f1d13";
}
.icon_phoenix-home:before {
  content: "\f1d12";
  color: #3d4eae;
}
.icon_phoenix-package:before {
  content: "\f1d11";
  color: #e6aa04;
}
.icon_phoenix-uploaded-cloud:before {
  content: "\f1d10";
  color: #656565;
}
.icon_phoenix-ballot:before {
  content: "\f1d09";
  color: #37a248;
}
.icon_phoenix-yelp:before {
  content: "\f1d08";
}
.icon_phoenix-icon-calendar:before {
  content: "\f1d07";
}
.icon_phoenix-icon-payment:before {
  content: "\f1d06";
}
.icon_phoenix-icon-survey:before {
  content: "\f1d05";
}
.icon_phoenix-icon-review:before {
  content: "\f1d04";
}
.icon_phoenix-icon-referral:before {
  content: "\f1d03";
}
.icon_phoenix-collapse_all:before {
  content: "\f1d02";
}
.icon_phoenix-expand_all:before {
  content: "\f1d01";
}
.icon_phoenix-drive_file_move:before {
  content: "\f1c99";
}
.icon_phoenix-quotes:before {
  content: "\f1c98";
  color: #757575;
}
.icon_phoenix-list_bullet:before {
  content: "\f1c97";
}
.icon_phoenix-plus-circle:before {
  content: "\f1c96";
}
.icon_phoenix-page_break:before {
  content: "\f1c95";
  color: #2652ED;
}
.icon_phoenix-merging:before {
  content: "\f1c94";
  color: #2652ED;
}
.icon_phoenix-sections:before {
  content: "\f1c93";
  color: #2652ED;
}
.icon_phoenix-message:before {
  content: "\f1c92";
}
.icon_phoenix-pin-disable:before {
  content: "\f1c91";
  color: #ccc;
}
.icon_phoenix-keep-pin:before {
  content: "\f1c90";
  color: #757575;
}
.icon_phoenix-add:before {
  content: "\f1c89";
  color: #656565;
}
.icon_phoenix-swap:before {
  content: "\f1c88";
  color: #656565;
}
.icon_phoenix-zoom-out:before {
  content: "\f1c87";
  color: #656565;
}
.icon_phoenix-colors:before {
  content: "\f1c86";
}
.icon_phoenix-edit_note:before {
  content: "\f1c85";
}
.icon_phoenix-keep:before {
  content: "\f1c83";
  color: #8f8f8f;
}
.icon_phoenix-brandkit-icon:before {
  content: "\f1c82";
}
.icon_phoenix-Surveys:before {
  content: "\f1c81";
}
.icon_phoenix-review-star:before {
  content: "\f1c80";
  color: #757575;
}
.icon_phoenix-social-links:before {
  content: "\f1c79";
  color: #757575;
}
.icon_phoenix-new-filter:before {
  content: "\f1c78";
}
.icon_phoenix-new-Inbox:before {
  content: "\f1c77";
}
.icon_phoenix-icon-magnifier-stars:before {
  content: "\f1c71";
}
.icon_phoenix-arrow_right:before {
  content: "\f1c64";
}
.icon_phoenix-arrow_down:before {
  content: "\f1c63";
}
.icon_phoenix-tenancy:before {
  content: "\f1c62";
}
.icon_phoenix-action-icon:before {
  content: "\f1c61";
  color: #4cae3d;
}
.icon_phoenix-branch-icon:before {
  content: "\f1c60";
  color: #8d9dca;
}
.icon_phoenix-trigger-icon:before {
  content: "\f1c59";
  color: #f88078;
}
.icon_phoenix-engage_comment:before {
  content: "\f1c58";
}
.icon_phoenix-summarize:before {
  content: "\f1c57";
  color: #6834b7;
}
.icon_phoenix-workflow-filled:before {
  content: "\f1c56";
  color: #2652ED;
}
.icon_phoenix-worflow-icon:before {
  content: "\f1c55";
}
.icon_phoenix-autoplay:before {
  content: "\f1c54";
  color: #2652ED;
}
.icon_phoenix-pin:before {
  content: "\f1c44";
}
.icon_phoenix-code:before {
  content: "\f1c43";
  color: #757575;
}
.icon_phoenix-smart_display:before {
  content: "\f1c42";
  color: #757575;
}
.icon_phoenix-one-rectangle:before {
  content: "\f1c41";
  color: #757575;
}
.icon_phoenix-three-reactangle:before {
  content: "\f1c40";
  color: #757575;
}
.icon_phoenix-view-two-rectangle:before {
  content: "\f1c39";
  color: #757575;
}
.icon_phoenix-spacer-image:before {
  content: "\f1c38";
  color: #757575;
}
.icon_phoenix-block-image:before {
  content: "\f1c37";
  color: #757575;
}
.icon_phoenix-button-image:before {
  content: "\f1c36";
  color: #757575;
}
.icon_phoenix-divider-image:before {
  content: "\f1c35";
  color: #757575;
}
.icon_phoenix-footer-image:before {
  content: "\f1c34";
  color: #757575;
}
.icon_phoenix-header-image:before {
  content: "\f1c33";
  color: #757575;
}
.icon_phoenix-link-image:before {
  content: "\f1c32";
  color: #757575;
}
.icon_phoenix-review-image:before {
  content: "\f1c31";
  color: #757575;
}
.icon_phoenix-text-image:before {
  content: "\f1c30";
  color: #757575;
}
.icon_phoenix-title-image:before {
  content: "\f1c29";
  color: #757575;
}
.icon_phoenix-Customize:before {
  content: "\f1c28";
}
.icon_phoenix-frame-media:before {
  content: "\f1c27";
}
.icon_phoenix-ai-chat:before {
  content: "\f1c26";
  color: #6834b7;
}
.icon_phoenix-smart-toy:before {
  content: "\f1c25";
  color: #6f6f6f;
}
.icon_phoenix-alert:before {
  content: "\f1c24";
  color: #de1b0c;
}
.icon_phoenix-art-track:before {
  content: "\f1c23";
}
.icon_phoenix-edit-icon:before {
  content: "\f1c22";
}
.icon_phoenix-image-square:before {
  content: "\f1c21";
}
.icon_phoenix-arrow:before {
  content: "\f1c20";
  color: #6834b7;
}
.icon_phoenix-flame-lead:before {
  content: "\f1c19";
  color: #4cae3d;
}
.icon_phoenix-disable-arrow:before {
  content: "\f1c18";
  color: #ccc;
}
.icon_phoenix-mail:before {
  content: "\f1c17";
}
.icon_phoenix-business-center:before {
  content: "\f1c16";
}
.icon_phoenix-redo:before {
  content: "\f1c15";
}
.icon_phoenix-send-button:before {
  content: "\f1c14";
}
.icon_phoenix-undo:before {
  content: "\f1c13";
}
.icon_phoenix-mobile-new:before {
  content: "\f1c12";
}
.icon_phoenix-desktop-new:before {
  content: "\f1c11";
}
.icon_phoenix-circum_mobile:before {
  content: "\f1c10";
  color: #555;
}
.icon_phoenix-edit-square:before {
  content: "\f1c09";
}
.icon_phoenix-restart_alt:before {
  content: "\f1c08";
}
.icon_phoenix-vertical-menu:before {
  content: "\f1c07";
  color: #555;
}
.icon_phoenix-whatsapp:before {
  content: "\f1c06";
}
.icon_phoenix-arrow-download:before {
  content: "\f1c05";
}
.icon_phoenix-shortern-link:before {
  content: "\f1c04";
}
.icon_phoenix-time_range:before {
  content: "\f1c03";
}
.icon_phoenix-cheveron_close:before {
  content: "\f1c02";
}
.icon_phoenix-refresh-new:before {
  content: "\f1c01";
}
.icon_phoenix-share-new:before {
  content: "\f1b99";
  color: #6834b7;
}
.icon_phoenix-Not-synced:before {
  content: "\f1b98";
}
.icon_phoenix-Submitted:before {
  content: "\f1b97";
  color: #4cae3d;
}
.icon_phoenix-new-search-icon:before {
  content: "\f1b96";
}
.icon_phoenix-prompt:before {
  content: "\f1b95";
  color: #6834b7;
}
.icon_phoenix-calendar-schedule:before {
  content: "\f1b94";
}
.icon_phoenix-dislike-ai-icon:before {
  content: "\f1b93";
}
.icon_phoenix-schedule-time:before {
  content: "\f1b92";
}
.icon_phoenix-cheveron_open:before {
  content: "\f1b91";
}
.icon_phoenix-fluent_chat-12-regular:before {
  content: "\f1b90";
  color: #fff;
}
.icon_phoenix-reset:before {
  content: "\f1b89";
}
.icon_phoenix-call1:before {
  content: "\f1b88";
}
.icon_phoenix-sms:before {
  content: "\f1b87";
}
.icon_phoenix-forward:before {
  content: "\f1b86";
  color: #fbfbfb;
}
.icon_phoenix-Music-Icon:before {
  content: "\f1b84";
  color: #fff;
}
.icon_phoenix-archive:before {
  content: "\f1b83";
  color: #999;
}
.icon_phoenix-change-circle:before {
  content: "\f1b82";
}
.icon_phoenix-play_circle:before {
  content: "\f1b81";
}
.icon_phoenix-pause-circle:before {
  content: "\f1b80";
}
.icon_phoenix-add_circle:before {
  content: "\f1b79";
}
.icon_phoenix-readiness_score:before {
  content: "\f1b78";
}
.icon_phoenix-icon-location-pin:before {
  content: "\f1b77";
}
.icon_phoenix-icon-globe:before {
  content: "\f1b76";
}
.icon_phoenix-arrow-circle-filled:before {
  content: "\f1b75";
}
.icon_phoenix-disable-location:before {
  content: "\f1b74";
  color: #b8b8b8;
}
.icon_phoenix-bulb:before {
  content: "\f1b73";
}
.icon_phoenix-template1:before {
  content: "\f1b72";
}
.icon_phoenix-star-filled:before {
  content: "\f1b71";
  color: #fbc123;
}
.icon_phoenix-radial-chart:before {
  content: "\f1b70";
}
.icon_phoenix-ai:before {
  content: "\f1b69";
  color: #6f36bf;
}
.icon_phoenix-locationv1:before {
  content: "\f1b68";
  color: #555;
}
.icon_phoenix-tablev1:before {
  content: "\f1b67";
  color: #555;
}
.icon_phoenix-icon-partial:before {
  content: "\f1b66";
  color: #3790e7;
}
.icon_phoenix-envelope-mail-envelope:before {
  content: "\f1b65";
  color: #555;
}
.icon_phoenix-envelope-link:before {
  content: "\f1b64";
  color: #555;
}
.icon_phoenix-envelope-chat-bbl:before {
  content: "\f1b63";
  color: #555;
}
.icon_phoenix-pricing:before {
  content: "\f1b62";
  color: #555;
}
.icon_phoenix-plus-circle-blue:before {
  content: "\f1b61";
  color: #2652ED;
}
.icon_phoenix-leaf-icon:before {
  content: "\f1b60";
  color: #2652ED;
}
.icon_phoenix-setting-filled:before {
  content: "\f1b59";
  color: #2652ED;
}
.icon_phoenix-setting2:before {
  content: "\f1b58";
}
.icon_phoenix-help:before {
  content: "\f1b57";
}
.icon_phoenix-post-comment:before {
  content: "\f1b55";
}
.icon_phoenix-share-lite:before {
  content: "\f1b54";
}
.icon_phoenix-preparation:before {
  content: "\f1b53";
}
.icon_phoenix-merge:before {
  content: "\f1b52";
}
.icon_phoenix-category:before {
  content: "\f1b51";
}
.icon_phoenix-circle-outline:before {
  content: "\f1b50";
}
.icon_phoenix-remove-circle-outline:before {
  content: "\f1b49";
}
.icon_phoenix-delete:before {
  content: "\f1b48";
}
.icon_phoenix-industry:before {
  content: "\f1b47";
  color: #555;
}
.icon_phoenix-checkbox:before {
  content: "\f1b46";
}
.icon_phoenix-report-line:before {
  content: "\e906";
}
.icon_phoenix-message-border .path1:before {
  content: "\f1c75";
  color: rgb(25, 118, 210);
}
.icon_phoenix-message-border .path2:before {
  content: "\f1c76";
  margin-left: -1.3125em;
  color: rgb(255, 255, 255);
}
.icon_phoenix-smooth_line:before {
  content: "\f1b41";
  color: #555;
}
.icon_phoenix-table:before {
  content: "\f1b40";
  color: #555;
}
.icon_phoenix-vertical:before {
  content: "\f1b39";
  color: #555;
}
.icon_phoenix-Vectorfetch-link:before {
  content: "\f1b38";
  color: #555;
}
.icon_phoenix-bag .path1:before {
  content: "\e900";
  color: rgb(25, 118, 210);
}
.icon_phoenix-bag .path2:before {
  content: "\e902";
  margin-left: -1.1669921875em;
  color: rgb(0, 0, 0);
}
.icon_phoenix-bag .path3:before {
  content: "\e903";
  margin-left: -1.1669921875em;
  color: rgb(25, 118, 210);
}
.icon_phoenix-profile-bold:before {
  content: "\f1b36";
}
.icon_phoenix-cross:before {
  content: "\f1b35";
}
.icon_phoenix-down-arrow:before {
  content: "\f1a83";
}
.icon_phoenix-up-arrow:before {
  content: "\f1a82";
}
.icon_phoenix-vertical-dots:before {
  content: "\f1a81";
  color: #555;
}
.icon_phoenix-copy-border:before {
  content: "\f1a80";
  color: #2652ED;
}
.icon_phoenix-tag-filled:before {
  content: "\f1a79";
  color: #2652ED;
}
.icon_phoenix-post-library:before {
  content: "\f1a78";
}
.icon_phoenix-right-clock:before {
  content: "\f1a77";
  color: #555;
}
.icon_phoenix-user-line:before {
  content: "\f1a76";
  color: #555;
}
.icon_phoenix-infocircle .path1:before {
  content: "\f1a74";
  color: rgb(25, 118, 210);
}
.icon_phoenix-infocircle .path2:before {
  content: "\f1a75";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon_phoenix-approval:before {
  content: "\f1a73";
  color: #555;
}
.icon_phoenix-rejected:before {
  content: "\f1a72";
  color: #de1b0c;
}
.icon_phoenix-pdf-upload:before {
  content: "\f1a71";
}
.icon_phoenix-plus:before {
  content: "\f1a68";
}
.icon_phoenix-pdf_download:before {
  content: "\f1a67";
  color: #555;
}
.icon_phoenix-schedule-icon:before {
  content: "\f1a66";
  color: #f57c00;
}
.icon_phoenix-tab-hamburger:before {
  content: "\f1a65";
}
.icon_phoenix-rechedule-appointment:before {
  content: "\f1a64";
}
.icon_phoenix-fill-heart:before {
  content: "\f1a63";
  color: #2652ED;
}
.icon_phoenix-personbadge:before {
  content: "\f1a62";
}
.icon_phoenix-apple:before {
  content: "\f1a61";
  color: #555;
}
.icon_phoenix-reply-fill:before {
  content: "\f1a60";
  color: #2652ED;
}
.icon_phoenix-framefilter:before {
  content: "\f1a59";
}
.icon_phoenix-thumbs-up:before {
  content: "\f1a58";
  color: #2652ED;
}
.icon_phoenix-backward:before {
  content: "\f1a57";
  color: #555;
}
.icon_phoenix-import:before {
  content: "\f1a56";
}
.icon_phoenix-arrow-clockwise:before {
  content: "\f1a55";
}
.icon_phoenix-dislike:before {
  content: "\f1a54";
}
.icon_phoenix-full-width-info:before {
  content: "\f1a53";
  color: #d9d9d9;
}
.icon_phoenix-ai-tool-icon:before {
  content: "\f1a52";
  color: #6f36bf;
}
.icon_phoenix-full-width:before {
  content: "\f1a51";
  color: #d9d9d9;
}
.icon_phoenix-text-overlay:before {
  content: "\f1a50";
  color: #d9d9d9;
}
.icon_phoenix-map-overlay:before {
  content: "\f1a47";
  color: #d9d9d9;
}
.icon_phoenix-text-displayed:before {
  content: "\f1a46";
  color: #d9d9d9;
}
.icon_phoenix-icloud-slash:before {
  content: "\f1a44";
  color: #fff;
}
.icon_phoenix-regenerate:before {
  content: "\f1a43";
  color: #6d36bf;
}
.icon_phoenix-ai-icon:before {
  content: "\f1a42";
  color: #6f36bf;
}
.icon_phoenix-reply-sparkle:before {
  content: "\f1a41";
  color: #6f36bf;
}
.icon_phoenix-translate:before {
  content: "\f1a40";
  color: #6f36bf;
}
.icon_phoenix-link-library:before {
  content: "\f1a39";
}
.icon_phoenix-thunderbolt:before {
  content: "\f1a38";
  color: #6f36bf;
}
.icon_phoenix-lightbulb:before {
  content: "\f1a37";
  color: #6f36bf;
}
.icon_phoenix-image-multiple:before {
  content: "\f1a36";
  color: #6f36bf;
}
.icon_phoenix-octicon_asc:before {
  content: "\f1a35";
}
.icon_phoenix-octicon_desc:before {
  content: "\f1a34";
}
.icon_phoenix-resize:before {
  content: "\f1a33";
}
.icon_phoenix-bullet-list:before {
  content: "\f1a32";
  color: #6f36bf;
}
.icon_phoenix-change-tone:before {
  content: "\f1a31";
  color: #6f36bf;
}
.icon_phoenix-fix-spell:before {
  content: "\f1a30";
  color: #6f36bf;
}
.icon_phoenix-make-longer:before {
  content: "\f1a29";
  color: #6f36bf;
}
.icon_phoenix-make-shorter:before {
  content: "\f1a28";
  color: #6f36bf;
}
.icon_phoenix-music-icon:before {
  content: "\f1a27";
  color: #fff;
}
.icon_phoenix-replicate:before {
  content: "\f1a26";
  color: #555;
}
.icon_phoenix-upload-cloud:before {
  content: "\f1a24";
  color: #555;
}
.icon_phoenix-icon-graph:before {
  content: "\f1a23";
  color: #2652ED;
}
.icon_phoenix-post-option:before {
  content: "\f1a22";
  color: #555;
}
.icon_phoenix-reschedule:before {
  content: "\f1a21";
  color: #555;
}
.icon_phoenix-Video-library-icon:before {
  content: "\f1a20";
  color: #555;
}
.icon_phoenix-filter-fill-funnel:before {
  content: "\f19f2";
  color: #2652ED;
}
.icon_phoenix-play-circle:before {
  content: "\f1a17";
  color: #fff;
}
.icon_phoenix-folder:before {
  content: "\f1a16";
  color: #2652ED;
}
.icon_phoenix-compose:before {
  content: "\f1a15";
}
.icon_phoenix-submenu-arrow:before {
  content: "\f1a14";
  color: #555;
}
.icon_phoenix-new-edit:before {
  content: "\f1a13";
}
.icon_phoenix-new-search:before {
  content: "\f1a12";
}
.icon_phoenix-fullwidth-below:before {
  content: "\f1a11";
  color: #647a8e;
}
.icon_phoenix-fullwidth-overlay:before {
  content: "\f1a10";
  color: #647a8e;
}
.icon_phoenix-grid-below:before {
  content: "\f1a09";
  color: #647a8e;
}
.icon_phoenix-grid-overlay:before {
  content: "\f1a08";
  color: #647a8e;
}
.icon_phoenix-mapview:before {
  content: "\f1a07";
  color: #647a8e;
}
.icon_phoenix-facebook-full:before {
  content: "\f1a06";
}
.icon_phoenix-youtube-full:before {
  content: "\f1a05";
  color: #f00;
}
.icon_phoenix-twitter-fill:before {
  content: "\f1a04";
  color: #fff;
}
.icon_phoenix-funnel_filter:before {
  content: "\f1a03";
  color: #555;
}
.icon_phoenix-magic:before {
  content: "\e9f98";
  color: #555;
}
.icon_phoenix-feedbackplus:before {
  content: "\e9f97";
  color: #555;
}
.icon_phoenix-history:before {
  content: "\e9f96";
  color: #555;
}
.icon_phoenix-openbook:before {
  content: "\e9f95";
  color: #555;
}
.icon_phoenix-profilecircle:before {
  content: "\e9f94";
  color: #555;
}
.icon_phoenix-videolibrary:before {
  content: "\e9f93";
  color: #555;
}
.icon_phoenix-alarm:before {
  content: "\e9f92";
}
.icon_phoenix-clock-circle:before {
  content: "\e9f91";
}
.icon_phoenix-form:before {
  content: "\e9f90";
}
.icon_phoenix-twitter-preview-comments:before {
  content: "\e9f89";
  color: #555;
}
.icon_phoenix-twitter-preview-msg:before {
  content: "\e9f88";
  color: #555;
}
.icon_phoenix-twitter-preview-share:before {
  content: "\e9f87";
  color: #555;
}
.icon_phoenix-tick-mark:before {
  content: "\e9f86";
}
.icon_phoenix-smiley-fill:before {
  content: "\e9f85";
  color: #2652ED;
}
.icon_phoenix-videoplay:before {
  content: "\e9f84";
  color: #fff;
}
.icon_phoenix-camera-fill:before {
  content: "\e9f83";
  color: #2652ED;
}
.icon_phoenix-camera-icon:before {
  content: "\e9f82";
}
.icon_phoenix-review-collector:before {
  content: "\e9f81";
  color: #555;
}
.icon_phoenix-competitors1:before {
  content: "\e9f80";
}
.icon_phoenix-inbox1:before {
  content: "\e9f79";
}
.icon_phoenix-listings1:before {
  content: "\e9f78";
}
.icon_phoenix-reviews1:before {
  content: "\e9f77";
}
.icon_phoenix-overview:before {
  content: "\e9f76";
}
.icon_phoenix-failed-border:before {
  content: "\e9f75";
  color: #f44336;
}
.icon_phoenix-credit-card:before {
  content: "\e9f74";
}
.icon_phoenix-contact-card:before {
  content: "\e9f73";
}
.icon_phoenix-half-rating:before {
  content: "\e9f72";
}
.icon_phoenix-matrix-rating:before {
  content: "\e9f71";
}
.icon_phoenix-competitor:before {
  content: "\e9f70";
}
.icon_phoenix-dashboard-home:before {
  content: "\e9f69";
}
.icon_phoenix-insights:before {
  content: "\e9f68";
}
.icon_phoenix-report:before {
  content: "\e9f67";
}
.icon_phoenix-ticketings:before {
  content: "\e9f66";
}
.icon_phoenix-webchat:before {
  content: "\e9f65";
}
.icon_phoenix-webchat-fill:before {
  content: "\e9f64";
  color: #2652ED;
}
.icon_phoenix-video-badge:before {
  content: "\e9f63";
  color: #fff;
}
.icon_phoenix-pdf-download:before {
  content: "\e9f62";
  color: #fff;
}
.icon_phoenix-sites:before {
  content: "\e9f61";
  color: #2652ED;
}
.icon_phoenix-non-video:before {
  content: "\e9f60";
  color: #fff;
}
.icon_phoenix-checklist:before {
  content: "\e9f59";
}
.icon_phoenix-dropdown-selection:before {
  content: "\e9f58";
}
.icon_phoenix-number-format:before {
  content: "\e9f57";
}
.icon_phoenix-text-cursor:before {
  content: "\e9f56";
}
.icon_phoenix-text-note:before {
  content: "\e9f55";
}
.icon_phoenix-character:before {
  content: "\e9f54";
  color: #555;
}
.icon_phoenix-photo:before {
  content: "\e9f53";
  color: #555;
}
.icon_phoenix-failed-icon:before {
  content: "\e9f52";
  color: #f44336;
}
.icon_phoenix-noshow-icon:before {
  content: "\e9f51";
  color: #647a8e;
}
.icon_phoenix-chat-text:before {
  content: "\e9f50";
}
.icon_phoenix-retweet:before {
  content: "\e9f49";
}
.icon_phoenix-outgoing-arrow:before {
  content: "\e9f48";
  color: #647a8e;
}
.icon_phoenix-magic-wand:before {
  content: "\e9f47";
  color: #2652ED;
}
.icon_phoenix-info-line:before {
  content: "\e9f46";
  color: #999;
}
.icon_phoenix-partial:before {
  content: "\e9f45";
}
.icon_phoenix-setting:before {
  content: "\e9f44";
  color: #2652ED;
}
.icon_phoenix-dots:before {
  content: "\e9f43";
  color: #2652ED;
}
.icon_phoenix-comment:before {
  content: "\e9f42";
}
.icon_phoenix-like:before {
  content: "\e9f41";
}
.icon_phoenix-send:before {
  content: "\e9f40";
  color: #555;
}
.icon_phoenix-share:before {
  content: "\e9f39";
}
.icon_phoenix-desktop:before {
  content: "\e9f38";
  color: #555;
}
.icon_phoenix-mobile:before {
  content: "\e9f37";
  color: #555;
}
.icon_phoenix-enlarge-icon:before {
  content: "\e9f36";
  color: #455b76;
}
.icon_phoenix-preview-bookmark:before {
  content: "\e9f35";
}
.icon_phoenix-preview-comment:before {
  content: "\e9f34";
}
.icon_phoenix-preview-share:before {
  content: "\e9f33";
}
.icon_phoenix-status:before {
  content: "\e9f32";
}
.icon_phoenix-tag:before {
  content: "\e9f31";
  color: #d8d8d8;
}
.icon_phoenix-clock-arrow:before {
  content: "\e9f30";
  color: #455b76;
}
.icon_phoenix-circle-star:before {
  content: "\ef29";
}
.icon_phoenix-shield:before {
  content: "\e9f28";
  color: #647a8e;
}
.icon_phoenix-qr-code:before {
  content: "\e9f27";
}
.icon_phoenix-pdf:before {
  content: "\e9f26";
}
.icon_phoenix-excel:before {
  content: "\e9f25";
}
.icon_phoenix-google-brand .path1:before {
  content: "\e9f21";
  color: rgb(66, 133, 244);
}
.icon_phoenix-google-brand .path2:before {
  content: "\e9f22";
  margin-left: -0.93359375em;
  color: rgb(52, 168, 83);
}
.icon_phoenix-google-brand .path3:before {
  content: "\e9f23";
  margin-left: -0.93359375em;
  color: rgb(251, 188, 5);
}
.icon_phoenix-google-brand .path4:before {
  content: "\e9f24";
  margin-left: -0.93359375em;
  color: rgb(235, 67, 53);
}
.icon_phoenix-facebook-like:before {
  content: "\e9f20";
}
.icon_phoenix-facebook-comment:before {
  content: "\e9f19";
}
.icon_phoenix-twitter-upload:before {
  content: "\e9f18";
  color: #555;
}
.icon_phoenix-twitter-like:before {
  content: "\e9f17";
  color: #555;
}
.icon_phoenix-twitter-comment:before {
  content: "\e9f16";
  color: #555;
}
.icon_phoenix-google-share:before {
  content: "\e9f15";
  color: #555;
}
.icon_phoenix-facebook-share:before {
  content: "\e9f14";
  color: #555;
}
.icon_phoenix-arrow-left:before {
  content: "\e9f13";
  color: #555;
}
.icon_phoenix-cloud:before {
  content: "\e9f12";
}
.icon_phoenix-close-circle:before {
  content: "\e9f11";
}
.icon_phoenix-key:before {
  content: "\e9f10";
  color: #555;
}
.icon_phoenix-pending-status:before {
  content: "\e9f09";
  color: #999;
}
.icon_phoenix-attachment:before {
  content: "\e9f08";
}
.icon_phoenix-dollor:before {
  content: "\e9f07";
}
.icon_phoenix-template:before {
  content: "\e9f06";
}
.icon_phoenix-square-text:before {
  content: "\e9f05";
  color: #555;
}
.icon_phoenix-building:before {
  content: "\e9f04";
  color: #555;
}
.icon_phoenix-bull-horn:before {
  content: "\e9f03";
  color: #555;
}
.icon_phoenix-print-border:before {
  content: "\e9f02";
  color: #2652ED;
}
.icon_phoenix-card-machine:before {
  content: "\e9f01";
}
.icon_phoenix-communication-envelope:before {
  content: "\e9c99";
  color: #ccc;
}
.icon_phoenix-full-screen:before {
  content: "\e9c98";
}
.icon_phoenix-hash:before {
  content: "\e9c97";
  color: #555;
}
.icon_phoenix-minimize:before {
  content: "\e9c96";
}
.icon_phoenix-search-glass:before {
  content: "\e9c95";
}
.icon_phoenix-present:before {
  content: "\e9c94";
}
.icon_phoenix-payment-card:before {
  content: "\e9c93";
  color: #fff;
}
.icon_phoenix-contacts:before {
  content: "\e9c91";
  color: #555;
}
.icon_phoenix-reply:before {
  content: "\e9c90";
}
.icon_phoenix-magnifying-glass:before {
  content: "\e9c89";
}
.icon_phoenix-header-play:before {
  content: "\e9c88";
}
.icon_phoenix-header-review:before {
  content: "\e9c87";
  color: #555;
}
.icon_phoenix-header-connect:before {
  content: "\e9c86";
  color: #555;
}
.icon_phoenix-header-support:before {
  content: "\e9c85";
  color: #555;
}
.icon_phoenix-header-megaphone:before {
  content: "\e9c84";
  color: #555;
}
.icon_phoenix-header-profile:before {
  content: "\e9c83";
  color: #555;
}
.icon_phoenix-header-preview:before {
  content: "\e9c82";
  color: #555;
}
.icon_phoenix-header-lock:before {
  content: "\e9c80";
  color: #555;
}
.icon_phoenix-header-tick:before {
  content: "\e9c79";
  color: #555;
}
.icon_phoenix-header-smiley:before {
  content: "\e9c77";
  color: #555;
}
.icon_phoenix-header-reviews:before {
  content: "\e9c76";
  color: #555;
}
.icon_phoenix-header-refferal:before {
  content: "\e9c75";
  color: #555;
}
.icon_phoenix-header-question:before {
  content: "\e9c74";
  color: #555;
}
.icon_phoenix-header-product:before {
  content: "\e9c73";
  color: #555;
}
.icon_phoenix-header-notification:before {
  content: "\e9c72";
  color: #555;
}
.icon_phoenix-header-logout:before {
  content: "\e9c71";
  color: #555;
}
.icon_phoenix-header-commuincation:before {
  content: "\e9c70";
  color: #555;
}
.icon_phoenix-header-campaigns:before {
  content: "\e9c69";
  color: #555;
}
.icon_phoenix-swipe-card:before {
  content: "\e9c68";
  color: #555;
}
.icon_phoenix-megaphone:before {
  content: "\e9c67";
}
.icon_phoenix-helper:before {
  content: "\e9c66";
}
.icon_phoenix-question-mark:before {
  content: "\e9c65";
  color: #555;
}
.icon_phoenix-private-policy:before {
  content: "\e9c64";
}
.icon_phoenix-logout:before {
  content: "\e9c63";
}
.icon_phoenix-filters:before {
  content: "\e9c62";
  color: #fff;
}
.icon_phoenix-lock-fill:before {
  content: "\e9c61";
}
.icon_phoenix-paid:before {
  content: "\e9c60";
  color: #555;
}
.icon_phoenix-not-paid:before {
  content: "\e9c59";
  color: #555;
}
.icon_phoenix-paid-out:before {
  content: "\e9c58";
  color: #555;
}
.icon_phoenix-card-reader:before {
  content: "\e9c57";
  color: #555;
}
.icon_phoenix-ifsc-code:before {
  content: "\e9c56";
  color: #999;
}
.icon_phoenix-acc-number:before {
  content: "\e9c55";
  color: #999;
}
.icon_phoenix-dollar .path1:before {
  content: "\e9c53";
  color: rgb(100, 122, 142);
}
.icon_phoenix-dollar .path2:before {
  content: "\e9c54";
  margin-left: -0.5em;
  color: rgb(153, 153, 153);
}
.icon_phoenix-loading:before {
  content: "\e9c52";
  color: #555;
}
.icon_phoenix-examine:before {
  content: "\e9c49";
  color: #555;
}
.icon_phoenix-currency-fill:before {
  content: "\e9c48";
  color: #555;
}
.icon_phoenix-currency-circle:before {
  content: "\e9c47";
}
.icon_phoenix-freshen:before {
  content: "\e9c46";
  color: #555;
}
.icon_phoenix-preview:before {
  content: "\e9c45";
  color: #555;
}
.icon_phoenix-pulse-survey:before {
  content: "\e9c44";
}
.icon_phoenix-lock:before {
  content: "\e9c43";
  color: #555;
}
.icon_phoenix-communication:before {
  content: "\e9c42";
}
.icon_phoenix-document-copy:before {
  content: "\e9c41";
  color: #555;
}
.icon_phoenix-fb:before {
  content: "\e9c40";
  color: #555;
}
.icon_phoenix-instagram:before {
  content: "\e9c39";
}
.icon_phoenix-google:before {
  content: "\e9c38";
  color: #555;
}
.icon_phoenix-convbtn:before {
  content: "\e9c37";
  color: #555;
}
.icon_phoenix-conversation-unread:before {
  content: "\e9c36";
  color: #555;
}
.icon_phoenix-sparkles:before {
  content: "\e9c35";
  color: #555;
}
.icon_phoenix-dots-lining:before {
  content: "\e9c34";
  color: #555;
}
.icon_phoenix-success-disable:before {
  content: "\e9c33";
  color: #4caf50;
}
.icon_phoenix-optout-disable:before {
  content: "\e9c32";
  color: #ccc;
}
.icon_phoenix-eye-hidden:before {
  content: "\e9c31";
  color: #555;
}
.icon_phoenix-refresh:before {
  content: "\e9c30";
  color: #555;
}
.icon_phoenix-insights-nav:before {
  content: "\e9c29";
  color: #555;
}
.icon_phoenix-note:before {
  content: "\e9c28";
  color: #555;
}
.icon_phoenix-pulse:before {
  content: "\e9c27";
  color: #555;
}
.icon_phoenix-feedback:before {
  content: "\e9c26";
  color: #555;
}
.icon_phoenix-add-circle-fill:before {
  content: "\e9c25";
  color: #555;
}
.icon_phoenix-star:before {
  content: "\e9c24";
  color: #555;
}
.icon_phoenix-messages:before {
  content: "\e9c23";
  color: #555;
}
.icon_phoenix-leads:before {
  content: "\e9c22";
  color: #555;
}
.icon_phoenix-phone-invalid .path1:before {
  content: "\e9c18";
  color: rgb(204, 204, 204);
}
.icon_phoenix-phone-invalid .path2:before {
  content: "\e9c19";
  margin-left: -1em;
  color: rgb(244, 67, 54);
}
.icon_phoenix-email-invalid .path1:before {
  content: "\e9c20";
  color: rgb(204, 204, 204);
}
.icon_phoenix-email-invalid .path2:before {
  content: "\e9c21";
  margin-left: -1em;
  color: rgb(244, 67, 54);
}
.icon_phoenix-reviewer:before {
  content: "\e9c17";
  color: #555;
}
.icon_phoenix-dummy-check:before {
  content: "\e9c16";
  color: #2652ED;
}
.icon_phoenix-arrow-up:before {
  content: "\e9c15";
  color: #f44336;
}
.icon_phoenix-arrow-down:before {
  content: "\e9c14";
  color: #4caf50;
}
.icon_phoenix-persons:before {
  content: "\e9c13";
  color: #555;
}
.icon_phoenix-hand-wave:before {
  content: "\e9c12";
  color: #2652ED;
}
.icon_phoenix-card:before {
  content: "\e9c11";
  color: #555;
}
.icon_phoenix-printer:before {
  content: "\e9c07";
  color: #555;
}
.icon_phoenix-surveys-v2:before {
  content: "\edc07";
  color: #555;
}
.icon_phoenix-bulk-messages:before {
  content: "\e9c06";
  color: #555;
}
.icon_phoenix-dashboard-v2:before {
  content: "\e9c05";
  color: #555;
}
.icon_phoenix-templates-v2:before {
  content: "\e9c04";
  color: #555;
}
.icon_phoenix-social-v2:before {
  content: "\e9c03";
  color: #555;
}
.icon_phoenix-settings-v2:before {
  content: "\e9c02";
  color: #555;
}
.icon_phoenix-reviews-v2:before {
  content: "\e9c01";
  color: #555;
}
.icon_phoenix-referrals-v2:before {
  content: "\e9e09";
  color: #555;
}
.icon_phoenix-products-v2:before {
  content: "\e9e08";
  color: #555;
}
.icon_phoenix-integration-v2:before {
  content: "\e9e07";
  color: #555;
}
.icon_phoenix-insights-v2:before {
  content: "\e9e06";
  color: #555;
}
.icon_phoenix-inbox-v2:before {
  content: "\e9e05";
  color: #555;
}
.icon_phoenix-flame-v2:before {
  content: "\e9e04";
  color: #555;
}
.icon_phoenix-contacts-v2:before {
  content: "\e9e03";
  color: #555;
}
.icon_phoenix-competitors-v2:before {
  content: "\e9e01";
  color: #555;
}
.icon_phoenix-ticketing-v2:before {
  content: "\e9d09";
  color: #555;
}
.icon_phoenix-contrast:before {
  content: "\e9d08";
  color: #555;
}
.icon_phoenix-plan-pro:before {
  content: "\e9d07";
  color: #555;
}
.icon_phoenix-copy-blank:before {
  content: "\e9d04";
  color: #555;
}
.icon_phoenix-cart:before {
  content: "\e9d06";
  color: #555;
}
.icon_phoenix-subscription:before {
  content: "\e9d05";
  color: #555;
}
.icon_phoenix-currency:before {
  content: "\e9d02";
}
.icon_phoenix-bell:before {
  content: "\e9d01";
  color: #555;
}
.icon_phoenix-tag-fill:before {
  content: "\e9da9";
  color: #555;
}
.icon_phoenix-remove-cicle:before {
  content: "\e9da8";
}
.icon_phoenix-linkedin:before {
  content: "\e9da7";
  color: #555;
}
.icon_phoenix-loader:before {
  content: "\e9da6";
  color: #555;
}
.icon_phoenix-enclose:before {
  content: "\e9da5";
  color: #555;
}
.icon_phoenix-info-fill:before {
  content: "\e9da4";
  color: #555;
}
.icon_phoenix-monitor:before {
  content: "\e9da3";
  color: #555550;
}
.icon_phoenix-regions:before {
  content: "\e9da2";
  color: #555;
}
.icon_phoenix-formatting-list:before {
  content: "\e9da1";
  color: #555;
}
.icon_phoenix-dummy:before {
  content: "\e9da0";
  color: #555;
}
.icon_phoenix-clock:before {
  content: "\e9dd6";
  color: #555;
}
.icon_phoenix-connect:before {
  content: "\e9dd5";
  color: #999;
}
.icon_phoenix-trash-fill:before {
  content: "\e9dc9";
  color: #555;
}
.icon_phoenix-pencil:before {
  content: "\e9dc8";
  color: #555;
}
.icon_phoenix-checkmark:before {
  content: "\e9dc7";
  color: #555;
}
.icon_phoenix-question-circle:before {
  content: "\e9dc6";
  color: #555;
}
.icon_phoenix-notification-fill:before {
  content: "\e9dc5";
  color: #555;
}
.icon_phoenix-hand-raised:before {
  content: "\e9dc4";
  color: #555;
}
.icon_phoenix-flame:before {
  content: "\e9dc3";
  color: #4caf50;
}
.icon_phoenix-circle-slash:before {
  content: "\e9dc2";
  color: #555;
}
.icon_phoenix-circle-fill:before {
  content: "\e9db9";
  color: #555;
}
.icon_phoenix-calendar:before {
  content: "\e9db8";
  color: #555;
}
.icon_phoenix-call:before {
  content: "\e9db7";
  color: #555;
}
.icon_phoenix-location-fill:before {
  content: "\e9db6";
  color: #555;
}
.icon_phoenix-google-search:before {
  content: "\e9db5";
  color: #555;
}
.icon_phoenix-custom:before {
  content: "\e9db4";
  color: #555;
}
.icon_phoenix-info-banner:before {
  content: "\e9db3";
  color: #fff;
}
.icon_phoenix-error-banner:before {
  content: "\e9db2";
  color: #fff;
}
.icon_phoenix-caution-banner:before {
  content: "\e9db1";
  color: #fff;
}
.icon_phoenix-success-banner:before {
  content: "\e9db0";
  color: #fff;
}
.icon_phoenix-website:before {
  content: "\e9dd9";
  color: #555;
}
.icon_phoenix-direction:before {
  content: "\e9dd7";
  color: #555;
}
.icon_phoenix-warning-fill:before {
  content: "\e9dc1";
  color: #f57c00;
}
.icon_phoenix-error-fill:before {
  content: "\e9dd8";
  color: #f44336;
}
.icon_phoenix-success-fill:before {
  content: "\e9dc0";
  color: #4caf50;
}
.icon_phoenix-important-fill:before {
  content: "\e9dd2";
  color: #555;
}
.icon_phoenix-messenger-dark:before {
  content: "\e9dd1";
  color: #555;
}
.icon_phoenix-gift:before {
  content: "\e9dd4";
  color: #555;
}
.icon_phoenix-text-fill:before {
  content: "\e9dd3";
  color: #555;
}
.icon_phoenix-facebook-dark:before {
  content: "\e9dd0";
  color: #555;
}
.icon_phoenix-text-bubble:before {
  content: "\e9de9";
  color: #555;
}
.icon_phoenix-facebook:before {
  content: "\e9de7";
  color: #555;
}
.icon_phoenix-download:before {
  content: "\e9de6";
  color: #555;
}
.icon_phoenix-arrow-right:before {
  content: "\e9de5";
  color: #555;
}
.icon_phoenix-phone-fill:before {
  content: "\e9de4";
  color: #555;
}
.icon_phoenix-email-fill:before {
  content: "\e9de3";
  color: #555;
}
.icon_phoenix-user-fill:before {
  content: "\e9de2";
  color: #555;
}
.icon_phoenix-triangle-filter:before {
  content: "\e9de1";
  color: #555;
}
.icon_phoenix-upload:before {
  content: "\e9df6";
  color: #555;
}
.icon_phoenix-add-circle:before {
  content: "\e9df9";
  color: #555;
}
.icon_phoenix-pin-location:before {
  content: "\e9df8";
  color: #555;
}
.icon_phoenix-broadcast:before {
  content: "\e9df7";
  color: #555;
}
.icon_phoenix-video:before {
  content: "\e9df3";
  color: #2652ED;
}
.icon_phoenix-sort:before {
  content: "\e9df4";
  color: #555;
}
.icon_phoenix-caution:before {
  content: "\e9df5";
  color: #555;
}
.icon_phoenix-opted:before {
  content: "\e9df1";
  color: #999;
}
.icon_phoenix-optout:before {
  content: "\e9df2";
  color: #999;
}
.icon_phoenix-switch:before {
  content: "\e9df0";
  color: #555;
}
.icon_phoenix-assisted:before {
  content: "\e90df";
  color: #555;
}
.icon_phoenix-users:before {
  content: "\e90da";
}
.icon_phoenix-new-message:before {
  content: "\e901d";
  color: #555;
}
.icon_phoenix-eye:before {
  content: "\e90fd";
  color: #999;
}
.icon_phoenix-trash:before {
  content: "\ee560";
  color: #555;
}
.icon_phoenix-inbox .path1:before {
  content: "\ee577";
  color: rgb(33, 33, 33);
}
.icon_phoenix-inbox .path2:before {
  content: "\ee578";
  margin-left: -1.125em;
  color: rgb(244, 240, 235);
}
.icon_phoenix-inbox .path3:before {
  content: "\ee579";
  margin-left: -1.125em;
  color: rgb(33, 33, 33);
}
.icon_phoenix-important:before {
  content: "\ee575";
  color: #2652ED;
}
.icon_phoenix-arrow-circle:before {
  content: "\ee576";
  color: #999;
}
.icon_phoenix-drag:before {
  content: "\ed058";
  color: #555;
}
.icon_phoenix-team:before {
  content: "\e90d9";
  color: #455b76;
}
.icon_phoenix-voicemail:before {
  content: "\ed959";
  color: #999;
}
.icon_phoenix-info:before {
  content: "\e900d";
  color: #555;
}
.icon_phoenix-warning:before {
  content: "\e90d1";
  color: #ffa000;
}
.icon_phoenix-success:before {
  content: "\e902d";
  color: #4caf50;
}
.icon_phoenix-error:before {
  content: "\e904d";
  color: #f44336;
}
.icon_phoenix-refferal:before {
  content: "\ed9d3";
  color: #455b76;
}
.icon_phoenix-promote:before {
  content: "\ed905";
  color: #455b76;
}
.icon_phoenix-check:before {
  content: "\ed993";
  color: #999;
}
.icon_phoenix-reload:before {
  content: "\edd92";
  color: #999;
}
.icon_phoenix-conversation:before {
  content: "\e90de";
  color: #999;
}
.icon_phoenix-close:before {
  content: "\e90ff";
  color: #999;
}
.icon_phoenix-unread:before {
  content: "\e90d0";
  color: #999;
}
.icon_phoenix-assign:before {
  content: "\e9d03";
  color: #999;
}
.icon_phoenix-survey-v2:before {
  content: "\e90e0";
  color: #455b76;
}
.icon_phoenix-smiley:before {
  content: "\ee989";
  color: #455b76;
}
.icon_phoenix-copy-note:before {
  content: "\e9e02";
  color: #455b76;
}
.icon_phoenix-phone:before {
  content: "\ee990";
  color: #999;
}
.icon_phoenix-edit:before {
  content: "\ee991";
  color: #555;
}
.icon_phoenix-sent:before {
  content: "\e9e00";
  color: #999;
}
.icon_phoenix-sms-replied:before {
  content: "\e902e";
  color: #999;
}
.icon_phoenix-opened:before {
  content: "\e90b";
  color: #999;
}
.icon_phoenix-appointment:before {
  content: "\e9904";
  color: #999;
}
.icon_phoenix-email:before {
  content: "\ee950";
  color: #999;
}
.icon_phoenix-messenger-copy:before {
  content: "\ee999";
  color: #f57c00;
}
.icon_phoenix-filter-variant:before {
  content: "\ef900";
  color: #fff;
}
.icon_phoenix-location:before {
  content: "\ee917";
  color: #555;
}
.icon_phoenix-search-dark:before {
  content: "\ee913";
  color: #555;
}
.icon_phoenix-notification:before {
  content: "\ee914";
  color: #555;
}
.icon_phoenix-messenger:before {
  content: "\ee915";
  color: #555;
}
.icon_phoenix-menu:before {
  content: "\ee916";
  color: #555;
}
.icon_phoenix-assisted-by:before {
  content: "\ee910";
  color: #555;
}
.icon_phoenix-tags:before {
  content: "\ee911";
  color: #555;
}
.icon_phoenix-ticket:before {
  content: "\ee912";
  color: #555;
}
.icon_phoenix-surveys:before {
  content: "\ee900";
  color: #455b76;
}
.icon_phoenix-social:before {
  content: "\ee901";
  color: #455b76;
}
.icon_phoenix-reviews:before {
  content: "\ee902";
  color: #455b76;
}
.icon_phoenix-reports:before {
  content: "\ee903";
}
.icon_phoenix-quick-send .path1:before {
  content: "\ee904";
  color: rgb(45, 62, 80);
}
.icon_phoenix-quick-send .path2:before {
  content: "\ee905";
  margin-left: -1em;
  color: rgb(245, 124, 0);
}
.icon_phoenix-quick-send .path3:before {
  content: "\ee906";
  margin-left: -1em;
  color: rgb(87, 176, 236);
}
.icon_phoenix-listings:before {
  content: "\ee907";
  color: #455b76;
}
.icon_phoenix-dashboard:before {
  content: "\ee908";
  color: #455b76;
}
.icon_phoenix-copy .path1:before {
  content: "\ee909";
  color: rgb(25, 118, 210);
}
.icon_phoenix-copy .path2:before {
  content: "\ee90a";
  margin-left: -0.919921875em;
  color: rgb(25, 118, 210);
}
.icon_phoenix-copy .path3:before {
  content: "\ee90b";
  margin-left: -0.919921875em;
  color: rgb(248, 248, 248);
}
.icon_phoenix-copy .path4:before {
  content: "\ee90c";
  margin-left: -0.919921875em;
  color: rgb(25, 118, 210);
}
.icon_phoenix-competitors:before {
  content: "\ee90d";
  color: #455b76;
}
.icon_phoenix-campaigns:before {
  content: "\ee90e";
  color: #455b76;
}
.icon_phoenix-account:before {
  content: "\ee90f";
  color: #455b76;
}
.icon_phoenix-gallery-1:before {
  content: "\f1c70";
  color: #0584fe;
}
.icon_phoenix-Like_fill:before {
  content: "\f1c69";
  color: #0584fe;
}
.icon_phoenix-gif:before {
  content: "\f1c68";
  color: #0070f5;
}
.icon_phoenix-gallery:before {
  content: "\e90c";
  color: #0584fe;
}
.icon_phoenix-multiple_gallery:before {
  content: "\f0e";
  color: #0070f5;
}
.icon_phoenix-attach:before {
  content: "\f1c74";
  color: #ccc;
}
.icon_phoenix-warning1:before {
  content: "\e90e";
}
.icon_phoenix-profile-fill:before {
  content: "\e904";
  color: #2652ED;
}
.icon_phoenix-split:before {
  content: "\f1b45";
  color: #999;
}
.icon_phoenix-user-lined:before {
  content: "\f1b44";
}
.icon_phoenix-line:before {
  content: "\f1b43";
  color: #555;
}
.icon_phoenix-horizontal_bar:before {
  content: "\f1b42";
  color: #555;
}
.icon_phoenix-right-transfer:before {
  content: "\f1a89";
  color: #555;
}
.icon_phoenix-filled-location:before {
  content: "\f1a88";
  color: #2652ED;
}
.icon_phoenix-id-card:before {
  content: "\f1a87";
  color: #555;
}
.icon_phoenix-sort-up:before {
  content: "\f1a86";
  color: #555;
}
.icon_phoenix-tag-line:before {
  content: "\f1a84";
  color: #465b76;
}
.icon_phoenix-sentiment-bubble_icon:before {
  content: "\f1c73";
  color: #555;
}
.icon_phoenix-bubble_icon:before {
  content: "\f1c72";
  color: #555;
}
.icon_phoenix-disable-business:before {
  content: "\f1a70";
  color: #f57c00;
}
