// @import 'sass/master';
@import "sass/mixins";
@import "sass/variables";
.popover {
    display: inline-block;
    position: relative;
    cursor: pointer;

    .dots-icon {
        display: inline-block;

        @include font-style (24px, $gray-55);

        z-index: 100;
    }

    >ul {
        position: absolute;
        z-index: 1;
        top: 100%;
        font-size: 12px;
        display: none;
        background: $white;
        width: 200px;

        >li {
            >a {
                display: block;
                box-sizing: border-box;
            }

            &:hover {
                >a {
                    color: $brand-color;
                }
            }
        }
    }

    &.left {
        >ul {
            @include box-shadow (2px, 2px, 2px, rgba(0, 0, 0, 0.15));

            left: 0;
            right: auto;
        }
    }

    &.right {
        >ul {
            left: auto;
            right: -15px;
            top: -10px;
        }
    }

    &.header {
        >ul {
            left: auto;
            right: 0;
            top: 33px;
        }
    }

    &.center {
        >ul {
            @include box-shadow (002px, 5px, 2px, rgba(33, 33, 33, 0.1));

            left: 50%;

            @include transform(translateX(-50%));

            right: auto;
        }
    }

    .cover-it {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        cursor: default;
    }

    &:hover {
        &>ul {
            display: inline-block;
        }
    }

    &.fixed {
        &>ul {
            position: fixed;
            z-index: 3;
        }
    }

    &.remove-transform-position {
        &>ul {
            position: absolute !important;
            top: 50% !important;
            right: 0 !important;
            left: auto !important;
        }
    }


    &.popover-small {
        &>ul {
            width: 160px;
        }
    }

    &.popover-medium {
        &>ul {
            width: 240px;
        }
    }

    &.popover-large {
        &>ul {
            width: 280px;
        }
    }

    &.popover-medium-large {
        & > ul {
            width: 320px;
        }
    }

    &.popover-xlarge {
        &>ul {
            width: 360px;
        }
    }

    &.popover-xxlarge {
        &>ul {
            width: 420px;
        }
    }

        &.no-hover {
            li {
                padding: 5px 20px;

                &:hover {
                    cursor: default;
                    background: transparent;
                }
            }
        }

        &.display-block {
            >span {
                &:first-child {
                    display: block;
                }
            }
        }
    }

/*-----sentiment popover---*/
.popover-shadow {
    ul {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !important;

        @include border-radius (4px);

        text-transform: none;
        margin-top: 2px;
    }
}

// :global {
    .sentiment-tooltip {
        padding: 20px 20px 14px;

        @include font-style (13px, $gray-55);

        .heading {
            @include font-style (13px, $default-color, 500, 1);

            margin-bottom: 15px;
        }

        .info {
            font-weight: 400;
            line-height: 1.2;
            margin-bottom: 6px;

            @include flexbox();

            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
// }