@mixin dropdown-menu() {
    &:hover {
        background: $pale-blue;
    }

    &:active {
        background: $blue-ee;
    }

    &:focus {
        border: solid 1px $bluebrdColor;
    }

    &.active {
        background: $blue-ee;
    }
}