@mixin direction-row() {
    display: -webkit-box;  /* For older WebKit browsers (Safari, older Chrome) */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;  /* for newer WebKit browsers */
    -ms-flex-direction: row;      /* for IE 10 */
    flex-direction: row;
}

@mixin direction-row-reverse() {
    display: -webkit-box;  /* For older WebKit browsers (Safari, older Chrome) */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;  /* for newer WebKit browsers */
    -ms-flex-direction: row-reverse;      /* for IE 10 */
    flex-direction: row-reverse;
}

@mixin direction-column() {
    display: -webkit-box;  /* For older WebKit browsers (Safari, older Chrome) */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* WebKit browsers */
    -ms-flex-direction: column;     /* IE 10 */
    flex-direction: column;
}

@mixin direction-column-reverse() {
    display: -webkit-box;  /* For older WebKit browsers (Safari, older Chrome) */
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse; /* WebKit browsers */
    -ms-flex-direction: column-reverse;     /* IE 10 */
    flex-direction: column-reverse;
}