@mixin abs-position ($top: false, $right: false, $bottom: false, $left: false, $pse: false) {
    @if $pse {
        @include pseudo ($pos: false);
    }
    position: absolute;
    @if $top { top: $top; }
    @if $right { right: $right; }
    @if $bottom { bottom: $bottom; }
    @if $left { left: $left; }
 }