@import "sass/master";

.breadcrumbWrap {
  margin-bottom: 14px;
  font-family: $brandFont;

  ul {
    @include center-vertical();
    padding-left: 0;
    list-style: none;

    li {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }

      &.breadcrumbIconWrap {
        border-left: 1.5px solid $gray-55;
        border-bottom: 1.5px solid $gray-55;
        transform: rotate(-135deg);
        margin-right: 10px;

        @include size(7px, 7px);
      }

      span {
        @include font-style(15px, $gray-55, 500, 17.58px);

        &.customLinkWrap {
          @include font-style(15px, $brand-color, 400, 17.58px);

          cursor: pointer;
        }
      }

      a {
        @include font-style(15px, $brand-color, 400, 17.58px);
        text-decoration: none;
      }
    }
  }
}
