@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin text-overflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin outlineBtn() {
    width: auto;
    min-width: 66px;
    height: 35px;
    border-radius: 2px;
    background-color: $white;
    border: solid 1px $graybrdColor;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: normal;
    color: $gray-455;
    padding: 5px 15px;
    box-sizing: border-box;
    line-height: 25px;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        border: solid 1px $bluebrdColor;
    }
}

@mixin dropdown-menu() {
    &:hover {
        background: $pale-blue;
    }

    &:active {
        background: $blue-ee;
    }

    &:focus {
        border: solid 1px $bluebrdColor;
    }

    &.active {
        background: $blue-ee;
    }
}

@mixin grayhoverBtn() {
    width: auto;
    min-width: 66px;
    height: 44px;
    border-radius: 4px;
    background-color: $white;
    border: solid 1px $gray-cc;
    font-size: 15px;
    font-weight: 400;
    color: $gray-55;
    padding: 12px 24px 12px 15px;
    box-sizing: border-box;
    line-height: 1.2;
    text-align: center;

    &:hover,
    &:focus,
    &:active {
        background-color: #f4f6f7;
        color: #555;
    }

}
@mixin clearfix() {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
@mixin flexbox() {
  display: -webkit-box;
 display: -moz-box;
 display: -ms-flexbox;
 display: -webkit-flex;
 display: flex;
}

@mixin center-vertical() {
    @include flexbox();
    align-items: center;
}

@mixin center-between() {
    @include flexbox();
    justify-content: space-between;
    align-items: center;
}

@mixin center-all() {
    @include flexbox();
    align-items: center;
    justify-content: center;
}

@mixin center-vertical() {
    @include flexbox();
    align-items: center;
}

@mixin center-inline-all() {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-row() {
    @include flexbox();
    flex-direction: row;
}

@mixin flex-column() {
    @include flexbox();
    flex-direction: column;
}

@mixin transform($property) {
  -webkit-transform: $property;
     -ms-transform: $property;
         transform: $property;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}
@mixin size($width, $height) {
    width: $width;
    height: $height;
}
// Define vertical, horizontal, or both position
@mixin center($position, $abs:false) { 
    @if $abs {
        position: absolute;
    }
    
    @if $position == 'vertical' {
      top: 50%;
      transform: translateY(-50%);
    }
    @else if $position == 'horizontal' {
      left: 50%;
      transform: translate(-50%);
    }
    @else if $position == 'both' {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

// Hide and Show Element with Transition mention time with 's' or 'ms'

@mixin fade($type, $time) {

    @if $type == 'hide' {
      visibility: hidden;
      opacity: 0;
      transition: visibility $time, opacity $time;
    }
  
    @else if $type == 'show' {
      visibility: visible;
      opacity: 1;
      transition: visibility $time, opacity $time;
    }
  
  }

// Fullscreen Background Image

  @mixin bg-cover($url, $bg: false ) {
    background: url($url) no-repeat center center fixed;
    @if $bg {
        background-size: cover;
    }
  }
  
// 5 - Full Width/Height and Centered Image
// -------------------------------------------
// Position an image within it's parent element so that it 
// takes up the full height and width of the parent element, and
// is positioned with its center in the middle

@mixin img-cover {
    min-height: 100%;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
    object-fit: cover;
  }

  @mixin push-auto {
    margin: { 
        left: auto;
        right: auto;
    }
}
//When using ::before and ::after you'll always need these three, 
//so we're saving two lines of code every time you use this.
@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}
// for making css triangle of tooltip we can use this mixin instead of coding everytime.
@mixin css-triangle($color, $direction, $size: 6px, $position: absolute, $round: false){
    @include pseudo($pos: $position);
    width: 0;
    height: 0;
    @if $round {
        border-radius: 3px;
    }
    @if $direction == down {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-top: $size solid $color;
        margin-top: 0 - round( $size / 2.5 );
    } @else if $direction == up {
        border-left: $size solid transparent;
        border-right: $size solid transparent;
        border-bottom: $size solid $color;
        margin-bottom: 0 - round( $size / 2.5 );
    } @else if $direction == right {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        margin-right: -$size;
    } @else if  $direction == left {
        border-top: $size solid transparent;
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        margin-left: -$size;
    }
}
// Every we use the common font-styling in code instead of writing again and again we can use this mixin
@mixin font-style($size: false, $colour: false, $weight: false,  $lh: false, $ta: false) {
    @if $size { font-size: $size; }
    @if $colour { color: $colour; }
    @if $weight { font-weight: $weight; }
    @if $lh { line-height: $lh; }
    @if $ta {
        text-align: $ta;
    }
}
// using absolute positioning throughout the code
@mixin abs-position ($top: false, $right: false, $bottom: false, $left: false, $pse: false) {
    @if $pse {
        @include pseudo ($pos: false);
    }
    position: absolute;
    @if $top { top: $top; }
    @if $right { right: $right; }
    @if $bottom { bottom: $bottom; }
    @if $left { left: $left; }
 }

 // generic transform
@mixin transform($transforms) {
       transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
  }
   
  // scale
  @mixin scale($scale) {
       @include transform(scale($scale));
  } 
  // translate
  @mixin translate ($x, $y) {
     @include transform(translate($x, $y));
  }
  // skew
  @mixin skew ($x, $y) {
     @include transform(skew(#{$x}deg, #{$y}deg));
  }

@mixin border-gray ($top: false, $right: false, $bottom: false, $left: false){
    @if $top { border-top: 1px solid #eee}
    @if $right { border-right: 1px solid #eee}
    @if $bottom { border-bottom: 1px solid #eee }
    @if $left { border-left: 1px solid #eee }
}

