.confirmationModal {
    display: block;

    div {
        color: $gray33;
        font-size: 12px;
        height: auto !important;
        line-height: 17px;
        margin: 0;
        padding: 1em 0;
    }
}

.btnWrapper {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 15px;
    opacity: 1;

    button {
        margin-left: 10px;

        &.custom-defaultbtn {
            span {
                color: $gray-55;
            }
        }
    }
}

.cancelBtn,
%cancelBtn {
    background-color: transparent;
    color: $gray-66;
    border: 1px solid $graybb;
    margin: 1px 0.4em 0.5em 0.37em;
    border-radius: 2px;
    padding: 4px 10px;
    width: 69px;
    height: 26px;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 0;
}

.saveBtn {
    @extend %cancelBtn;

    background: $brand-color;
    background-image: none;
    border: 0;
    margin-left: 0;
    color: $white;
}