.presenceIcon20 {
    width: 21px;
    height: 21px;
    margin-right: 6px;
    display: inline-block;
    left: -16px;
    padding: 0;
    line-height: 14px;
    // background-image: url(../images/sprites/icons20-sprite.png);
    vertical-align: middle;
}

/*Row 1*/
.aggr-source-141 {
    background-position: -1px 0;
}

.aggr-source-47 {
    background-position: -50px 0;
}

.aggr-source-101 {
    background-position: -98px 0;
}

.aggr-source-244 {
    background-position: -145px 0;
}

.aggr-source-82 {
    background-position: -192px 0;
}

.aggr-source-146 {
    background-position: -240px 0;
}

.aggr-source-45 {
    background-position: -289px 0;
}

.aggr-source-125 {
    background-position: -336px 0;
}

.aggr-source-35 {
    background-position: -384px 0;
}

.aggr-source-25 {
    background-position: -432px 0;
}

.aggr-source-23 {
    background-position: -480px 0;
}

.aggr-source-32 {
    background-position: -528px 0;
}

.aggr-source-203 {
    background-position: -576px 0;
}

.aggr-source-235 {
    background-position: -624px 0;
}

.aggr-source-411 {
    background-position: -672px 0;
}

.aggr-source-imagesupply {
    background-position: -720px 0;
}

.aggr-source-lexmark {
    background-position: -768px 0;
}

.aggr-source-191 {
    background-position: -814px 0;
}

.aggr-source-209 {
    background-position: -864px 0;
}

.aggr-source-186 {
    background-position: -912px 0;
}

.aggr-source-259 {
    background-position: -958px 0;
}

/* Row 2 */
.aggr-source-91 {
    background-position: -1px -73px;
}

.aggr-source-90 {
    background-position: -50px -73px;
}

.aggr-source-34 {
    background-position: -98px -73px;
}

.aggr-source-10 {
    background-position: -145px -73px;
}

.aggr-source-8 {
    background-position: -192px -73px;
}

.aggr-source-57 {
    background-position: -240px -73px;
}

.aggr-source-medicaredrugplanscom {
    background-position: -289px -73px;
}

.aggr-source-243 {
    background-position: -336px -73px;
}

.aggr-source-52 {
    background-position: -384px -73px;
}

.aggr-source-76 {
    background-position: -432px -73px;
}

.aggr-source-26 {
    background-position: -480px -73px;
}

.aggr-source-42 {
    background-position: -528px -73px;
}

.aggr-source-225 {
    background-position: -576px -73px;
}

.aggr-source-236 {
    background-position: -624px -73px;
}

.aggr-source-150 {
    background-position: -672px -73px;
}

.aggr-source-163 {
    background-position: -720px -73px;
}

.aggr-source-159 {
    background-position: -768px -73px;
}

.aggr-source-192 {
    background-position: -814px -73px;
}

.aggr-source-207 {
    background-position: -864px -73px;
}

.aggr-source-149 {
    background-position: -912px -73px;
}

.aggr-source-263 {
    background-position: -958px -73px;
}

/* Row 3*/
.aggr-source-11 {
    background-position: -1px -145px;
}

.aggr-source-12 {
    background-position: -50px -145px;
}

.aggr-source-dentalvibe {
    background-position: -98px -145px;
}

.aggr-source-73 {
    background-position: -145px -145px;
}

.aggr-source-114 {
    background-position: -192px -145px;
}

.aggr-source-13 {
    background-position: -240px -145px;
}

.aggr-source-33 {
    background-position: -289px -145px;
}

.aggr-source-58 {
    background-position: -336px -145px;
}

.aggr-source-salesforce,
.aggr-source-sales-force-appexchange {
    background-position: -384px -145px;
}

.aggr-source-128 {
    background-position: -432px -145px;
}

.aggr-source-89 {
    background-position: -480px -145px;
}

.aggr-source-226 {
    background-position: -528px -145px;
}

.aggr-source-231 {
    background-position: -576px -145px;
}

.aggr-source-229 {
    background-position: -624px -145px;
}

.aggr-source-215 {
    background-position: -672px -145px;
}

.aggr-source-proadvantage {
    background-position: -720px -145px;
}

.aggr-source-171 {
    background-position: -768px -145px;
}

.aggr-source-189 {
    background-position: -814px -145px;
}

.aggr-source-80 {
    background-position: -864px -145px;
}

.aggr-source-181 {
    background-position: -912px -145px;
}

.aggr-source-264 {
    background-position: -958px -145px;
}

/* Row 4 */
.aggr-source-20 {
    background-position: -1px -221px;
}

.aggr-source-3 {
    background-position: -50px -221px;
}

.aggr-source-15 {
    background-position: -98px -221px;
}

.aggr-source-72 {
    background-position: -145px -221px;
}

.aggr-source-112 {
    background-position: -192px -221px;
}

.aggr-source-55 {
    background-position: -240px -221px;
}

.aggr-source-59 {
    background-position: -289px -221px;
}

.aggr-source-36 {
    background-position: -336px -221px;
}

.aggr-source-67 {
    background-position: -384px -221px;
}

.aggr-source-53 {
    background-position: -432px -221px;
}

.aggr-source-103 {
    background-position: -480px -221px;
}

.aggr-source-250 {
    background-position: -528px -221px;
}

.aggr-source-240 {
    background-position: -576px -221px;
}

.aggr-source-228 {
    background-position: -624px -221px;
}

.aggr-source-152 {
    background-position: -672px -221px;
}

.aggr-source-167 {
    background-position: -720px -221px;
}

.aggr-source-170 {
    background-position: -768px -221px;
}

.aggr-source-190 {
    background-position: -814px -221px;
}

.aggr-source-211 {
    background-position: -864px -221px;
}

.aggr-source-208 {
    background-position: -912px -221px;
}

.aggr-source-181 {
    background-position: -958px -221px;
}

/* Row 5 */
.aggr-source-apple-consultants-network {
    background-position: -1px -292px;
}

.aggr-source-54 {
    background-position: -50px -292px;
}

.aggr-source-77 {
    background-position: -98px -292px;
}

.aggr-source-66 {
    background-position: -145px -292px;
}

.aggr-source-147 {
    background-position: -192px -292px;
}

.aggr-source-22 {
    background-position: -240px -292px;
}

.aggr-source-123 {
    background-position: -289px -292px;
}

.aggr-source-105 {
    background-position: -336px -292px;
}

.aggr-source-143 {
    background-position: -384px -292px;
}

.aggr-source-9 {
    background-position: -432px -292px;
}

.aggr-source-21 {
    background-position: -480px -292px;
}

.aggr-source-232 {
    background-position: -528px -292px;
}

.aggr-source-242 {
    background-position: -576px -292px;
}

.aggr-source-245 {
    background-position: -624px -292px;
}

.aggr-source-porchcom {
    background-position: -672px -292px;
}

.aggr-source-166 {
    background-position: -720px -292px;
}

.aggr-source-162 {
    background-position: -768px -292px;
}

.aggr-source-193 {
    background-position: -814px -292px;
}

.aggr-source-212 {
    background-position: -864px -292px;
}

.aggr-source-196 {
    background-position: -912px -292px;
}

/* Row 6 */
.aggr-source-7 {
    background-position: -1px -365px;
}

.aggr-source-130 {
    background-position: -50px -365px;
}

.aggr-source-68 {
    background-position: -98px -365px;
}

.aggr-source-40 {
    background-position: -145px -365px;
}

.aggr-source-31 {
    background-position: -192px -365px;
}

.aggr-source-37 {
    background-position: -240px -365px;
}

.aggr-source-145 {
    background-position: -289px -365px;
}

.aggr-source-148 {
    background-position: -336px -365px;
}

.aggr-source-70 {
    background-position: -384px -365px;
}

.aggr-source-75 {
    background-position: -432px -365px;
}

.aggr-source-24 {
    background-position: -480px -365px;
}

.aggr-source-204 {
    background-position: -528px -365px;
}

.aggr-source-249 {
    background-position: -576px -365px;
}

.aggr-source-wy-pages {
    background-position: -624px -365px;
}

.aggr-source-154 {
    background-position: -672px -365px;
}

.aggr-source-168 {
    background-position: -720px -365px;
}

.aggr-source-174 {
    background-position: -768px -365px;
}

.aggr-source-194 {
    background-position: -814px -365px;
}

.aggr-source-215 {
    background-position: -864px -365px;
}

.aggr-source-195 {
    background-position: -912px -365px;
}

/* Row 7 */
.aggr-source-94 {
    background-position: -1px -440px;
}

.aggr-source-107 {
    background-position: -50px -440px;
}

.aggr-source-69 {
    background-position: -98px -440px;
}

.aggr-source-28 {
    background-position: -145px -440px;
}

.aggr-source-87 {
    background-position: -192px -440px;
}

.aggr-source-106 {
    background-position: -240px -440px;
}

.aggr-source-83 {
    background-position: -289px -440px;
}

.aggr-source-119 {
    background-position: -336px -440px;
}

.aggr-source-88 {
    background-position: -384px -440px;
}

.aggr-source-78 {
    background-position: -432px -440px;
}

.aggr-source-27 {
    background-position: -480px -440px;
}

.aggr-source-238 {
    background-position: -528px -440px;
}

.aggr-source-227 {
    background-position: -576px -440px;
}

.aggr-source-255 {
    background-position: -624px -440px;
}

.aggr-source-157 {
    background-position: -672px -440px;
}

.aggr-source-184 {
    background-position: -720px -440px;
}

.aggr-source-175 {
    background-position: -768px -440px;
}

.aggr-source-199 {
    background-position: -814px -440px;
}

.aggr-source-214 {
    background-position: -864px -440px;
}

.aggr-source-185 {
    background-position: -912px -440px;
}

/* Row 8 */
.aggr-source-30 {
    background-position: -1px -516px;
}

.aggr-source-231 {
    background-position: -50px -516px;
}

.aggr-source-60 {
    background-position: -98px -516px;
}

.aggr-source-38 {
    background-position: -145px -514px;
}

.aggr-source-74 {
    background-position: -192px -516px;
}

.aggr-source-109 {
    background-position: -240px -516px;
}

.aggr-source-44 {
    background-position: -289px -516px;
}

.aggr-source-64 {
    background-position: -336px -516px;
}

.aggr-source-sowal {
    background-position: -384px -516px;
}

.aggr-source-97 {
    background-position: -432px -516px;
}

.aggr-source-4 {
    background-position: -480px -516px;
}

.aggr-source-246 {
    background-position: -528px -516px;
}

.aggr-source-247 {
    background-position: -576px -516px;
}

.aggr-source-phone-number {
    background-position: -624px -516px;
}

.aggr-source-155 {
    background-position: -672px -516px;
}

.aggr-source-165 {
    background-position: -720px -516px;
}

.aggr-source-177 {
    background-position: -768px -516px;
}

.aggr-source-183 {
    background-position: -814px -516px;
}

.aggr-source-213 {
    background-position: -864px -516px;
}

.aggr-source-198 {
    background-position: -912px -516px;
}

/* Row 9 */
.aggr-source-95 {
    background-position: -1px -589px;
}

.aggr-source-117 {
    background-position: -50px -589px;
}

.aggr-source-124 {
    background-position: -98px -589px;
}

.aggr-source-129 {
    background-position: -145px -589px;
}

.aggr-source-6 {
    background-position: -192px -589px;
}

.aggr-source-93 {
    background-position: -240px -589px;
}

.aggr-source-85 {
    background-position: -289px -589px;
}

.aggr-source-17 {
    background-position: -336px -589px;
}

.aggr-source-50 {
    background-position: -384px -589px;
}

.aggr-source-108 {
    background-position: -432px -589px;
}

.aggr-source-5 {
    background-position: -480px -589px;
}

.aggr-source-230 {
    background-position: -528px -589px;
}

.aggr-source-254 {
    background-position: -576px -589px;
}

.aggr-source-switch-board {
    background-position: -624px -589px;
}

.aggr-source-164 {
    background-position: -672px -589px;
}

.aggr-source-169 {
    background-position: -720px -589px;
}

.aggr-source-178 {
    background-position: -768px -589px;
}

.aggr-source-200 {
    background-position: -814px -589px;
}

.aggr-source-216 {
    background-position: -864px -589px;
}

.aggr-source-197 {
    background-position: -912px -589px;
}

/* Row 10 */
.aggr-source-100 {
    background-position: -1px -661px;
}

.aggr-source-41 {
    background-position: -50px -661px;
}

.aggr-source-79 {
    background-position: -98px -661px;
}

.aggr-source-2 {
    background-position: -814px -661px;
}

.aggr-source-120 {
    background-position: -192px -661px;
}

.aggr-source-56 {
    background-position: -240px -661px;
}

.aggr-source-237 {
    background-position: -240px -661px;
}

.aggr-source-116 {
    background-position: -289px -661px;
}

.aggr-source-96 {
    background-position: -336px -661px;
}

.aggr-source-115 {
    background-position: -384px -661px;
}

.aggr-source-43 {
    background-position: -432px -661px;
}

.aggr-source-39 {
    background-position: -480px -661px;
}

.aggr-source-239 {
    background-position: -528px -661px;
}

.aggr-source-224 {
    background-position: -576px -661px;
}

.aggr-source-air-yell {
    background-position: -624px -661px;
}

.aggr-source-158 {
    background-position: -672px -661px;
}

.aggr-source-172 {
    background-position: -720px -661px;
}

.aggr-source-179 {
    background-position: -768px -661px;
}

.aggr-source-217 {
    background-position: -864px -661px;
}

.aggr-source-182 {
    background-position: -912px -661px;
}

/* Row 11 */
.aggr-source-127 {
    background-position: -1px -735px;
}

.aggr-source-104 {
    background-position: -50px -735px;
}

.aggr-source-110 {
    background-position: -98px -735px;
}

.aggr-source-111 {
    background-position: -145px -735px;
}

.aggr-source-136 {
    background-position: -192px -735px;
}

.aggr-source-113 {
    background-position: -240px -735px;
}

.aggr-source-118 {
    background-position: -289px -735px;
}

.aggr-source-139 {
    background-position: -336px -735px;
}

.aggr-source-stik {
    background-position: -384px -735px;
}

.aggr-source-29 {
    background-position: -432px -735px;
}

.aggr-source-63 {
    background-position: -480px -735px;
}

.aggr-source-241 {
    background-position: -528px -735px;
}

.aggr-source-222 {
    background-position: -576px -735px;
}

.aggr-source-223 {
    background-position: -624px -735px;
}

.aggr-source-156 {
    background-position: -672px -735px;
}

.aggr-source-fujitsu {
    background-position: -720px -735px;
}

.aggr-source-176 {
    background-position: -768px -735px;
}

.aggr-source-202 {
    background-position: -814px -735px;
}

.aggr-source-219 {
    background-position: -864px -735px;
}

.aggr-source-buzzlocal {
    background-position: -912px -735px;
}

/* Row 12 */
.aggr-source-81 {
    background-position: -1px -810px;
}

.aggr-source-14 {
    background-position: -50px -810px;
}

.aggr-source-fertilityauthority {
    background-position: -98px -810px;
}

.aggr-source-102 {
    background-position: -145px -810px;
}

.aggr-source-61 {
    background-position: -192px -810px;
}

.aggr-source-48 {
    background-position: -240px -810px;
}

.aggr-source-142 {
    background-position: -289px -810px;
}

.aggr-source-135 {
    background-position: -336px -810px;
}

.aggr-source-16 {
    background-position: -384px -810px;
}

.aggr-source-18 {
    background-position: -432px -810px;
}

.aggr-source-1 {
    background-position: -480px -810px;
}

.aggr-source-252 {
    background-position: -528px -810px;
}

.aggr-source-234 {
    background-position: -576px -810px;
}

.aggr-source-248 {
    background-position: -624px -810px;
}

.aggr-source-161 {
    background-position: -672px -810px;
}

.aggr-source-kodak {
    background-position: -720px -810px;
}

.aggr-source-180 {
    background-position: -768px -810px;
}

.aggr-source-201 {
    background-position: -814px -810px;
}

.aggr-source-220 {
    background-position: -864px -810px;
}

.aggr-source-261 {
    background-position: -911px -810px;
}

/* Row 13 */
.aggr-source-51 {
    background-position: -1px -882px;
}

.aggr-source-144 {
    background-position: -50px -882px;
}

.aggr-source-134 {
    background-position: -98px -882px;
}

.aggr-source-49 {
    background-position: -145px -882px;
}

.aggr-source-65 {
    background-position: -192px -882px;
}

.aggr-source-84 {
    background-position: -240px -882px;
}

.aggr-source-62 {
    background-position: -289px -882px;
}

.aggr-source-131 {
    background-position: -432px -882px;
}

.aggr-source-92 {
    background-position: -384px -882px;
}

.aggr-source-19 {
    background-position: -336px -882px;
}

.aggr-source-140 {
    background-position: -480px -882px;
}

.aggr-source-253 {
    background-position: -528px -882px;
}

.aggr-source-251 {
    background-position: -576px -882px;
}

.aggr-source-256 {
    background-position: -624px -882px;
}

.aggr-source-160 {
    background-position: -672px -882px;
}

.aggr-source-leitz {
    background-position: -720px -882px;
}

.aggr-source-173 {
    background-position: -768px -882px;
}

.aggr-source-205 {
    background-position: -814px -882px;
}

.aggr-source-187 {
    background-position: -864px -882px;
}

.aggr-source-262 {
    background-position: -911px -882px;
}

.aggr-source-small-a {
    background-position: -2px -479px;
}

.aggr-source-small-b {
    background-position: -26px -479px;
}

.aggr-source-small-c {
    background-position: -49px -479px;
}

.aggr-source-small-d {
    background-position: -73px -479px;
}

.aggr-source-small-e {
    background-position: -97px -479px;
}

.aggr-source-small-f {
    background-position: -121px -479px;
}

.aggr-source-small-g {
    background-position: -145px -479px;
}

.aggr-source-small-h {
    background-position: -169px -479px;
}

.aggr-source-small-i {
    background-position: -193px -479px;
}

.aggr-source-small-j {
    background-position: -217px -479px;
}

.aggr-source-small-k {
    background-position: -241px -479px;
}

.aggr-source-small-l {
    background-position: -264px -479px;
}

.aggr-source-small-m {
    background-position: -288px -479px;
}

.aggr-source-small-n {
    background-position: -312px -479px;
}

.aggr-source-small-o {
    background-position: -336px -479px;
}

.aggr-source-small-p {
    background-position: -360px -479px;
}

.aggr-source-small-q {
    background-position: -384px -479px;
}

.aggr-source-small-r {
    background-position: -408px -479px;
}

.aggr-source-small-s {
    background-position: -432px -479px;
}

.aggr-source-small-t {
    background-position: -2px -516px;
}

.aggr-source-small-u {
    background-position: -26px -516px;
}

.aggr-source-small-v {
    background-position: -49px -516px;
}

.aggr-source-small-w {
    background-position: -73px -516px;
}

.aggr-source-small-x {
    background-position: -97px -516px;
}

.aggr-source-small-y {
    background-position: -121px -516px;
}

.aggr-source-small-z {
    background-position: -145px -516px;
}

.aggr-source-small-1 {
    background-position: -169px -516px;
}

.aggr-source-small-2 {
    background-position: -193px -516px;
}

.aggr-source-small-3 {
    background-position: -217px -516px;
}

.aggr-source-small-4 {
    background-position: -241px -516px;
}

.aggr-source-small-5 {
    background-position: -264px -516px;
}

.aggr-source-small-6 {
    background-position: -288px -516px;
}

.aggr-source-small-7 {
    background-position: -312px -516px;
}

.aggr-source-small-8 {
    background-position: -336px -516px;
}

.aggr-source-small-9 {
    background-position: -360px -516px;
}

.aggr-source-small-0 {
    background-position: -384px -516px;
}

.aggr-source-small-141 {
    background-position: -1px -1px;
}

.aggr-source-small-47 {
    background-position: -26px -1px;
}

.aggr-source-small-101 {
    background-position: -49px -1px;
}

.aggr-source-small-244 {
    background-position: -73px -1px;
}

.aggr-source-small-82 {
    background-position: -97px -1px;
}

.aggr-source-small-146 {
    background-position: -121px -1px;
}

.aggr-source-small-45 {
    background-position: -145px -1px;
}

.aggr-source-small-125 {
    background-position: -169px -1px;
}

.aggr-source-small-35 {
    background-position: -193px -1px;
}

.aggr-source-small-25 {
    background-position: -217px -1px;
}

.aggr-source-small-23 {
    background-position: -241px -1px;
}

.aggr-source-small-32 {
    background-position: -264px -1px;
}

.aggr-source-small-203 {
    background-position: -288px -1px;
}

.aggr-source-small-235 {
    background-position: -312px -1px;
}

.aggr-source-small-411 {
    background-position: -336px -1px;
}

.aggr-source-small-imagesupply {
    background-position: -360px -1px;
}

.aggr-source-small-lexmark {
    background-position: -384px -1px;
}

.aggr-source-small-191 {
    background-position: -408px -1px;
}

.aggr-source-small-209 {
    background-position: -432px -1px;
}

.aggr-source-small-186 {
    background-position: -456px -1px;
}

.aggr-source-small-259 {
    background-position: -480px -1px;
}

.aggr-source-small-91 {
    background-position: -1px -38px;
}

.aggr-source-small-90 {
    background-position: -26px -38px;
}

.aggr-source-small-34 {
    background-position: -49px -38px;
}

.aggr-source-small-10 {
    background-position: -73px -38px;
}

.aggr-source-small-8 {
    background-position: -97px -38px;
}

.aggr-source-small-57 {
    background-position: -121px -38px;
}

.aggr-source-small-medicaredrugplanscom {
    background-position: -145px -38px;
}

.aggr-source-small-243 {
    background-position: -169px -38px;
}

.aggr-source-small-52 {
    background-position: -193px -38px;
}

.aggr-source-small-76 {
    background-position: -217px -38px;
}

.aggr-source-small-26 {
    background-position: -241px -38px;
}

.aggr-source-small-42 {
    background-position: -264px -38px;
}

.aggr-source-small-225 {
    background-position: -288px -38px;
}

.aggr-source-small-236 {
    background-position: -312px -38px;
}

.aggr-source-small-150 {
    background-position: -336px -38px;
}

.aggr-source-small-163 {
    background-position: -360px -38px;
}

.aggr-source-small-159 {
    background-position: -384px -38px;
}

.aggr-source-small-192 {
    background-position: -408px -38px;
}

.aggr-source-small-207 {
    background-position: -432px -38px;
}

.aggr-source-small-149 {
    background-position: -456px -38px;
}

.aggr-source-small-263 {
    background-position: -480px -38px;
}

.aggr-source-small-11 {
    background-position: -1px -75px;
}

.aggr-source-small-12 {
    background-position: -26px -75px;
}

.aggr-source-small-dentalvibe {
    background-position: -49px -75px;
}

.aggr-source-small-73 {
    background-position: -73px -75px;
}

.aggr-source-small-114 {
    background-position: -97px -75px;
}

.aggr-source-small-13 {
    background-position: -121px -75px;
}

.aggr-source-small-33 {
    background-position: -145px -75px;
}

.aggr-source-small-58 {
    background-position: -169px -75px;
}

.aggr-source-small-salesforce,
.aggr-source-small-sales-force-appexchange {
    background-position: -193px -75px;
}

.aggr-source-small-128 {
    background-position: -217px -75px;
}

.aggr-source-small-89 {
    background-position: -241px -75px;
}

.aggr-source-small-226 {
    background-position: -264px -75px;
}

.aggr-source-small-231 {
    background-position: -288px -75px;
}

.aggr-source-small-229 {
    background-position: -312px -75px;
}

.aggr-source-small-215 {
    background-position: -336px -75px;
}

.aggr-source-small-proadvantage {
    background-position: -360px -75px;
}

.aggr-source-small-171 {
    background-position: -384px -75px;
}

.aggr-source-small-189 {
    background-position: -408px -75px;
}

.aggr-source-small-80 {
    background-position: -432px -75px;
}

.aggr-source-small-181 {
    background-position: -456px -75px;
}

.aggr-source-small-264 {
    background-position: -480px -75px;
}

.aggr-source-small-20 {
    background-position: -1px -111px;
}

.aggr-source-small-3 {
    background-position: -26px -111px;
}

.aggr-source-small-15 {
    background-position: -49px -111px;
}

.aggr-source-small-72 {
    background-position: -73px -111px;
}

.aggr-source-small-112 {
    background-position: -97px -111px;
}

.aggr-source-small-55 {
    background-position: -121px -111px;
}

.aggr-source-small-59 {
    background-position: -145px -111px;
}

.aggr-source-small-36 {
    background-position: -169px -111px;
}

.aggr-source-small-67 {
    background-position: -193px -111px;
}

.aggr-source-small-53 {
    background-position: -217px -111px;
}

.aggr-source-small-103 {
    background-position: -241px -111px;
}

.aggr-source-small-250 {
    background-position: -264px -111px;
}

.aggr-source-small-240 {
    background-position: -288px -111px;
}

.aggr-source-small-228 {
    background-position: -312px -111px;
}

.aggr-source-small-152 {
    background-position: -336px -111px;
}

.aggr-source-small-167 {
    background-position: -360px -111px;
}

.aggr-source-small-170 {
    background-position: -384px -111px;
}

.aggr-source-small-190 {
    background-position: -408px -111px;
}

.aggr-source-small-211 {
    background-position: -432px -111px;
}

.aggr-source-small-208 {
    background-position: -456px -111px;
}

.aggr-source-small-181 {
    background-position: -480px -111px;
}

.aggr-source-small-apple-consultants-network {
    background-position: -1px -148px;
}

.aggr-source-small-54 {
    background-position: -26px -148px;
}

.aggr-source-small-77 {
    background-position: -49px -148px;
}

.aggr-source-small-66 {
    background-position: -73px -148px;
}

.aggr-source-small-147 {
    background-position: -97px -148px;
}

.aggr-source-small-22 {
    background-position: -121px -148px;
}

.aggr-source-small-123 {
    background-position: -145px -148px;
}

.aggr-source-small-105 {
    background-position: -169px -148px;
}

.aggr-source-small-143 {
    background-position: -193px -148px;
}

.aggr-source-small-9 {
    background-position: -217px -148px;
}

.aggr-source-small-21 {
    background-position: -241px -148px;
}

.aggr-source-small-232 {
    background-position: -264px -148px;
}

.aggr-source-small-242 {
    background-position: -288px -148px;
}

.aggr-source-small-245 {
    background-position: -312px -148px;
}

.aggr-source-small-porchcom {
    background-position: -336px -148px;
}

.aggr-source-small-166 {
    background-position: -360px -148px;
}

.aggr-source-small-162 {
    background-position: -384px -148px;
}

.aggr-source-small-193 {
    background-position: -408px -148px;
}

.aggr-source-small-212 {
    background-position: -432px -148px;
}

.aggr-source-small-196 {
    background-position: -456px -148px;
}

.aggr-source-small-7 {
    background-position: -1px -184px;
}

.aggr-source-small-130 {
    background-position: -26px -184px;
}

.aggr-source-small-68 {
    background-position: -49px -184px;
}

.aggr-source-small-40 {
    background-position: -73px -184px;
}

.aggr-source-small-31 {
    background-position: -97px -184px;
}

.aggr-source-small-37 {
    background-position: -121px -184px;
}

.aggr-source-small-145 {
    background-position: -145px -184px;
}

.aggr-source-small-148 {
    background-position: -169px -184px;
}

.aggr-source-small-70 {
    background-position: -193px -184px;
}

.aggr-source-small-75 {
    background-position: -217px -184px;
}

.aggr-source-small-24 {
    background-position: -241px -184px;
}

.aggr-source-small-204 {
    background-position: -264px -184px;
}

.aggr-source-small-249 {
    background-position: -288px -184px;
}

.aggr-source-small-wy-pages {
    background-position: -312px -184px;
}

.aggr-source-small-154 {
    background-position: -336px -184px;
}

.aggr-source-small-168 {
    background-position: -360px -184px;
}

.aggr-source-small-174 {
    background-position: -384px -184px;
}

.aggr-source-small-194 {
    background-position: -408px -184px;
}

.aggr-source-small-215 {
    background-position: -432px -184px;
}

.aggr-source-small-195 {
    background-position: -456px -184px;
}

.aggr-source-small-94 {
    background-position: -1px -222px;
}

.aggr-source-small-107 {
    background-position: -26px -222px;
}

.aggr-source-small-69 {
    background-position: -49px -222px;
}

.aggr-source-small-28 {
    background-position: -73px -222px;
}

.aggr-source-small-87 {
    background-position: -97px -222px;
}

.aggr-source-small-106 {
    background-position: -121px -222px;
}

.aggr-source-small-83 {
    background-position: -145px -222px;
}

.aggr-source-small-119 {
    background-position: -169px -222px;
}

.aggr-source-small-88 {
    background-position: -193px -222px;
}

.aggr-source-small-78 {
    background-position: -217px -222px;
}

.aggr-source-small-27 {
    background-position: -241px -222px;
}

.aggr-source-small-238 {
    background-position: -264px -222px;
}

.aggr-source-small-227 {
    background-position: -288px -222px;
}

.aggr-source-small-255 {
    background-position: -312px -222px;
}

.aggr-source-small-157 {
    background-position: -336px -222px;
}

.aggr-source-small-184 {
    background-position: -360px -222px;
}

.aggr-source-small-175 {
    background-position: -384px -222px;
}

.aggr-source-small-199 {
    background-position: -408px -222px;
}

.aggr-source-small-214 {
    background-position: -432px -222px;
}

.aggr-source-small-185 {
    background-position: -456px -222px;
}

.aggr-source-small-30 {
    background-position: -1px -259px;
}

.aggr-source-small-231 {
    background-position: -26px -259px;
}

.aggr-source-small-60 {
    background-position: -49px -259px;
}

.aggr-source-small-38 {
    background-position: -73px -259px;
}

.aggr-source-small-74 {
    background-position: -97px -259px;
}

.aggr-source-small-109 {
    background-position: -121px -259px;
}

.aggr-source-small-44 {
    background-position: -145px -259px;
}

.aggr-source-small-64 {
    background-position: -169px -259px;
}

.aggr-source-small-sowal {
    background-position: -193px -259px;
}

.aggr-source-small-97 {
    background-position: -217px -259px;
}

.aggr-source-small-4 {
    background-position: -241px -259px;
}

.aggr-source-small-246 {
    background-position: -264px -259px;
}

.aggr-source-small-247 {
    background-position: -288px -259px;
}

.aggr-source-small-phone-number {
    background-position: -312px -259px;
}

.aggr-source-small-155 {
    background-position: -336px -259px;
}

.aggr-source-small-165 {
    background-position: -360px -259px;
}

.aggr-source-small-177 {
    background-position: -384px -259px;
}

.aggr-source-small-183 {
    background-position: -408px -259px;
}

.aggr-source-small-213 {
    background-position: -432px -259px;
}

.aggr-source-small-198 {
    background-position: -456px -259px;
}

.aggr-source-small-95 {
    background-position: -1px -296px;
}

.aggr-source-small-117 {
    background-position: -26px -296px;
}

.aggr-source-small-124 {
    background-position: -49px -296px;
}

.aggr-source-small-129 {
    background-position: -73px -296px;
}

.aggr-source-small-6 {
    background-position: -97px -296px;
}

.aggr-source-small-93 {
    background-position: -121px -296px;
}

.aggr-source-small-85 {
    background-position: -145px -296px;
}

.aggr-source-small-17 {
    background-position: -169px -296px;
}

.aggr-source-small-50 {
    background-position: -193px -296px;
}

.aggr-source-small-108 {
    background-position: -217px -296px;
}

.aggr-source-small-5 {
    background-position: -241px -296px;
}

.aggr-source-small-230 {
    background-position: -264px -296px;
}

.aggr-source-small-254 {
    background-position: -288px -296px;
}

.aggr-source-small-switch-board {
    background-position: -312px -296px;
}

.aggr-source-small-164 {
    background-position: -336px -296px;
}

.aggr-source-small-169 {
    background-position: -360px -296px;
}

.aggr-source-small-178 {
    background-position: -384px -296px;
}

.aggr-source-small-200 {
    background-position: -408px -296px;
}

.aggr-source-small-216 {
    background-position: -432px -296px;
}

.aggr-source-small-197 {
    background-position: -456px -296px;
}

.aggr-source-small-100 {
    background-position: -1px -333px;
}

.aggr-source-small-41 {
    background-position: -26px -333px;
}

.aggr-source-small-79 {
    background-position: -49px -333px;
}

.aggr-source-small-2 {
    background-position: -73px -333px;
}

.aggr-source-small-2 {
    background-position: -408px -333px;
}

.aggr-source-small-120 {
    background-position: -97px -333px;
}

.aggr-source-small-56 {
    background-position: -121px -333px;
}

.aggr-source-small-237 {
    background-position: -121px -333px;
}

.aggr-source-small-116 {
    background-position: -145px -333px;
}

.aggr-source-small-96 {
    background-position: -169px -333px;
}

.aggr-source-small-115 {
    background-position: -193px -333px;
}

.aggr-source-small-43 {
    background-position: -217px -333px;
}

.aggr-source-small-39 {
    background-position: -241px -333px;
}

.aggr-source-small-239 {
    background-position: -264px -333px;
}

.aggr-source-small-224 {
    background-position: -288px -333px;
}

.aggr-source-small-air-yell {
    background-position: -312px -333px;
}

.aggr-source-small-158 {
    background-position: -336px -333px;
}

.aggr-source-small-172 {
    background-position: -360px -333px;
}

.aggr-source-small-179 {
    background-position: -384px -333px;
}

.aggr-source-small-217 {
    background-position: -408px -333px;
}

.aggr-source-small-182 {
    background-position: -456px -333px;
}

.aggr-source-small-127 {
    background-position: -1px -369px;
}

.aggr-source-small-104 {
    background-position: -26px -369px;
}

.aggr-source-small-110 {
    background-position: -49px -369px;
}

.aggr-source-small-111 {
    background-position: -73px -369px;
}

.aggr-source-small-136 {
    background-position: -97px -369px;
}

.aggr-source-small-113 {
    background-position: -121px -369px;
}

.aggr-source-small-118 {
    background-position: -145px -369px;
}

.aggr-source-small-139 {
    background-position: -169px -369px;
}

.aggr-source-small-stik {
    background-position: -193px -369px;
}

.aggr-source-small-29 {
    background-position: -217px -369px;
}

.aggr-source-small-63 {
    background-position: -241px -369px;
}

.aggr-source-small-241 {
    background-position: -264px -369px;
}

.aggr-source-small-222 {
    background-position: -288px -369px;
}

.aggr-source-small-223 {
    background-position: -312px -369px;
}

.aggr-source-small-156 {
    background-position: -336px -369px;
}

.aggr-source-small-fujitsu {
    background-position: -360px -369px;
}

.aggr-source-small-176 {
    background-position: -384px -369px;
}

.aggr-source-small-202 {
    background-position: -408px -369px;
}

.aggr-source-small-219 {
    background-position: -432px -369px;
}

.aggr-source-small-buzzlocal {
    background-position: -456px -369px;
}

.aggr-source-small-81 {
    background-position: -1px -406px;
}

.aggr-source-small-14 {
    background-position: -26px -406px;
}

.aggr-source-small-fertilityauthority {
    background-position: -49px -406px;
}

.aggr-source-small-102 {
    background-position: -73px -406px;
}

.aggr-source-small-61 {
    background-position: -97px -406px;
}

.aggr-source-small-48 {
    background-position: -121px -406px;
}

.aggr-source-small-142 {
    background-position: -145px -406px;
}

.aggr-source-small-135 {
    background-position: -169px -406px;
}

.aggr-source-small-16 {
    background-position: -193px -406px;
}

.aggr-source-small-18 {
    background-position: -217px -406px;
}

.aggr-source-small-1 {
    background-position: -241px -406px;
}

.aggr-source-small-252 {
    background-position: -264px -406px;
}

.aggr-source-small-234 {
    background-position: -288px -406px;
}

.aggr-source-small-248 {
    background-position: -312px -406px;
}

.aggr-source-small-161 {
    background-position: -336px -406px;
}

.aggr-source-small-kodak {
    background-position: -360px -406px;
}

.aggr-source-small-180 {
    background-position: -384px -406px;
}

.aggr-source-small-201 {
    background-position: -408px -406px;
}

.aggr-source-small-220 {
    background-position: -432px -406px;
}

.aggr-source-small-261 {
    background-position: -911px -406px;
}

.aggr-source-small-51 {
    background-position: -1px -443px;
}

.aggr-source-small-144 {
    background-position: -26px -443px;
}

.aggr-source-small-134 {
    background-position: -49px -443px;
}

.aggr-source-small-49 {
    background-position: -73px -443px;
}

.aggr-source-small-65 {
    background-position: -97px -443px;
}

.aggr-source-small-84 {
    background-position: -121px -443px;
}

.aggr-source-small-62 {
    background-position: -145px -443px;
}

.aggr-source-small-131 {
    background-position: -217px -443px;
}

.aggr-source-small-92 {
    background-position: -193px -443px;
}

.aggr-source-small-19 {
    background-position: -169px -443px;
}

.aggr-source-small-140 {
    background-position: -241px -443px;
}

.aggr-source-small-253 {
    background-position: -264px -443px;
}

.aggr-source-small-251 {
    background-position: -288px -443px;
}

.aggr-source-small-256 {
    background-position: -312px -443px;
}

.aggr-source-small-160 {
    background-position: -336px -443px;
}

.aggr-source-small-leitz {
    background-position: -360px -443px;
}

.aggr-source-small-173 {
    background-position: -384px -443px;
}

.aggr-source-small-205 {
    background-position: -408px -443px;
}

.aggr-source-small-187 {
    background-position: -432px -443px;
}

.aggr-source-small-262 {
    background-position: -911px -443px;
}
