@import "master";

.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.clearfix-div {
    &:after {
        clear: both;
        display: block;
        content: '';
        height: 0;
    }
}

.pullRight {
    float: right !important;
}

.pullLeft {
    float: left !important;
}

.floatclear {
    float: none;
}

.half {
    display: inline-block;
    width: 50%;
}

.width-60 {
    width: 60%;
}

.container {
    margin: 0 auto;
    transition: margin-left 0.5s;
    margin-left: 0;
    clear: both;
}

.cursor-pointer {
    cursor: pointer !important;
}

// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

// Toggling content
.hide {
    display: none;
}

.hide-forceful {
    display: none !important;
}

.show {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
}

.no-shrink {
    flex-shrink: 0 !important;
}
// Visibility
.invisible {
    visibility: hidden;
}

.opacity-0 {
    opacity: 0;
}

.mr-0 {
    margin-right: 0 !important;
}

.m-0 {
    margin: 0 !important;
}

.mr-3 {
    margin-right: 3px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-40 {
    margin-right: 40px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-60 {
    margin-right: 60px;
}

.mr-25 {
    margin-right: 25px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-140 {
    margin-right: 140px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-4 {
    margin-bottom: 4px;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-3 {
    margin-top: 3px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-30-important {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px;
}

.mt-37 {
    margin-top: 37px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-23 {
    margin-bottom: 23px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-35 {
    margin-bottom: 35px;
}

.mb-12 {
    margin-bottom: 12px !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-56 {
    margin-bottom: 56px;
}

.ml-15 {
    margin-left: 15px;
}

.mlft-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-40 {
    margin-left: 40px;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-10 {
    margin-left: 10px;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-3 {
    margin-left: 3px !important;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-34 {
    margin-bottom: 34px;
}

.bt-1 {
    border-top: 1.5px solid #d9d9d9;
}

.minus-ml-10 {
    margin-left: -10px !important;
}

.minus-ml-20 {
    margin-left: -20px !important;
}

.minus-ml-7 {
    margin-left: -7px;
}

.minus-ml-3 {
    margin-left: -3px !important;
}

.ml-auto {
    margin-left: auto;
}

.minus-ml-15 {
    margin-left: -15px;
}

.minus-ml-12 {
    margin-left: -12px;
}

.minus-mt-1 {
    margin-top: -1px;
}

.minus-mt-2 {
    margin-top: -2px;
}

.minus-mt-4 {
    margin-top: -4px !important;
}

.minus-mt-8 {
    margin-top: -8px;
}

.minus-mt-10 {
    margin-top: -10px;
}

.minus-mt-5 {
    margin-top: -5px;
}

.minus-mt-3 {
    margin-top: -3px;
}

.minus-mt-15 {
    margin-top: -15px;
}

.minus-mt-20 {
    margin-top: -20px;
}

.minus-mt-30 {
    margin-top: -30px;
}

.minus-mt-40 {
    margin-top: -40px;
}

.minus-mt-30 {
    margin-top: -30px;
}

.minus-mr-30 {
    margin-right: -30px;
}

.minus-mt-7 {
    margin-top: -7px;
}

.minus-mt-4 {
    margin-top: -4px;
}

.minus-mt-10 {
    margin-top: -10px;
}

.pot-5 {
    padding: 5px 0 0 !important;
}

.pd-20 {
    padding: 20px !important;
}

.pd-10 {
    padding: 10px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-7 {
    padding-top: 7px !important;
}

.pt-12 {
    padding-top: 12px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.p-0 {
    padding: 0 !important;
}

.pd-5 {
    padding: 5px;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-3 {
    padding-right: 3px !important;
}

.pl-3 {
    padding-left: 3px !important;
}

.pr-30 {
    padding-right: 30px;
}

.pr-35 {
    padding-right: 35px;
}

.pl-0 {
    padding-left: 0 !important;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-35 {
    padding-left: 35px;
}

.pl-45 {
    padding-left: 45px;
}

.pl-27 {
    padding-left: 27px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-20 {
    padding-top: 20px;
}

.pb-52 {
    padding-bottom: 52px !important;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-35 {
    padding-bottom: 35px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-7 {
    padding-bottom: 7px !important;
}

.w-120 {
    width: 120px;
}

.w-135 {
    width: 135px;
}

.w-150 {
    width: 150px;
}

.w-160 {
    width: 160px;
}

.w-200 {
    width: 200px;
}

.w-170 {
    width: 170px;
}

.w-185 {
    width: 185px;
}

.w-250 {
    width: 250px;
}

.w-240 {
    width: 240px;
}

.w-320 {
    width: 320px;
}

.w-90per {
    width: 90%;
}

.w-38 {
    width: 38px;
}

.max-w-90per {
    max-width: 90%;
}

.max-467 {
    max-width: 467px;
}

.max-240 {
    max-width: 240px;
}

.max-600 {
    max-width: 600px;
}

.ht-100 {
    height: 100%;
}

.w-80per {
    width: 80%;
}

.pb-10 {
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.align-middle {
    vertical-align: middle;
}

.align-top {
    vertical-align: top;
}

.hgt-40 {
    height: 40px;
}

.align-baseline {
    vertical-align: baseline;
}

.light-weight {
    font-weight: 300;
}

.normal-weight {
    font-weight: 400;
}

.hgt-55 {
    height: 55px;
}

.pos-abs {
    position: absolute;
}

.pos-rel {
    position: relative;
}

.pos-stat {
    position: static !important;
}

.center-box {
    max-width: 500px;
    margin: 0 auto;
}

.list-disc-type {
    list-style-type: disc;
}

.italic {
    font-style: italic;
}

// TODO : commented this as it is overriding storybook doc css
// .token {
//     border-radius: 2px;
//     background-color: #eceff1;
//     color: #455b76;
//     font-size: 10px;
//     padding: 5px;
//     margin-bottom: 2px;
//     width: auto;
//     display: inline-block;
//     cursor: none;
//     line-height: 11px;
// }

.token-inputbox {
    width: auto;
    display: inline-block;
    cursor: none;
    margin-bottom: 2px;
    padding: 6px 10px;
    border-radius: 4px;
    background-color: #e9e9eb;
    color: #555;
    font-size: 13px;
    line-height: 12px;
}

.show-hide-btn {
    font-size: 14px;
    color: $blue-0d4;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 7px;

    .icon-settings_24px {
        font-size: 28px;
        vertical-align: middle;
        display: inline-block;
        margin-left: -5px;
        margin-right: 6px;

        &:before {
            color: $blue-0d4;
        }
    }
}

.select-source-list {
    border-radius: 2px;
    background-color: #f9fafb;
    border: solid 1px #f4f6f7;
    padding: 20px 20px 10px;
    margin-bottom: 20px;
    max-height: 198px;
    overflow-y: auto;

    p {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #212121;
        margin: 0 0 10px;
    }

    section {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        margin: 10px 0;
        position: relative;

        input[disabled]+label {
            color: $gray-99;

            &:before {
                background-color: $gray-ece;
            }
        }

        input+label {
            .icon-question {
                vertical-align: middle;
                margin-left: 5px;
            }
        }

        label {
            div {
                max-width: calc(100% - 50px);
                // text-transform: capitalize;
            }
        }
    }
}

.w-320 {
    width: 320px;
}

.w-160 {
    width: 160px;
}

.cursor-disable {
    pointer-events: none;
}

.monospace-textarea {
    textarea.txt-input-area {
        font-family: monospace;
        font-size: 12px;
    }
}

.modal-txt {
    font-size: 14px;
    color: $gray-55;
    margin-bottom: 20px;
    line-height: 1.57;

    .link {
        color: $blue-0d4;
    }

    &.mb-30 {
        margin-bottom: 30px;
    }
}

.overflow-h {
    overflow: hidden;
}

.overflow-v {
    overflow: visible;
}

.ellipses {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.no-wrap {
    white-space: nowrap;
}

.pre-wrap {
    white-space: pre;
}

.align-left {
    width: 100%;
    display: block;
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    width: 100%;
    display: block;
    text-align: right;
}

.text-right {
    text-align: right !important;
}

.capitalize {
    text-transform: capitalize;
}

.no-text-transform {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

.brand-color {
    color: $default-color;
}

.minus-15-lr {
    margin-left: -15px;
    margin-right: -15px;
}

.minus-30-lr {
    margin-left: -30px;
    margin-right: -30px;
}

.minus-20-lr {
    margin-left: -20px;
    margin-right: -20px;
}

.plr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.plr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.plr-0 {
    padding-left: 0;
    padding-right: 0;
}

.margin-30lr {
    margin-left: 30px;
    margin-right: 30px;
}

.width-auto {
    width: auto !important;
}

.min-auto {
    min-width: auto !important;
}

.min-width190 {
    min-width: 190px !important;
}

.white-30x {
    padding: 30px;

    .submenu-data-wrapper {
        padding: 0 0 30px;
    }
}

.phoenix-wrapper {
    padding: 23px 30px 30px;
}

.gray-box {
    padding: 20px;

    @include border-radius(4px);

    background: $gray-f9f;
    max-width: 500px;
    margin: 0 auto;
}

.gray-box-large {
    padding: 30px;

    @include border-radius(4px);

    background: $gray-f9f;
}

.plr-30 {
    padding: 0 30px;
}

.pd-0 {
    padding: 0 !important;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-125 {
    margin-bottom: 125px;
}

.mb-170 {
    margin-bottom: 170px;
}

.mb-190 {
    margin-bottom: 190px;
}

.mb-200 {
    margin-bottom: 200px;
}

.pb-170 {
    padding-bottom: 170px;
}

.pb-190 {
    padding-bottom: 190px;
}

.lh-20 {
    line-height: 20px !important;
}

.lh-25 {
    line-height: 25px;
}

.overflow-h {
    overflow: hidden;
}

.icon-alert {
    &.error-16x {
        font-size: 16px;

        .path2 {
            &:before {
                color: #b91812;
            }
        }
    }

    &.notification-16x {
        font-size: 16px;

        .path2 {
            &:before {
                color: $start-active;
            }
        }
    }
}

.notification-info {
    .notification-info-message {
        color: $default-color;
    }
}

.icon-restrict {
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: bottom;
    border: 1.5px solid #f7412d;
    position: relative;
    border-radius: 50%;

    &:before {
        position: absolute;
        width: 1.5px;
        height: 12px;
        background-color: #f7412d;
        left: 50%;
        top: 0;
        content: "";
        display: block;
        margin-left: -0.5px;
        transform: rotate(-45deg);
    }
}

.table-no-data {
    text-align: center;
    margin: 0 15px;
    font-size: 12px;
    padding: 10px;
    font-style: italic;
    background: #f9fafb;
    border-bottom: 1px solid $gray-ece;
    border-top: 1px solid $gray-ece;
    height: 45px;
    line-height: 25px;
}

.modal-txt {
    font-size: 14px;
    color: $gray-55;
    margin-bottom: 20px;

    b {
        font-weight: 500;
        color: $default-color;
    }
}

.bold {
    font-weight: 500;
}

.semibold {
    font-weight: 500;
}

.anchor-link-btn {
    background-color: transparent;
    color: $blue-0d4;
    padding: 0;
    cursor: pointer;

    &.txt-12 {
        font-size: 12px;
    }

    &.disable-link {
        color: $gray-cc !important;
        cursor: not-allowed;
    }
}

.show-count {
    max-width: calc(100% - 41px);
    display: inline-block;
    vertical-align: top;
}

.copyboard {
    cursor: pointer;

    i {
        font-size: 18px;
        vertical-align: middle;
        visibility: hidden;
    }

    &:hover {
        i {
            visibility: visible;
        }
    }
}

.pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.opacity-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.error-txt {
    color: $redcolor;
}

.max-width-100 {
    max-width: 100%;
}

.width-100 {
    width: 100%;
}

.bluejay-header-ellipsis {
    h3 {
        @include text-overflow();
    }
}

.no-data-subtitle {
    @include font-style(15px, $default-color, false, 1.53);

    font-family: $inter-font;
    max-width: 570px;

    a {
        color: $brand-color;
    }
}

.label-title-bluejaay {
    font-size: 12px;
    font-weight: 500;
    color: $gray-66;
    display: block;
    margin-bottom: 5px;
}

.label-subtitle-phoenix {
    @include font-style (15px, $gray-455, 500, 1.6);

    margin-bottom: 15px;
    display: block;
}

// .label-title-phoenix {
//     letter-spacing: 0.4px;
//     font-family: $inter-font;

//     @include font-style (23px, $warning-msg, 500, 1.4);

//     margin-bottom: 30px;
// }

.phoenix-heading {
    @include font-style(15px, $default-color, 500, 1.3);

    &.fz-17 {
        font-size: 17px;
    }
}

.phoenix-sub-heading {
    @include font-style(13px, $default-color, 500, 1.2);
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-auto {
    pointer-events: auto;
}

.initial-width {
    width: initial !important;
}

.z-index-3 {
    z-index: 3;
}

.split-page {
    page-break-after: always;
}

.split-page-before {
    page-break-before: always;
}

.inline-block {
    display: inline-block;
}

.font-11 {
    font-size: 11px;
}

.display-block {
    display: block;
}

.display-flex {
    display: flex;
}

.display-flex-center {
    align-items: center;
}

.display-flex-start {
    align-items: flex-start;
}

.flex-direction {
    flex-direction: column;
}

.justify-content-betweeen {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.contact-hyphn-icon {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    display: inline-block;
    visibility: hidden;
}

.ms-drop-215 {
    .ms-drop {
        width: 215px !important;
    }
}

.ms-drop-130 {
    .ms-drop {
        width: 130px;
    }
}

.bold {
    font-weight: 500;
}

.link-txt-bold {
    font-size: 14px;
    background: no-repeat;
    font-weight: 500;
    color: $blue-0d4;
    padding: 0;
    line-height: inherit;
    height: auto;
    display: inline;
}

.align-top {
    vertical-align: top;
}

.slick-slider-feature {
    background: $white;

    :global {
        .icon-reset {
            color: $white;
        }
    }

    .new-feature-box {
        .slide-box {
            .inner-box {
                .slide-image {
                    width: 100%;
                    vertical-align: top;
                    min-height: 272px;
                }

                .welcome-txt {
                    padding: 30px;
                    text-align: center;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 18px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.43;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    .slick-dots {
        position: relative;
        padding-bottom: 30px;
        top: 0;

        li {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #dde3e6;

            &:hover,
            &.slick-active {
                background-color: #8993a4;
            }

            button {
                width: 10px;
                height: 10px;
                padding: 0;

                &:before {
                    width: 10px;
                    height: 10px;
                    content: '';
                }
            }
        }
    }
}

.slick-slider-feature-new {
    background: transparent;

    :global {
        .icon-reset {
            color: $white;
        }
    }

    .new-feature-box {
        .slide-box {
            .inner-box {
                .slide-image {
                    width: 100%;
                    vertical-align: top;
                    min-height: 272px;
                }

                .welcome-txt {
                    padding: 30px;
                    text-align: center;

                    h3 {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 18px;
                    }

                    p {
                        font-size: 14px;
                        line-height: 1.43;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }

    .slick-dots {
        position: absolute;
        padding-bottom: 30px;
        top: 16px;

        li {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #dde3e6;

            &:hover,
            &.slick-active {
                background-color: #8993a4;
            }

            button {
                width: 10px;
                height: 10px;
                padding: 0;

                &:before {
                    width: 10px;
                    height: 10px;
                    content: '';
                }
            }
        }
    }
}

.link-underline {
    text-decoration: underline;
    color: $white;
}

.survey-menu-tooltip-con {
    width: 100%;
    margin: 0 !important;
}

.height-35 {
    height: 35px;
}

.height-38 {
    height: 38px;
}

.height-30 {
    height: 30px;
}

.override-whitespace {
    white-space: initial !important;
}

.dashboard-links {
    font-size: 13px;
    color: $blue-0d4;
    display: inline-block;
    text-decoration: none;

    &:hover {
        color: $blue-0d4;
    }
}

.white-header {
    background-color: $white !important;
}

.app-wrapper-full {
    // width: 100% !important;
    // max-width: initial !important;
    width: 100%;
    max-width: 1920px;

    .content-filter-remove {
        width: calc(100% - 220px);
        background: $white;
        min-height: 100vh;

        +div {
            opacity: 0;
            padding: 0;
            visibility: hidden;

            &:after {
                display: none;
            }
        }
    }
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.mb-180 {
    margin-bottom: 180px;
}

.mb-160 {
    margin-bottom: 160px;
}

.fz-17 {
    font-size: 17px !important;
}

.fz-18 {
    font-size: 18px;
}

.yellow-text {
    color: $yellow-dark !important;
    font-weight: 500;
}

.green-text {
    color: $positive-sentiment !important;
    font-weight: 500;
}

.red-text {
    color: $error-red !important;
    font-weight: 500;
}

.red-normal-text {
    color: $error-red;
}

.success {
    color: $positive-sentiment;
    font-weight: 500;

    &:before {
        color: $positive-sentiment !important;
    }
}

.disabled-text {
    color: $gray-cc;
    font-weight: 500;
}

.disable-normal-text {
    color: $gray-cc;
}

.disabled-strong {
    color: $gray-cc !important;
    font-weight: 500;
}

.pdf-page-break {
    page-break-inside: avoid;
}

.disable-list {
    color: $gray-99 !important;
}

/*-----banners---*/

.banner {
    padding: 16px 16px 16px 56px;
    border-left: solid 3px $positive-sentiment;
    background: $greenColor;
    position: relative;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;

    label {
        @include font-style(15px, $gray-55, false, 1.47);

        strong {
            font-weight: 500;
        }
    }

    >span {
        @include abs-position(50%, false, false, 20px);
        @include translate (0, -50%);

        i {
            font-size: 24px;
        }
    }

    &.warning {
        background: $warning-light;
        border-color: $yellow-dark;
    }

    &.error {
        background: $light-red;
        border-color: $light-red;
    }

    &.info {
        background: $grey-bg;
        border-color: $gray-99;
    }
}

/*-----badges---*/
.badges {
    @include font-style (11px, $white, 500, 1.2);

    padding: 5px 5px 2px;

    @include border-radius (50%);

    background-color: $dark-blue-selected;
    z-index: 1;
    text-align: center;
    min-width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;

    &.badge-light {
        background-color: $light-grey-border;
        color: $gray-455;
    }

    &.badge-with-icon {
        padding: 3px 10px;
        height: 22px;
        color: $gray-55;
        background-color: $light-grey-border;
        display: inline-flex;
        align-items: center;

        >span {
            @include font-style (10px, $gray-55, 400, 1.3);

            font-family: $inter-font;
        }

        i {
            @include font-style (16px, $gray-55);

            margin-left: 3px;
        }
    }

    &.warning {
        background-color: $start-active;
    }

    &.error {
        background-color: $error-red;
    }

    &.success {
        background-color: $positive-sentiment;
    }

    &.default-cursor {
        cursor: default;
    }
}

.height-initial {
    height: initial;
}

// .reviews-page,
// .ticket-page {
//     p {
//         word-wrap: break-word;

//         @include font-style(15px, $default-color, 400, 1.6);
//     }

//     h3,
//     h4 {
//         font-family: $inter-font;
//     }

//     h3 {
//         letter-spacing: 0.4px;

//         @include font-style(23px, $default-color, 500, 1.4);
//     }

//     h4 {
//         @include font-style (13px, false, 500);
//     }
// }

.fz-20 {
    font-size: 20px !important;
}

.fz-24 {
    font-size: 24px !important;
}

.neutral-sentiment {
    color: $yellow-dark !important;
    font-weight: 500;
}

.positive-sentiment {
    color: $positive-sentiment !important;
    font-weight: 500;
}

.success-icon {
    color: $positive-sentiment;
    font-weight: 500;

    i {
        vertical-align: top;

        &:before {
            color: $positive-sentiment;
        }
    }
}

.red-alert-glit {
    .path1 {
        &:before {
            color: $error-red;
            opacity: 1;
        }
    }
}

.enableSideRailNav {
    .page-wrapper {
        flex-grow: 1;
    }
}

.page-wrapper {
    padding: 30px;

    &.less-top {
        padding: 22px 30px;
    }

    &.less-bottom {
        padding: 30px 30px 22px;
    }

    &.pt-0 {
        :global {
            .breadcrumb-wrap {
                padding-top: 30px;
            }
        }
    }

    .submenu-data-wrapper {
        padding: 0 0 30px;
    }
}

.back-btn {
    @include center-all();
    @include size (34px, 34px);

    transition: all 0.2s ease;
    margin-right: 10px;

    @include border-radius(4px);

    cursor: pointer;

    i {
        @include font-style (24px, $gray-55);

        transform: translateY(1px);
    }

    &:hover {
        background-color: $pale-blue;
    }
}

.phoenix-icon {
    padding: 5px;
    transition: all 0.2s ease;
    cursor: pointer;

    @include center-inline-all();
    @include border-radius(4px);

    &:hover {
        background-color: $pale-blue;
    }

    &.tooltip-nopadding {
        padding: 0;
    }

    &.disabled {
        cursor: default;
        background-color: transparent;

        &:before {
            color: $gray-cc;
        }
    }

    &.phoenix-icon-circle {
        @include border-radius(50%);
    }
}

.disabled-icon {
    &:before {
        color: $gray-cc;
    }
}

// animation-global-css

.fadeIn {
    animation: fadeIn 2s infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeInLeft {
    animation: fadeInLeft 0.5s 1;
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeinRight {
    animation: fadeInRight 1s linear;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    transform: translate3d(-100%, 0, 0);
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation: slideInRight 1s linear;
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.invalid-error,
.warning {
    .validation-errors,
    .validation-warnings {
        @include abs-position (false, false, -17px, 0);

        li {
            @include font-style (11px, $error-red, false, 1.2);

            font-family: $brandFont;
        }
    }
}

.invalid-error {
    &+.validation-errors {
        @include abs-position (false, false, -17px, 0);

        li {
            @include font-style (11px, $error-red, false, 1.2);

            font-family: $brandFont;
        }
    }
}

.warning {
    .validation-warnings {
        li {
            color: $start-active;
        }
    }
}

.audio-error {
    @include font-style (12px, $error-red, false, 1.2);

    margin: 5px 5px 0 0;
}

.chatbot-msg-prev {
    @include font-style (15px, $default-color, false, 1.33);

    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 40px;
}

.blue-link {
    cursor: pointer;
    padding: 0;
    background-color: transparent;

    &:hover {
        background-color: transparent;
    }
}

/*-------- anchor same style as btn ----------*/
.small-btn-primary,
.btn-secondary,
.btn-primary {
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
    transition: all 0.3s ease;

    @include border-radius (8px);
    @include font-style (14px, $white, 400, 1.2);

    height: 34px;
    background-color: $brand-color;
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
        background-color: $primary-hover;
    }
}

.btn-primary {
    padding: 12px 20px;
    height: 44px;
}

.btn-secondary {
    color: $gray-55;
    border: 1px solid $gray-cc;
    background-color: $white;

    &:hover {
        background-color: $pale-blue;
    }

    &.disabled {
        background: $pale-blue;
        color: $gray-cc;
        font-weight: 400;
        cursor: default;

        &:hover {
            background: $pale-blue;
        }

        i {
            &:before {
                color: $gray-cc;
            }
        }

        img,
        i {
            opacity: 0.5;
        }
    }

    &.btn-icon {
        width: 44px;
        padding: 9px 7px;
        position: relative;

        @include center-all();

        i {
            font-size: 24px;
        }
    }
}

.anchor-txt-with-underline {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    @include font-style (15px, $gray-455, 500);

    &.small-txt {
        font-size: 13px;
    }

    &.x-small-txt {
        font-size: 10px;
    }
}

.anchor-txt {
    cursor: pointer;

    @include font-style (15px, $brand-color, 500);

    &.small-txt {
        font-size: 13px;
    }

    &.x-small-txt {
        font-size: 10px;
    }
}

.error-tooltips {
    @include abs-position (10px, 15px);

    height: 16px;

    &.with-label {
        top: 28px;
    }
}

.label-outside {
    display: block;
    margin-bottom: 10px;

    @include font-style (11px, $default-color, 400, 1.2);
}

.template-side-drawer {
    .label-outside {
        margin-bottom: 10px;
    }
}

.icons-table {
    display: inline-block;
    line-height: 0;
}

.title-with-controls {
    @include flexbox();

    align-items: center;

    p {
        font-weight: 500;
    }

    >span {
        &:first-child {
            line-height: 1.1;
        }
    }

    .icon_phoenix-question-circle {
        &:before {
            @include font-style (16px, $gray-99);
        }
    }
}

.inter-head {
    @include font-style (15px, $default-color, 500, 1.4);

    font-family: $inter-font;
    display: block;

    &.fz-23 {
        font-size: 23px;
    }

    &.fz-19 {
        font-size: 19px;
    }

    &.fz-17 {
        font-size: 17px;
    }
}

/*------link button with icons------*/
.links-btn {
    margin-top: -10px;
}

.hide-olark-widget {
    div[id=hbl-live-chat-wrapper] {
        display: none !important;
    }
}

.password-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    color: $warning-msg;
    margin-bottom: 17px;
    width: 78%;
}

.change-password {
    .validation-errors {
        bottom: auto;
        margin-top: 4px;
    }
}

.display-table {
    display: table;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.cursor-pointer-important {
    cursor: pointer !important;
}

// Tailwind-like: duration-300 ease-out
$drawer-transition-duration: 300ms;
$drawer-transition-ease: cubic-bezier(0, 0, 0.2, 1);

.side-drawer-overlay {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 13;
    opacity: 0;
    visibility: hidden;
    transition: opacity $drawer-transition-duration $drawer-transition-ease,
        visibility 0s linear $drawer-transition-duration,
        backdrop-filter $drawer-transition-duration $drawer-transition-ease,
        -webkit-backdrop-filter $drawer-transition-duration $drawer-transition-ease;

    &.no-bg {
        background-color: transparent;
    }

    &.hide-drawer {
        opacity: 0;
        visibility: hidden;
        transition: opacity $drawer-transition-duration $drawer-transition-ease,
            visibility 0s linear $drawer-transition-duration,
            backdrop-filter $drawer-transition-duration $drawer-transition-ease,
            -webkit-backdrop-filter $drawer-transition-duration $drawer-transition-ease;

        .side-drawer {
            visibility: hidden;
            transform: translateX(calc(100% + 10px));
            transition: transform $drawer-transition-duration $drawer-transition-ease,
                visibility 0s linear $drawer-transition-duration;
        }
    }

    &.open-drawer {
        background-color: hsla(0, 0%, 40%, 0.1);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        opacity: 1;
        visibility: visible;
        transition: opacity $drawer-transition-duration $drawer-transition-ease,
            visibility 0s linear 0s,
            backdrop-filter $drawer-transition-duration $drawer-transition-ease,
            -webkit-backdrop-filter $drawer-transition-duration $drawer-transition-ease;

        .side-drawer {
            visibility: visible;
            transform: translateX(0);
            transition: transform $drawer-transition-duration $drawer-transition-ease,
                visibility 0s linear 0s;

            &.remove-transform {
                transform: none;
            }
        }
    }
}

.side-drawer {
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: auto;
    width: 480px;
    height: auto;
    visibility: hidden;
    padding: 0 30px 70px;
    border-radius: 12px;
    overflow: hidden;
    background: $white;
    z-index: 9;
    transform: translateX(calc(100% + 10px));
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: transform $drawer-transition-duration $drawer-transition-ease,
        visibility 0s linear $drawer-transition-duration,
        box-shadow $drawer-transition-duration $drawer-transition-ease;

    &.scrollable-drawer {
        padding: 20px 0;
    }

    &.wide-drawer {
        width: 552px;
        padding: 0;
    }

    &.large {
        width: 576px;
    }
}

/*------blue checkboxes outlining----*/
.blue-selection-box {
    @include center-between();

    margin: 0 0 10px;
    border: 1px solid $dark-blue-selected;

    @include border-radius (4px);

    position: relative;
    padding: 10px;

    .left-pannel {
        @include flexbox();

        flex: 1;
        align-items: center;

        label {
            max-width: 400px;

            @include text-overflow();
        }
    }

    &:after {
        content: "";

        @include size (10px, 10px);
        @include abs-position (false, false, -6px, 17px);

        border-right: 1px solid $dark-blue-selected;
        border-bottom: 1px solid $dark-blue-selected;
        background: $white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.inter-head {
        line-height: 1.2;
    }

    &.top-select-bar {
        margin: 0 -10px 30px;
    }
}

.grey-heading {
    @include font-style (13px, $gray-55, 400, 1.2);
}

.grey-heading-phoenix {
    @include font-style (15px, $gray-55, 400, 1.33);
}

/*-----common red green orange circles---*/

.circle {
    display: inline-block;

    @include size (10px, 10px);

    border-radius: 10px;
    margin: 0 10px 0 5px;

    &.promoter {
        background-color: $positive-sentiment;
    }

    &.passive {
        background-color: $start-active;
    }

    &.detractor {
        background-color: $error-red;
    }
}

.popover-listing {
    li {
        &:first-child {
            color: $default-color;
        }

        font-size: 13px;
        color: $gray-55;

        &:last-child {
            margin-bottom: 0;
        }

        i {
            font-size: 16px;
        }

        span {
            width: 90%;
        }
    }
}

.d-inline {
    display: inline;
}

/*-----icon in tooltip----*/
.tooltip-icon {
    >i {
        vertical-align: top !important;
        cursor: pointer;

        &:before {
            color: $white;
        }
    }
}

/*------animated loader----*/
.animated-loader {
    border: 2px solid transparent;
    border-radius: 50%;
    border-top: 2px solid $brand-color;
    border-right: 2px solid $brand-color;
    border-bottom: 2px solid $brand-color;
    width: 16px;
    height: 16px;
    margin: 0;

    :local {
        -webkit-animation: spin 2s linear infinite;

        /* Safari */
        animation: spin 2s linear infinite;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hoverable-icon {
    cursor: pointer;
    margin-right: 5px;
}

/*-----button same as dropdown but for showing calendar (campaigns)------*/
.select-button {
    .icon-cheveron_open {
        @include abs-position (false, 5px);

        &:before {
            @include font-style (16px, $gray-55);
        }
    }
}

.invalid-dates {
    .select-button {
        border-color: $error-red;

        .icon-cheveron_open {
            display: none;
        }
    }
}

.modal-scroll {
    margin: 0 -30px 30px;
    padding: 0 30px;
    max-height: 375px;
    overflow: auto;
}

.gray-question {
    &:before {
        @include font-style (16px, $gray-99);
    }
}

em.kwhl {
    font-style: normal;
    font-weight: 500;
}

.bf-negative-snippet {
    border-bottom: 1px solid $error-red;
}

.bf-positive-snippet {
    border-bottom: 1px solid $positive-sentiment;
}

.no-hover {
    padding: 0;

    &:hover {
        background-color: transparent;
    }
}

.border-red {
    border-color: $error-red;
}

@media only screen and (max-width: 1200px) {
    // .reviews-page h3,
    // .ticket-page h3 {
    //     font-size: 17px;
    // }

    .app-wrapper-full {
        .content-filter-remove {
            width: 100%;
        }
    }
}

// @media only screen and (max-width: 991px) {
//     .reviews-page,
//     .ticket-page {
//         h4 {
//             font-size: 12px;
//         }
//     }
// }

/*-----charts tooltip mass texting----*/
// .tooltip-phoenix {
//     margin-bottom: 12px;
//     border-bottom: 0;
//     padding: 0;

//     > div {
//         @include font-style (13px, $gray-55);
//     }

//     &:last-child {
//         margin-bottom: 0;
//     }
// }

// .tooltipDot-phoenix {
//     @include size (10px, 10px);

//     margin: 3px 6px 0;
// }

.gray-question {
    &:before {
        @include font-style (16px, $gray-99);
    }
}

@media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
    .blue-selection-box {
        .left-pannel {
            label {
                padding-top: 2.5px;
            }
        }
    }
}

.icon_phoenix-success-disable {
    &:before {
        color: #4caf50;
        opacity: 0.3;
    }
}

.dollar-icon {
    font-size: 16px;
    margin-right: 8px;
    line-height: 25px;
    vertical-align: top;

    &.i {
        font-style: normal;
        line-height: 1.1;
        color: $gray-99;
        margin: 0;
    }
}

.set-intitals {
    @include size(32px, 32px);
    @include font-style (15px, $white, 500, 2.1);

    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    background-color: $gray-64;

    img {
        object-fit: cover;
    }

    &.large {
        @include size(40px, 40px);
        @include font-style (17px, $white, 500, 2.3);
    }

    &.light-red {
        background: $avatar-red;
        color: $avatar-red-text;
    }

    &.light-orange {
        background: $avatar-orange;
        color: $avatar-orange-text;
    }

    &.light-green {
        background: $avatar-light-green;
        color: $avatar-light-green-text;
    }

    &.dark-green {
        background: $avatar-green;
        color: $avatar-green-text;
    }

    &.light-blue {
        background: $avatar-light-blue;
        color: $avatar-light-blue-text;
    }

    &.dark-blue {
        background: $avatar-blue;
        color: $avatar-blue-text;
    }

    &.light-pink {
        background: $avatar-light-pink;
        color: $avatar-light-pink-text;
    }
}

.team-chat-bg {
    background: rgb(76, 175, 80);

    &:hover {
        background-color: $green-dark-hover;
    }

    &:focus {
        background: rgb(76, 175, 80);
    }
}

.sentiment-score {
    width: 18px;
    height: 18px !important;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;

    &.sm {
        width: 14px;
        height: 14px !important;
    }

    &.lg {
        width: 20px;
        height: 20px !important;
    }

    &.xl {
        width: 27px;
        height: 27px !important;
    }
}

// remove spinners

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.holiday-theme-header-container {
    opacity: 0;
    visibility: hidden;
}

.enableSideRailNav {
    display: flex;
}

.highcharts-label {
    &.highcharts-tooltip {
        div[class*="labelMain"] {
            .line-graph {
                display: inline-block;

                .first-graph {
                    @include size (3px, 12px);

                    border-top-left-radius: 1px;
                    border-top-right-radius: 1px;
                    margin-right: 2px;
                    display: inline-block;
                    background: $gray-455;
                }

                .second-graph {
                    @include size (3px, 12px);

                    border-top-left-radius: 1px;
                    border-top-right-radius: 1px;
                    margin-right: 5px;
                    display: inline-block;
                    background: rgba(69, 91, 118, 0.5);
                }
            }
        }

        .review-percentage-block {
            @include size (200px, false);
            @include center-between();

            padding-right: 12px;
            padding-bottom: 6px;

            .positive,
            .negative {
                i {
                    font-size: 15px;
                    font-weight: 500;
                    vertical-align: -2px;
                }
            }

            .positive {
                color: $positive-sentiment;

                i {
                    &:before {
                        color: $positive-sentiment;
                    }
                }
            }

            .negative {
                color: $error-red;

                i {
                    &:before {
                        color: $error-red;
                    }
                }
            }
        }

        .rating-tooltip-block {
            position: relative;

            // &:after {
            //         content: '';
            //     border-right: 1px dashed $gray-99;

            //     @include abs-position (0, 59px, false, false);
            //     @include size (1px, 100%);
            // }

            &.no-line {
                &:after {
                    display: none;
                }
            }

            .tooltip-value-block {
                &:last-child {
                    padding-bottom: 2px;
                }
            }
        }

        div[class*="toolTipBody"] {
            &.tooltip-value-block {
                margin-bottom: 0;
                padding-bottom: 6px;
            }
        }

        .line-draw {
            min-width: 50px;
            padding-right: 12px;
        }
    }
}

.highcharts-tooltip-container {
    z-index: 99 !important;
    position: fixed !important;
}
