@import 'sass/variables';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/borderRadius.scss';

.left {
    @include abs-position (50%, false, false, 0);
    @include size (40px, 40px);
    @include border-radius (50%);

    transform: translateY(-50%);
    margin-left: 20px;
    background-color: hsla(0, 0%, 100%, 0.6);
    z-index: 1;
    cursor: pointer;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.8);
    }

    .carousel-prev {
        @include abs-position (14px, false, false, 15px);
        @include size (12px, 12px);
        @include border-radius (2px);

        border-left: 3px solid $default-color;
        border-top: 3px solid $default-color;
        transform: rotate(-45deg);
        position: relative;
    }
}

.right {
    @include abs-position (50%, 0, false, false);
    @include size (40px, 40px);
    @include border-radius (50%);

    transform: translateY(-50%);
    margin-right: 20px;
    background-color: hsla(0, 0%, 100%, 0.6);
    z-index: 1;
    cursor: pointer;

    &:hover {
        background-color: hsla(0, 0%, 100%, 0.8);
    }

    .carousel-next {
        @include size (12px, 12px);
        @include abs-position (14px, false, false, 12px);
        @include border-radius (2px);

        border-right: 3px solid $default-color;
        border-bottom: 3px solid $default-color;
        transform: rotate(-45deg);
        position: relative;
    }
}

.broken-image {
    @include size (24px, 24px);

    box-sizing: content-box;
    background-color: $pale-blue;
    padding: 49px 79px !important;
}

.broken-image-profile {
    padding: 88px 108px !important;
}

.broken-image-social {
    padding: 54.5px 53px !important;
}