.timeline-item {
    background: $white;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 12px 0;
    margin-bottom: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 146px;
}

.animated-background {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: $animated-skeleton-bg;
    background: linear-gradient(to right, $gray-ee 14%, $gray-dd 28%, $gray-ee 36%);
    background-size: 800px 104px;
    height: 119px;
    position: relative;
}

.background-masker {
    background: $white;
    position: absolute;
}

/* Every thing below this is just positioning */
.background-masker.rounded-corner {
    width: 40px;
    height: 40px;
    background: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    border: 8px solid $white;
    border: 8px solid #fff;
    top: -8px;
    left: -8px;
}

.background-masker.header-top,
.background-masker.header-bottom,
.background-masker.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
}

.background-masker.header-left,
.background-masker.subheader-left,
.background-masker.header-right,
.background-masker.subheader-right {
    top: 10px;
    left: 40px;
    height: 5px;
    width: 10px;
}

.background-masker.header-bottom {
    top: 15px;
    height: 12px;
}

.background-masker.subheader-left,
.background-masker.subheader-right {
    top: 27px;
    height: 5px;
}

.background-masker.header-right,
.background-masker.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
}

.background-masker.subheader-right {
    left: 230px;
}

.background-masker.subheader-bottom {
    top: 32px;
    height: 10px;
}

.background-masker.content-top,
.background-masker.content-second-line,
.background-masker.content-third-line,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 15px;
}

.background-masker.content-top {
    height: 34px;
}

.background-masker.content-first-end,
.background-masker.content-second-end,
.background-masker.content-third-end,
.background-masker.content-first-gap {
    width: auto;
    left: 380px;
    right: 0;
    top: 74px;
    height: 5px;
}

.background-masker.content-second-line {
    top: 79px;
}

.background-masker.content-second-end,
.background-masker.content-second-gap {
    left: 450px;
    top: 94px;
}

.background-masker.content-third-line {
    top: 99px;
}

.background-masker.content-third-end,
.background-masker.content-third-gap {
    left: 300px;
    top: 114px;
}

.half-tile-wrapper,
.full-tile-wrapper,
.insight-tile-wrapper,
.timeline-item {
    .left-0 {
        left: 0;
    }

    .left-345 {
        left: 345px;
    }

    .left-325 {
        left: 325px;
    }

    .left-275 {
        left: 275px;
    }

    .left-175 {
        left: 175px;
    }

    .left-125 {
        left: 125px;
    }

    .left-90 {
        left: 90px;
    }

    .background-masker.content-first-gap,
    .background-masker.content-second-gap,
    .background-masker.content-third-gap {
        width: 90px;
        left: 0;
        height: 5px;
    }
}

.full-tile-wrapper {
    .timeline-item {
        height: auto;
    }

    .animated-background {
        height: 181px;
    }

    .background-masker.content-top {
        height: 96px;
    }

    .background-masker.content-first-end,
    .background-masker.content-first-gap {
        top: 136px;
    }

    .background-masker.content-second-line {
        top: 141px;
    }

    .background-masker.content-second-end,
    .background-masker.content-second-gap {
        top: 156px;
    }

    .background-masker.content-third-line {
        top: 161px;
    }

    .background-masker.content-third-end,
    .background-masker.content-third-gap {
        top: 176px;
    }

    .left-345 {
        left: calc(345px + 90px);
    }

    .left-325 {
        left: calc(325px + 90px);
    }

    .left-275 {
        left: calc(375px + 90px);
    }
}

/*Presence skeleton code start*/
.table-skeleton {
    background: $white;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    .table-skeleton-row {
        padding: 14px 0;
        border-bottom: 1px solid #ccc;
        position: relative;

        .animated-background {
            animation-duration: 1.25s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeHolderShimmer;
            animation-timing-function: linear;
            background: $animated-skeleton-bg;
            background: linear-gradient(to right, $gray-ee 14%, $gray-dd 28%, $gray-ee 36%);
            background-size: 800px 104px;
            height: 17px;
            position: relative;
        }

        &:last-child {
            border-bottom: 0;
        }

        .circle-logo {
            background: $white;
            height: 17px;
            width: 17px;
            position: absolute;
            left: 0;
            top: 14px;

            .circle {
                width: 17px;
                height: 17px;
                border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -webkit-border-radius: 50%;
                -o-border-radius: 50%;
                animation-duration: 1.25s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-name: placeHolderShimmer;
                animation-timing-function: linear;
                background: $animated-skeleton-bg;
                background: linear-gradient(to right, $gray-ee 14%, $gray-dd 28%, $gray-ee 36%);
                background-size: 800px 104px;
                position: relative;
            }
        }

        .background-mask {
            height: 10px;
            background: $white;
            position: absolute;
        }

        .bg-left {
            width: 17px;
            height: 17px;
            left: 0;
            top: 14px;
            display: none;
        }

        .top-bg {
            width: 100%;
            height: 10px;
            top: 10px;
            left: 0;
        }

        .bottom-bg {
            width: 100%;
            height: 10px;
            bottom: 9px;
            left: 0;
        }

        .first-line {
            width: 23px;
            height: 17px;
            top: 17px;
            left: 17px;
            display: none;
        }

        .second-line {
            width: 104px;
            height: 17px;
            top: 17px;
            left: 122px;
        }

        .third-line {
            width: 104px;
            height: 17px;
            top: 17px;
            left: 356px;
        }

        .fourth-line {
            width: 104px;
            height: 17px;
            top: 17px;
            left: 570px;
        }

        .fifth-line {
            width: 53px;
            height: 17px;
            top: 17px;
            right: 0;
        }
    }

    &.be-presence-single-row-skeleton-wrapper {
        padding: 0 15px 0 0;
    }
}

/*Half Tail Loader */
.half-tail,
.full-tail {
    display: inline-block;
    width: 100%;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 99;
    transform: translate(0%, 0%) !important;
    -webkit-transform: translate(0%, 0%) !important;
    -ms-transform: translate(0%, 0%) !important;

    &:after,
    &:before {
        content: initial !important;
    }
}

#map-skeleton {
    margin: 80px auto 0;
    max-width: 80%;

    img {
        max-width: 100%;
    }
}

#ratingByStatesChart,
.chartWrapper {
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
}

.flexGraph {
    display: flex;
}

.flexGraph > .center {
    margin: 180px 50% 210px;
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

.skeleton-wrapper {
    .timeline-item {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.graph-picture-skeleton {
    background: $gray-ee;
    padding: 0;
    width: 100%;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    height: 159px;
    border-bottom: 2px solid #eee;

    .animated-background {
        animation-duration: 1.25s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background: $animated-skeleton-bg;
        background: linear-gradient(to right, $gray-ee 14%, $gray-dd 28%, $gray-ee 36%);
        background-size: 800px 104px;
        width: 100%;
        height: 159px;
        position: relative;
    }

    .rounded-corner {
        background: 0 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        border: 16px solid $white;
        width: 60px;
        height: 60px;
        top: 36px;
        left: 5px;
        box-sizing: content-box;
        -moz-box-sizing: content-box;
        -ms-box-sizing: content-box;
        -o-box-sizing: content-box;
        -webkit-box-sizing: content-box;
    }

    .header-top {
        width: 100%;
        height: 52px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header-left {
        width: 15px;
        height: 107px;
        position: absolute;
        left: 0;
        top: 52px;
    }

    .center-left {
        width: 27px;
        height: 108px;
        right: 169px;
        bottom: 0;
    }

    .center-right {
        width: 50px;
        height: 108px;
        right: 0;
        bottom: 0;
    }

    .pic-center {
        width: 130px;
        height: 10px;
        right: 50px;
        bottom: 73px;
    }

    .pic-top {
        width: 130px;
        height: 17px;
        right: 50px;
        bottom: 90px;
    }

    .pic-down {
        width: 130px;
        height: 19px;
        right: 50px;
        bottom: 47px;
    }

    .footer-btm {
        width: 100%;
        height: 47px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}