@import "sass/master";
@import "../../../assets/icomoon/phoenix/style";

.dynamic-accordion-container {
    padding: 0 24px;
    transition: transform 0.3s ease-in-out;
    font-family: $brandFont;

    li {
        margin-bottom: 24px;
        list-style: none;

        .accordion-header {
            @include flexbox();
            width: max-content;

            .header-arrow-icon {
                padding: 0px 4px;
                cursor: pointer;
            }

            .header-content {
                @include flexbox();
                flex-direction: column;
                align-items: flex-start;

                span {
                    @include font-style(12px, $gray-55, false, 18px);
                    margin-top: 0px;
                }

                h2 {
                    @include font-style(14px, $default-color, 500, 20px);
                    margin: 0px;
                }
            }
        }

        .accordion-body {
            min-height: 0;
            max-height: 0;
            overflow: hidden;
            transition: all ease 0.5s;

            .accordion-body-content {
                @include border-radius(4px);
                margin-top: 20px;
                padding: 24px;
                background-color: $gray-f9f;
                display: block;

                >div {
                    @include font-style(13px, $gray-light, 400, 1.2);

                    strong {
                        @include font-style(15px, $default-color, 500, 1.2);
                    }

                    ul {
                        margin-top: 15px;
                    }
                }
            }
        }

        .accordionIcon {
            transition: transform 0.3s ease-in-out;
            transform: none;
            display: inline-block;

            &:before {
                @include font-style(17px, $default-color, false, false);
            }
        }

        &.open {
            .accordion-body {
                min-height: 50px;
                max-height: 400px;
                overflow-y: auto;
                transition: all ease 0.5s;
            }

            .accordionIcon {
                transform: rotate(180deg);
            }
        }
    }
}