@import "sass/variables";
@import "sass/mixins/fontStyle.scss";

.media-scroll-wrapper {
  height: calc(100vh - 269px);
  overflow: auto;
  margin: 0 -30px;
  padding: 0 30px;

  &.giphy-media {
    height: calc(100vh - 248px);
  }

  .grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    .grid-item {
      flex: 1 1 200px;
      min-width: 200px;
      max-width: 300px;

      .photo-name {
        @include font-style(13px, $default-color, 400, 15.23px);
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .video-play-button {
      &:before {
        margin-left: 2px;
      }
    }

    .shimmer-card {
      width: auto;
      height: 196px;
      border-radius: 4px;
    }

    .glare-transition {
      background: #f6f7f8;
      background-image: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 20%,
        #f6f7f8 40%,
        #f6f7f8 100%
      );
      background-repeat: no-repeat;
      border: 2px solid $pale-blue;
      background-size: 100% 100%;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: glareShimmer;
      animation-timing-function: linear;
    }
  }
}

.load-more-images {
  display: block;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  @include font-style(14px, $brand-color, 500);

  &:hover {
    text-decoration: underline;
  }
}

.trigger {
  height: 1px;
}

@keyframes glareShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
