.avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;

  &--extra-small{
    width: 16px;
    height: 16px;
    font-size: 10px;
  }

  &--small {
    width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 18px;
  }

  &--medium {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 24px;
  }

  &--large {
    width: 40px;
    height: 40px;
    font-size: 18px;
    line-height: 27px;
  }

  .img {
    width: 100%;
    height: 100%;
    text-align: center;
    object-fit: cover;
    color: transparent;
    text-indent: 10000px;
  }

  &.defaultcolor{
    background-color: #bdbdbd;
    color: white;
  }
}
