@import 'sass/master';
@import 'sass/global';
@import  'sass/variables';

.pagination-wrapper {
    text-align: center;
    padding: 0 30px;
    margin-top: 30px;

    
        .pagination {
            display: inline-flex;
            vertical-align: middle;

            .disabled {
                color: $gray-cc;
                cursor: default;
                pointer-events: none;
            }

            li {
                float: left;

                @include font-style (15px, $default-color, 400);

                margin: 0 2px;
                cursor: pointer;
                background: transparent;
                border: 0;

                &.rc-pagination-disabled {
                    pointer-events: none;
                    cursor: default;

                    .rc-pagination-item-link {
                        color: $gray-cc;
                    }
                }

                &.rc-pagination-item {
                    a {
                        &:hover {
                            color: $brand-color;
                        }
                    }
                }

                &.rc-pagination-item-active {
                    border: 1px solid $brand-color;

                    @include border-radius (4px);

                    a {
                        color: $brand-color;
                    }

                    &:hover {
                        border-color: $brand-color;

                        a {
                            color: $brand-color;
                        }
                    }
                }
            }
            // .rc-pagination-jump-next,
            // .rc-pagination-jump-prev {
            //     &:hover {
            //         &:after {
            //             color: $brand-color;
            //         }
            //     }
            // }
            .rc-pagination-next,
            .rc-pagination-prev {
                a {
                    position: relative;
                    display: block;
                    padding: 0 5px;
                    color: $gray-55;

                    &:after {
                        content: "\e913";

                        @include abs-position (0, 0, false, 0);

                        font-family: 'icomoon';
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        font-size: 16px;
                        margin-top: 0;
                        transform: rotate(-90deg);
                    }
                }
            }

            .rc-pagination-prev {
                a {
                    &:after {
                        transform: rotate(90deg);
                        margin-top: -1px;
                    }
                }
            }
        }

        .hide-numbers {
            .rc-pagination-item {
                display: none;
            }

            .rc-pagination-jump-next {
                display: none;
            }
        }
}

.chart-wrapper {
    display: inline-block;
    margin-left: 30px;
    vertical-align: middle;
    width: 134px;
    text-align: left;

    > div {
        margin-bottom: 0;
    }
}

.pdf-row-details {
    @include font-style (12px, $gray-66, false, false, center);

    display: none;
}


    .report-pdf-view {
        
            .pagination-wrapper {
                display: none;
            }

            .pdf-row-details {
                display: block;
                margin-top: 20px;
            }
    }