@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/flexCenterAll.scss';
@import 'sass/variables';

.container {
  position: relative;
  width: var(--container-size);
  height: var(--container-size);
  @include center-all();
}

.ringProgressFill {
  position: absolute;
  top: var(--ring-offset);
  left: var(--ring-offset);
  width: var(--ring-size);
  height: var(--ring-size);
  @include border-radius(50%);
  box-sizing: border-box;
  z-index: 2;
  background: conic-gradient(
    var(--progress-color, $green100) 0deg,
    var(--progress-color, $green100) var(--angle, 0deg),
    var(--extra-color, $gray50) var(--angle, 0deg) 360deg
  );
  mask-image: radial-gradient(
    circle var(--inner-radius, 20px) at center,
    transparent var(--inner-radius, 20px),
    black var(--outer-radius, 24px)
  );
}

.score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include font-style(14px, var(--progress-color, $green100), 400, 20px);
  color: var(--progress-color, $green100);
  background: transparent;
  z-index: 3;
}
