@import 'sass/variables';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/fontStyle.scss';

.popover {
    position: absolute;

    :global {
        .chrome-picker {
            z-index: 100;
            position: relative;
        }
    }

    .action-buttons {
        position: relative;
        background: $white;
        z-index: 999;
        padding: 15px;
        text-align: right;
        margin-top: -4px;
        box-shadow: 0 0 $boxShadow, 0 4px 4px $boxShadow;
    }
}

.cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.circle {
    @include size (26px, 26px);

    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: solid 2px $graybrdColor;
}

.middle-block {
    display: inline-block;
    vertical-align: middle;
}

.input-cont {
    .bannercolorCls {
        input[type="text"] {
            @include size (98px, 35px);
            @include border-radius (2px);

            border: solid 1px $graye5e;
            margin-left: 20px;
            padding: 10px 15px;
            cursor: default;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
}

.clear {
    &:after {
        display: block;
        height: 0;
        content: '';
        clear: both;
    }
}

.sub-heading {
    @include font-style (14px, $default-color);

    margin-bottom: 20px;
    display: inline-block;

    :global {
        .icon-question {
            color: $gray-99;
            vertical-align: middle;
            margin-left: 5px;
        }
    }

    &.mb-10 {
        margin-bottom: 10px;
    }
}

.mar-rgi60 {
    margin-right: 55px;
}

.color-widget-box {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;

    .sub-heading {
        margin-bottom: 15px;
        display: block;
    }

    &.mb-0 {
        margin-bottom: 0;
    }

    &.block {
        display: block;
    }
}

.disabled {
    pointer-events: none;

    .input-cont {
        .bannercolorCls {
            input[type="text"] {
                border: 0;
                margin-left: 0;
            }
        }
    }
}

.tick-mark {
    // border: 1px solid black;
    position: relative;

    img {
        @include abs-position (50%, false, false, 50%);

        transform: translate(-50%, -50%);

        @include size(10px, 10px);

        &.show-black {
            filter: brightness(0.5);
        }
    }
}