.sw-start-node {
  background: var(--comparison-0-star);
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.24px;
  color: var(--gray-300);
  white-space: nowrap;
  font-family: var(--font-family-brand), Inter, arial, sans-serif;
}
