@import "sass/master";
@import "sass/variables";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/placeholder.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/flexCenterAll.scss";
@import "sass/mixins/flexBox.scss";

.template-style-section {
    @include size (300px, 100%);
    @include abs-position (0, -330px, false, false);

    overflow: auto;
    padding: 20px 16px 20px 20px;
    background-color: $white;
    transition: all 0.5s ease;

    &.show {
        @include abs-position (0, 0, false, false);
    }

    :global {
        .content-desc-block {
            .content-heading {
                @include font-style (16px, $default-color, 400, 24px);
            }

            i {
                font-size: 24px;
            }
        }
    }
}