@import "sass/master";
@import "sass/variables";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/placeholder.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/flexCenterAll.scss";
@import "sass/mixins/flexBox.scss";

.social-option-item {
    display: flex;
    align-items: center;
    margin-right: 8px;
    gap: 8px;
}

.social-link-item {
    margin-bottom: 10px;
}

.social-link-label {
    gap: 4px;
}

.social-link-actions {
    gap: 8px
}

.mb-10 {
    margin-bottom: 10px;
}