@import 'sass/variables';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/positionAbsolute.scss';


.modal-close-icon{
    &.close-icon {
        float: right;
        font-weight: 500;
    
        @include abs-position (8px, 8px);
        @include font-style (24px, $gray-55);
    
        cursor: pointer;
    }

    &.small-close-icon {
        @include font-style (16px, $gray-55);
    
        cursor: pointer;
    
        @include abs-position (7px, 8px);
    }
}



.custom-icon {
    font-size: 24px;
    margin-right: 5px;
    cursor: pointer;

    @include abs-position (7px, 38px);
}



// css style to be move to src/app/components/Phoenix/PostTagsInput/PostTagsInput.tsx style file

// :global {
//     .modal-txt-tag {
//         @include font-style (13px, $gray-55);

//         margin-bottom: 20px;
//         margin-top: -16px;
//     }

//     .detector-popup-box-wrapper {
//         padding: 12px;
//         background-color: $pale-blue;

//         @include border-radius(4px);

//         .list-item-box {
//             @include font-style (14px, $default-color, 400, 20px);
//         }
//     }
// }

// css style to be move to src/app/components/Phoenix/PostTagsInput/PostTagsInput.tsx style file