$blue0: #fff;
$blue10: #f6fafe;
$blue20: #ecf5fd;
$blue30: #e3effc;
$blue40: #daeafb;
$blue50: #d1e5f9;
$blue60: #a4ccf4;
$blue70: #7fb8f0;
$blue80: #5ba4ec;
$blue90: #3790e7;
$blue100: #1976d2;
$blue200: #1565b4;
$blue300: #125598;
$blue400: #0f457c;
$blue500: #0b355f;
$blue600: #0a3055;
$blue700: #092b4c;
$blue800: #082643;
$blue900: #07213a;
$blueBg: #017DB7;