
$dark8: #21212114;
$dark16: #21212129;
$dark24: #2121213d;
$dark32: #21212152;
$dark40: #21212166;
$dark48: #2121217a;
$dark56: #2121218f;
$dark64: #212121a3;
$dark72: #212121b8;
$dark80: #212121cc;
$dark88: #212121e0;
$dark96: #212121f5;