
$gray0: #fff;
$gray10: #fafafa;
$gray20: #f5f5f5;
$gray30: #efefef;
$gray40: #eaeaea;
$gray50: #e5e5e5;
$gray60: #ccc;
$gray70: #b8b8b8;
$gray80: #a3a3a3;
$gray90: #8f8f8f;
$gray100: #757575;
$gray200: #656565;
$gray300: #555;
$gray400: #454545;
$gray500: #353535;
$gray600: #303030;
$gray700: #2a2a2a;
$gray800: #252525;
$gray900: #212121;
$gray1000: #2c3e50;
$gray2000: #e5e9f0