
$green10: #f8fcf7;
$green20: #f1faf0;
$green30: #eaf7e8;
$green40: #e3f4e0;
$green50: #dcf1d9;
$green60: #bae4b4;
$green70: #9eda95;
$green80: #83cf78;
$green90: #68c559;
$green100: #4cae3d;
$green200: #419535;
$green300: #377e2c;
$green400: #2d6624;
$green500: #224e1c;
$green600: #1f4719;
$green700: #1b3f16;
$green800: #183713;
$green900: #153011;