
$light8: #ffffff14;
$light16: #ffffff29;
$light24: #ffffff3d;
$light32: #ffffff52;
$light40: #fff6;
$light48: #ffffff7a;
$light56: #ffffff8f;
$light64: #ffffffa3;
$light72: #ffffffb8;
$light80: #fffc;
$light88: #ffffffe0;
$light96: #fffffff5;