
$comparison0Star : #eaeaea;
$comparison1Star : #ed8686;
$comparison2Star : #f3aeae;
$comparison3Star : #fff0a3;
$comparison4Star : #dbeed6;
$comparison5Star : #b6dcac;
$default1Star : #872020;
$default2Star : #e13535;
$default3Star : #ffd91a;
$default4Star : #92cb83;
$default5Star : #49a830;


$comparisonDotline : #007acc;
$defaultDotline : #003d66;
$defaultDotlineHover : #003d664d;
$comparisonDotlineHover : #007acc4d;
$comparisonBase : #99d6ff;


$defaultIndigo : #2c3e91;
$defaultAqua : #0f7195;
$defaultPlum : #70156c;
$defaultVoilet : #5a4c97;
$defaultHibiscus : #bf0f6b;
$defaultCarrot : #ff6a4d;
$defaultLeaf : #4cb08b;
$comparisonIndigo : #abb2d3;
$comparisonAqua : #9fc6d5;
$comparisonPlum : #c6a1c4;
$comparisonLeaf : #b7dfd1;
$comparisonVoilet : #bdb7d5;
$comparisonCarrot : #ffc3b8;
$comparisonHibiscus : #e59fc4;
$mediumTurquoise : #34d1bf;
$pinkOrchid : #db61db;
$instagramBg: #FF0069;
$youtubeBg: #CD201F;
$googleBg: #3186E9;
$twitterBg: #1DA1F2;
$fbBg: #1877F2;
$googleBrandBg: #DB4437;

$ColumbiaBlueCompare: #99D6FF;
$greenS: #49A830;
$greenSCompare: #B6DCAC;
$yellowSCompare: #FFF0A3;
$redSCompare: #F3AEAE;
$aquaCompare: #91B7CA;
$starFleetBlueCompare: #9ACEFF;
$benevoPinkDefault: #DB61DB;
$starFleetLightCompare: #99D6FF;
$indigoDefault: #2C3D91;
$indigoDefaultCompare: #8D9ECA;
$greyWhite: #959595;
$hadfieldLightBlueCompare: #79A8E5;
$greyWhiteLightCompare: #CACACA;
$sunflowerLightCompare: #FEF3D6;

$lightGrayishBlue: #f4f6f7;
$gray8d: #8d8d8d;

$lightSkyBlue: #9ACEFF1A;
$transperent: #9ACEFF00;
$newHoverColor: #F2F4F7;
$newSelectedColor: #E5E9F0;
$pastelViolet: #6665DD;
$icyBlue: #C7D6F6;
$defaultTeal: #094459;
$selectedGrayColor: #9ca3af;
$lightGrayColor: #f3f4f6;
$lightGray: #e0e0e0;
$lightGrayBackground: #f9f9f9;
