
$purple10: #f9f7fd;
$purple20: #f3effa;
$purple30: #ede6f8;
$purple40: #e8def6;
$purple50: #e2d6f4;
$purple60: #c6afe9;
$purple70: #b090e0;
$purple80: #9970d7;
$purple90: #8350ce;
$purple100: #6834b7;
$purple200: #5a2d9d;
$purple300: #4c2584;
$purple400: #3d1e6c;
$purple500: #2f1753;
$purple600: #2a154a;
$purple700: #261342;
$purple800: #21113a;
$purple900: #1d0e33;