
$red10: #fef6f5;
$red20: #feeceb;
$red30: #fde3e1;
$red40: #fddad7;
$red50: #fcd1ce;
$red60: #faa59e;
$red70: #f88078;
$red80: #f65d51;
$red90: #f3382b;
$red100: #de1b0c;
$red200: #bf170a;
$red300: #a11309;
$red400: #831007;
$red500: #650c06;
$red600: #5a0b05;
$red700: #500a04;
$red800: #470804;
$red900: #3e0703;