
$yellow10: #fffcf5;
$yellow20: #fff9ea;
$yellow30: #fef6e0;
$yellow40: #fef3d6;
$yellow50: #fef1cc;
$yellow60: #fde39b;
$yellow70: #fcd773;
$yellow80: #fccc4b;
$yellow90: #fbc123;
$yellow100: #e6aa04;
$yellow200: #c69204;
$yellow300: #a77b03;
$yellow400: #886402;
$yellow500: #684d02;
$yellow600: #5e4502;
$yellow700: #533d02;
$yellow800: #4a3601;
$yellow900: #402f01;