.react-grid-layout {
  .react-grid-placeholder {
    background: #e9e9eb;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 0;
    border: 2px dashed #d4d4d6;
  }
}

.react-draggable-dragging {
  .grid-item-drag-handle {
    cursor: grabbing;
  }

  .dashboard-section-wrapper {
    .section-left-content {
      .grid-section-drag-handle {
        cursor: grabbing;
      }
    }
  }
}

.react-grid-item.cssTransforms {
  transition-property: transfrom, width, height;
}

.react-grid-item.resizing {
  transition-property: transfrom;
}