@import 'sass/variables';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/flexCenterAll.scss';
@import "sass/mixins/sizeStyle.scss";

.chip {
  @include center-all();
  @include font-style(14px, $gray600, 400, 20px);
  @include border-radius(4px);

  display: inline-flex;
  transition: background-color 0.3s;
  cursor: default;
  padding: 4px 8px;
  letter-spacing: -0.02px;
  word-break: break-word;

  &.hoverableChip {
    &:hover {
      background-color: $newHoverColor !important;
    }
  }

  &--small {
    font-size: 12px;
    line-height: 18px;
  }

  &.clickable {
    cursor: pointer;
  }

  &.outlined {
    border: 1px solid $default-color;
    background-color: $white;

    &.grey {
      border-color: $grayaa;
      color: $gray-55;
    }

    &.green {
      border-color: $positive-sentiment;
      color: $positive-sentiment;
    }

    &.yellow {
      border-color: $business-txt;
      color: $business-txt;
    }

    &.red {
      border-color: $red-circle;
      color: $red-circle;
    }

    &.purple {
      border-color: $aitheme-color;
      color: $aitheme-color;
    }

    &.blue {
      border-color: $brand-color;
      color: $brand-color;
    }
  }

  &.filled {
    @include font-style(false, $white, false, false);

    border: 0;

    &.grey {
      background-color: $gray-55;
    }

    &.green {
      background-color: $positive-sentiment
    }

    &.yellow {
      background-color: $yellow-dark;
    }

    &.red {
      background-color: $red-circle;
    }

    &.purple {
      background-color: $aitheme-color;
    }

    &.blue {
      background-color: $brand-color;
    }
  }

  &.tonal {
    &.grey {
      background-color: $gray-ea;
      color: $gray-55;
    }

    &.green {
      background-color: $light-green;
      color: $green-dark-hover;
    }

    &.yellow {
      background-color: $yellow-fff;
      color: $mud-yellow-color;
    }

    &.red {
      background-color: $light-pink;
      color: $red-circle;
    }

    &.purple {
      background-color: $light-purple;
      color: $aitheme-color;
    }

    &.blue {
      background-color: $blue-bg;
      color: $brand-color;
    }
  }

  &.outlinedIconFilled {
    border: 1px solid $default-color;
    background-color: $white;
    padding: 0;
    overflow: hidden;

    .icon {
      margin: 0;
      padding: 0 6px;
      height: auto;
      width: auto;
    }

    .icon.left {
      align-self: stretch;
      border-right: 1px solid;
      margin-right: 8px;
      padding: 4px 8px;
      border-radius: 0;
    }

    .label {
      padding: 4px 0;
      color: $black;
    }

    &.grey {
      border-color: $grayaa;
      color: $gray-8a89;

      .label {
        color: $black;
      }

      .icon.left {
        background-color: $gray-ea;
        border-right-color: $grayaa;
      }

      .avatar {
        background-color: $gray-ea;
        border-right-color: $grayaa;
      }
    }

    &.green {
      border-color: $positive-sentiment;
      color: $positive-sentiment;

      .label {
        color: $black;
      }

      .icon.left {
        background-color: $light-green;
        border-right-color: $positive-sentiment;
      }

      .avatar {
        background-color: $light-green;
        border-right-color: $positive-sentiment;
      }
    }

    &.yellow {
      border-color: $business-txt;
      color: $business-txt;

      .label {
        color: $black;
      }

      .icon.left {
        background-color: $yellow-fff;
        border-right-color: $business-txt;
      }

      .avatar {
        background-color: $yellow-fff;
        border-right-color: $business-txt;
      }
    }

    &.red {
      border-color: $red-circle;
      color: $red-circle;

      .label {
        color: $black;
      }

      .icon.left {
        background-color: $light-pink;
        border-right-color: $red-circle;
      }

      .avatar {
        background-color: $light-pink;
        border-right-color: $red-circle;
      }
    }

    &.purple {
      border-color: $aitheme-color;
      color: $aitheme-color;

      .label {
        color: $black;
      }

      .icon.left {
        background-color: $light-purple;
        border-right-color: $aitheme-color;
      }

      .avatar {
        background-color: $light-purple;
        border-right-color: $aitheme-color;
      }
    }

    &.blue {
      border-color: $brand-color;
      color: $brand-color;

      .label {
        color: $black;
      }

      .icon.left {
        background-color: $blue-bg;
        border-right-color: $brand-color;
      }

      .avatar {
        background-color: $blue-bg;
        border-right-color: $brand-color;
      }
    }
  }

  &.token {
    @include font-style(10px, $gray-55, 400, 11px);

    padding: 5px;
    background-color: $gray-ea;
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .avatar {
    @include center-all();
    @include size(20px, 20px);
    @include border-radius(50%);

    border: 1px solid $gray-ea;
    margin-right: 4px;
    overflow: hidden;

    img {
      @include size(100%, 100%);
      object-fit: cover;
    }
    &--small {
      @include size(16px, 16px);
    }
  }

  .icon {
    @include center-all();
    @include size(20px, 20px);

    margin-left: 4px;

    i,
    a {
      &:before {
        @include font-style(16px, false, 500, false);
      }
    }

    &.left {
      margin-left: 0;
      margin-right: 4px;
    }

    &--small {
      @include size(14px, 14px);
      i,
      a {
        &:before {
          @include font-style(14px, false, 500, false);
        }
      }
    }
  }

  .interactive {
    cursor: pointer;
  }
}