/* FreeMediaPixabay Styles */
@import "sass/variables";
@import "sass/mixins/flexBox.scss";
@import "sass/mixins/flexCenterVertical.scss";
@import "sass/mixins/fontStyle.scss";

.filter-wrapper {
    @include center-vertical();
    justify-content: flex-end;
    min-height: 38.5px;
    margin-bottom: 20px;

    &.filter-box {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .photos-provide-wrapper {
        @include center-vertical();
        @include font-style(15px, false, false, 17.58px);
        margin-bottom: 0;

        > a {
            @include font-style(15px, $brand-color, 500, 17.58px);
            margin-left: 5px;
        }
    }

    .filter-box-wrapper {
        @include flexbox();

        .color-picker-wrapper {
            + div {
                :global(.custom-scroll) {
                    > div {
                        &:nth-child(2) {
                            @include flexbox();
                            position: relative;
                            flex-wrap: wrap;
                            gap: 10px;
                            padding: 45px 30px 15px 30px;

                            :global(.single-select-group) {
                                position: absolute;
                                top: 0;
                                left: 10px;
                                @include font-style(15px, $default-color, 400, 17.58px);
                            }

                            > div {
                                li {
                                    width: 25px;
                                    height: 25px;
                                    border-radius: 50%;
                                    padding: 0;
                                    outline: 1px solid $gray200;
                                    outline-offset: 1px;

                                    &:hover {
                                        background-color: transparent;
                                        outline: 1px solid #999555;
                                    }

                                    :global(.label-cont) {
                                        padding: 0;

                                        > div {
                                            width: auto;
                                            height: auto;

                                            :global(.color-option-box) {
                                                width: 25px;
                                                height: 25px;
                                                border-radius: 50%;
                                            }
                                        }

                                        :global(.icon_phoenix-checkmark) {
                                            position: absolute;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                            margin-left: 0;

                                            &:before {
                                                color: $white;
                                            }

                                            &:global(.black-tick-mark) {
                                                &:before {
                                                    color: $black;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                :global(.ms-drop.dropdown-popup) {
                    left: 10px !important;
                    right: auto !important;
                }

                > div {
                    &:first-child {
                        :global(.ms-drop.dropdown-popup) {
                            left: 0px !important;
                        }
                    }
                }

                > div {
                    margin-bottom: 0;
                }
            }
        }
    }
}
