@import 'sass/variables';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/sizeStyle.scss';

.infinite-scroll-container {
    height: 100%;
    overflow-y: auto;
}

.infinite-scroll-item {
    @include border-radius (4px);

    padding: 16px;
    margin-bottom: 8px;
    border: 1px solid $lightGray;
    background-color: $lightGrayBackground;

    h3 {
        @include font-style(16px, false, 600, false);

        margin: 0 0 8px 0;
    }

    p {
        @include font-style(14px, $gray-66, false, false);

        margin: 0 0 8px 0;
    }

    .infinite-scroll-value {
        @include font-style(12px, $gray-88, false, false);
    }
}

.infinite-scroll-container-wrapper {
    @include size (false, 600px);

    overflow: auto;
    border: 1px solid $gray-dd;
    padding: 16px;
}

.infinite-scroll-item-box-wrap {
    @include font-style(14px, $gray-66, false, false);

    padding: 20px;
    text-align: center;

    .infinite-scroll-inner-item-box-wrap {
        @include size (20px, 20px);
        @include border-radius (50%);

        display: inline-block;
        border: 3px solid $white-f3;
        border-top: 3px solid $brand-color;
        animation: spin 1s linear infinite;
        margin-right: 10px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}