@import "sass/filterSelect.scss";
@import 'sass/variables';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/textOverflow.scss';

.dropdown-tooltip {
  ul {
    div>div {
      :global {
        .option-tooltip-parent {
            .multi-select-tooltip {
                max-width: 300px;
            }
        }
      }
    }
  }
}

.dropdown-box {
  &[class*="invalid-error"] {
    div[class*="default-filter"] {
      border: 1px solid $error-red;

      &[class*="dropdown-open"] {
        border-color: transparent;
      }

      &[class*="with-icons"] {
        span[class*="reset-btn"] {
          display: none;
        }
      }

      span[class*="reset-btn"] {
        display: none;
      }
    }
  }
}

.ellipsis {
  .default-filter {
    padding-right: 25px;
  }

  .selected-values {
    @include text-overflow();
  }
}

.level {
  margin: 0 !important;
  cursor: default !important;

  @include font-style(13px !important, $gray-99 !important, 500 !important, false);
  @include size (auto, 15px !important);
}

.default-cursor {
  cursor: default !important;
}

.fade-option {
  opacity: 0.5;
  pointer-events: none;
}

.hide-transform {
  >div>div {
    transform: none !important;
  }
}

.tooltip-invalid-style {
  margin-right: 10px;
  margin-top: 8px;
}

.template-icon {
  padding: 4px;
  cursor: pointer;

  @include font-style(16px, false, false, false);

  &:hover {
    background-color: $light-grey-border;

    @include border-radius (4px);
  }
}

.custom-exclamation-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  margin-left: 10px;
  cursor: pointer;
  margin-right: 10px;
}