@import 'sass/variables';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/sizeStyle.scss';

.grid-item-wrapper {
    border: 2px dashed rgba(0, 0, 0, 0);
    background: $white;
    box-shadow: 0px 2px 12px 1px rgba(33, 33, 33, 0.06);
    transition: none;
    @include border-radius (8px);

    .grid-item-drag-handle {
        cursor: grab;

        @include abs-position (5px, 50%, false, auto);
        @include size (24px, auto);
    }
}