
// Padding

$pd0: 0px;
$pd2: 2px;
$pd4: 4px;
$pd8: 8px;
$pd12: 12px;
$pd16: 16px;
$pd20: 20px;
$pd24: 24px;

// Margin

$md0: 0px;
$md2: 2px;
$md4: 4px;
$md8: 8px;
$md12: 12px;
$md16: 16px;
$md20: 20px;
$md24: 24px;