/* FreeMediaGiphy Styles */
@import "sass/variables";
@import "sass/mixins/flexBox.scss";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/sizeStyle.scss";

.photos-provide-wrapper {
    @include flexbox();
    @include font-style(15px, false, false, "17.58px");
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 5px;

    > a {
        @include font-style(15px, $brand-color, 500, 17.58px);
        margin-left: 5px;
    }
}

.giphy-no-data {
    @include size(auto, "calc(100vh - 248px)");
}
