@import 'sass/mixins/flexCenterAll.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/fontStyle.scss';

.nodata {
    @include center-all();
    @include size (auto, calc(100vh - 180px));

    flex-direction: column;

    img {
        margin-bottom: 15px;
    }

    .title {
        @include font-style(17px, false, false, false);

        margin-bottom: 10px;
    }

    .txt {
        @include font-style(15px, false, false, false);
    }
}