@import "sass/variables";
@import "sass/mixins/fontStyle.scss";
@import 'sass/mixins/positionAbsolute.scss';

.btnWrapper {
  text-align: right;

  button:first-child {
    margin-right: 10px;
  }
}

.tag-modal-title {
  font-family: Inter, Arial, Sans-serif;
  word-break: break-all;

  @include font-style(17px, $default-color, 400, 1.45);

  &.mb-30 {
    margin-bottom: 30px;
  }
}

.tag-modal-title,
.modal-subtitle {
  margin-bottom: 20px;
}

.tag-modal-title {
  &.spam-modalHead {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .tag-modal-title {
    font-size: 18px;
  }
}

.modal-subtitle {
  @include font-style(15px, $default-color, 400, 1.4);

  word-break: break-word;
  word-wrap: break-word;

  .more-info {
    color: $brand-color;
    font-weight: 500;
    cursor: pointer;
  }
}

.standard-modal{
  padding: 24px;
  position: relative;

  .header{
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;

    .title{
      font-family: Inter, Arial, Sans-serif;

      @include font-style(16px, $default-color, 400, 1.5);
    }
  
    .close-icon{
      align-self: center;
      cursor: pointer;

      &:before {
        @include font-style(20px, $default-color, false, false);
      }
    }
  }

  .body{
    margin-bottom: 24px;

    p {
      @include font-style(16px, $default-color, 400, 1.5);
    }
  }
  
  .footer{
    text-align: end;

    button {
      &:first-child {
        margin-right: 10px;
      }

      span {
        @include font-style(14px, false, 500, false);
      }
    }
  }
}