@import "sass/variables";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/flexCenterAll.scss";
@import "sass/mixins/fontStyle.scss";

.image-view-modal {
    @include size(100%, 100vh);
    @include abs-position(0, false, false, 0);

    position: fixed;
    z-index: 10000;
    background: rgba(33, 33, 33, 0.9);
    display: none;

    &.show {
        @include center-all();

        >div {
            @include size(100%, auto);
        }
    }

    img,
    video {
        max-height: 80vh;
        max-width: 80vw;
        display: block;
        object-fit: contain;
        margin: 0 auto;
    }

    iframe {
        @include size(800px, 450px);

        display: block;
        object-fit: contain;
        margin: 0 auto;
    }

    :global {
        .close-btn {
            @include size(15px, 15px);
            @include abs-position(40px, 40px, false, false);

            position: absolute;
            cursor: pointer;
            z-index: 2;

            &:after {
                content: '';

                @include size(15px, 2px);
                @include abs-position(5px, false, false, 0);

                display: block;
                background: $white;
                transform: rotate(45deg);
            }

            &:before {
                content: '';

                @include size(15px, 2px);
                @include abs-position(5px, 0, false, false);

                display: block;
                background: $white;
                transform: rotate(-45deg);
            }
        }

        .el-slick-slider {
            .slick-slider-feature-new-1 {
                .slick-slider-info {
                    &.show-on-top {
                        margin-bottom: 26px;
                        margin-top: 0;
    
                        span {
                            background: transparent;
                        }
                    }
                }
            }

            .slick-slider {
                .icon_phoenix-arrow-right,
                .icon_phoenix-arrow-left {
                    &:before {
                        @include font-style(20px, $white, 400, false);
                    }
                }

                .icon_phoenix-arrow-left {
                    margin: 0 0 0 50px;
                }

                .icon_phoenix-arrow-right {
                    margin: 0 50px 0 0;
                }

                .slick-list {
                    .slick-track {
                        .slick-slide {
                            @include size(auto, 100%);
                        }
                    }
                }
            }

            .slick-dots {
                display: none !important;
            }

            .slick-track {
                @include center-all();
            }
        }
    }
}