@import "sass/master";
@import "sass/variables";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/placeholder.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/flexCenterAll.scss";
@import "sass/mixins/flexBox.scss";


.trait-manager {
    .image-trait-preview {
        figure {
            @include size (183px, 96px);

            img {
                @include size (100%, 100%);

                object-fit: contain;
            }
        }

        /* stylelint-disable */
        ul {
            li {
                i {
                    margin-right: 8px;
                }
            }
        }

        span[class*="remove-img"] {
            @include size (22px, 22px);

            .icon_phoenix-close-circle {
                &:before {
                    content: "\e9da5";
                    font-size: 18px;
                }
            }
        }

        /* stylelint-enable */
    }

    .action-wrap {
        &:hover {
            background-color: transparent;
        }
    }

    .paymentcard-wrapper {
        @include font-style (14px, $brand-color, 400, 20px);
        @include center-vertical();

        .icon-cheveron_open {
            &:before {
                color: $brand-color;
            }
        }
    }

    div[class*="tab-container"] {
        div {
            flex: 1;
        }
    }

    .placeholder-image-container {
        @include size (183px, 96px);
        @include border-radius (4px);
        @include center-all();

        background-color: $pale-blue;
        margin-bottom: 12px;

        .placeholder-image {
            @include size (24px, 24px);
        }
    }

    div[class*="dropdown-box"] {
        ul {
            li[class*="selected"] {
                background: $blue-ee;

                /* stylelint-disable */
                .landing-page-selector {
                    .thumb-content {
                        span {
                            color: $brand-color;
                            font-weight: 500;
                        }
                    }
                }

                .icon_phoenix-checkmark {
                    top: 50%;
                    transform: translateY(-50%);
                }

                /* stylelint-enable */
            }
        }
    }
    
    .cm-theme-light {
        @include border-radius (4px);

        border: 1px solid $gray-cc;

        .cm-editor {
            outline: none !important;
        }
    }
}

.trait-manager {
    .style-manager-sub-title {
        @include font-style(14px, $default-color, 400, 20px);

        margin-bottom: 8px;
    }

}