@import "sass/variables";
@import 'sass/mixins/fontStyle.scss';

.select-container{
    position: relative;
    position: relative;

    .error-msg {
        @include font-style(12px, $red100, 400, 18px);
    }    

    .select{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 8px;
        min-height: 45px;
        z-index: 1;
        cursor: pointer;

        &--outlined{
            border: 1px solid $graye5e;
            border-radius: 4px;
        }

        &--error {
            border: 1px solid $red100;
        }

        .placeholder{
            color: #647a8e;
        }
    }

    .menu{
        position: absolute;
        z-index: 2;
        left: 0%;
        top: 0%;
        border-radius: 4px;
        background-color: white;
        box-shadow: 0px 4px 12px 0px #0000001C;
    }

}

.select-item{
    list-style: none;
    padding: 6px 16px;
    cursor: pointer;

    &.disabled{
        cursor: not-allowed;
    }
}