@import 'sass/variables.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/positionAbsolute.scss';

$default-border-radius: 2px;
$default-tooltip-bg: rgba(0, 0, 0, 0.8);
$default-tooltip-color: #fff;
$default-tooltip-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

.multi-segment-bar-container {
    position: relative;
    width: 100%;
}

.bar-container {
    display: flex;
    width: 100%;
    overflow: hidden;

    .segment {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}

.segment-label {
    font-size: 0.8rem;
}

.bar-container .segment:first-child {
    border-top-left-radius: $default-border-radius;
    border-bottom-left-radius: $default-border-radius;
}

.bar-container .segment:last-child {
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
}

.bar-container .segment:only-child {
    border-radius: $default-border-radius;
}

.percentage-labels {
    display: flex;
    width: 100%;

    &.top {
        margin-bottom: 5px;
    }

    &.bottom {
        margin-top: 5px;
    }
}

.percentage-labels.static {
    justify-content: space-between;
}

.percentage-labels.dynamic {
    justify-content: flex-start;
}

.label {
    text-align: center;
}

.percentage-labels.static .label {
    flex: 0 0 auto;
}

.percentage-labels.dynamic .label {
    flex: 1 0 auto;
}

.segment.positive {
    background-color: #4CAE3D;
}

.segment.neutral {
    background-color: #FFD91A;
}

.segment.negative {
    background-color: #F3382B;
}