
.average-rank-tableMapw {
    .grid-rank-container {
        padding: 0px;

        .grid-rank-map {
            width: 100% !important;
            position: relative;
            .reset-button {
                position: absolute;
                bottom: 190px;
                right: 10px;
                z-index: 1;
                padding: 6px 8px;
                border: 0px;
                box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
                i{
                    margin-left: 0 !important;  
                }
            }
        }
    }
}