// CustomReport component styles
.customReport {
    width: 100%;
    height: 100%;
    position: relative;

    &__actionBox {
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 1;
        background: #fff;
    }

    &__chartContainer {
        width: 100%;
        padding: 14px 10px 0 10px;
        
        &--edit {
            height: calc(100% - 70px);
        }
        
        &--normal {
            height: calc(100% - 70px);
        }
    }

    &__infoPanel {
        background-color: #F9F7FD;
        padding: 14px;
        margin: 0 24px;
        display: flex;
        gap: 10px;
        align-items: center;

        &__icon {
            font-size: 16px;
            color: #6B7280;
        }

        &__text {
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

// :global { // to be replaced from web2 
//     .highcharts-legend-item rect {
//         display: block !important;
//     }

//     .highcharts-legend-item path,
//     .highcharts-legend-item rect {
//         display: block !important;
//     }

//     .highcharts-legend-item path,
//     .highcharts-legend-item rect {
//         display: block !important;
//     }
// }