@import "sass/variables";

.shimmer-container {
  display: flex;
  margin-bottom: 20px;
  gap: 10px;
  flex-wrap: wrap;

  &.custom-scroll {
    height: calc(100vh - 289px);
    overflow: auto;
    display: grid;
    grid-gap: 10px;
    margin: 0 -30px;
    padding: 0 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.shimmer-card {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 300px;
  width: auto;
  height: 196px;
  border-radius: 4px;
}

.glare-transition {
  background: $pale-blue;
  background-image: linear-gradient(
    to right,
    $pale-blue 0%,
    #edeef1 20%,
    $pale-blue 40%,
    $pale-blue 100%
  );
  background-repeat: no-repeat;
  border: 2px solid $pale-blue;
  background-size: 100% 100%;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: glareShimmer;
  animation-timing-function: linear;
}

@keyframes glareShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
