@import "sass/mixins";
@import 'sass/variables';

.ai-best-time {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;

    @include center-vertical();

    background-color: $purple10;
    border: 1px solid $purple60;

    img {
        @include size(20px, 20px);
    }

    span {
        margin-left: 5px;

        @include font-style(12, $default-color, 400, 1.2);
    }
}