@import "sass/master";
@import "sass/variables";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/placeholder.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/flexCenterAll.scss";
@import "sass/mixins/flexBox.scss";

// grapes shimmer wrapper
.grapes-shimmer-wrapper {
    max-width: 640px;
    margin: 0 auto;
    padding: 40px 40px 28px;
    background: $white;

    .template-header {
        @include size (calc(100% - 90px), 35px);
        @include border-radius (6px);
    }

    .template-img {
        @include size (100%, 232px);
        @include border-radius (6px);
    }

    .template-wrap {
        @include size (100%, 18px);
        @include border-radius (6px);
    }

    .template-button {
        @include size (153px, 48px);
        @include border-radius (6px);
    }
}

.glare-transition {
    background: $pale-blue;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    border: 2px solid $pale-blue;
    background-size: 100% 100%;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: glareShimmer;
    -webkit-animation-timing-function: linear;
}

@keyframes glareShimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}