@import "sass/variables";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/positionAbsolute.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/flexCenterAll.scss";

// Base reset button styles
.reset-zoom-button-base {
    @include size(38px, 38px);
    @include border-radius(4px);
    @include center-all();

    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    z-index: 1;
    background-color: $white;
    text-align: center;
    cursor: pointer;

    i {
        @include font-style(24px, $gray-55, 500, 24px);
    }
}

// Flexible positioning classes
.reset-zoom-button-top-right {
    @extend .reset-zoom-button-base;
    top: 10px;
    right: 10px;
}

.reset-zoom-button-above-controls {
    @extend .reset-zoom-button-base;
    bottom: 190px; 
    right: 10px;
}

.reset-zoom-button-top-left {
    @extend .reset-zoom-button-base;
    top: 10px;
    left: 10px;
}

.reset-zoom-button-bottom-right {
    @extend .reset-zoom-button-base;
    bottom: 10px;
    right: 10px;
}

.reset-zoom-button-bottom-left {
    @extend .reset-zoom-button-base;
    bottom: 10px;
    left: 10px;
}