@import 'sass/variables';
@import 'sass/mixins/flexCenterAll.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/flexBox.scss';

.collapsable-wrapper {
    @include center-all();
    @include size(24px, 24px);
    @include border-radius(4px);

    display: none;
    padding: 0;
    border: 1px solid $graybb;

    i {
        &:before {
            @include font-style(35px, false, false, false);
        }
    }
}