@import "../mixins/borderRadius.scss";
@import "../mixins/fontStyle.scss";
@import "../variables";

.badges {
    @include font-style (11px, $white, 500, 1.2);

    padding: 5px 5px 2px;

    @include border-radius (50%);

    background-color: $dark-blue-selected;
    z-index: 1;
    text-align: center;
    min-width: 25px;
    height: 25px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;

    &.badge-light {
        background-color: $light-grey-border;
        color: $gray-455;
    }

    &.badge-with-icon {
        padding: 3px 10px;
        height: 22px;
        color: $gray-55;
        background-color: $light-grey-border;
        display: inline-flex;
        align-items: center;

        >span {
            @include font-style (10px, $gray-55, 400, 1.3);

            font-family: $inter-font;
        }

        i {
            @include font-style (16px, $gray-55);

            margin-left: 3px;
        }
    }

    &.warning {
        background-color: $start-active;
    }

    &.error {
        background-color: $error-red;
    }

    &.success {
        background-color: $positive-sentiment;
    }

    &.default-cursor {
        cursor: default;
    }
}