@import "../mixins/borderRadius.scss";
@import "../mixins/fontStyle.scss";
@import "../variables";
@import "../mixins/sizeStyle.scss";
@import "../mixins/flexCenterAll.scss";

.small-btn-primary,
.btn-secondary,
.btn-primary {
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
    transition: all 0.3s ease;

    @include border-radius (4px);
    @include font-style (15px, $white, 400, 1.2);

    height: 38px;
    background-color: $brand-color;
    border: 1px solid transparent;
    box-sizing: border-box;

    &:hover {
        background-color: $primary-hover;
    }
}

.btn-primary {
    padding: 12px 20px;
    height: 44px;
}

.btn-secondary {
    color: $gray-55;
    border: 1px solid $gray-cc;
    background-color: $white;

    &:hover {
        background-color: $pale-blue;
    }

    &.disabled {
        background: $pale-blue;
        color: $gray-cc;
        font-weight: 400;
        cursor: default;

        &:hover {
            background: $pale-blue;
        }

        i {
            &:before {
                color: $gray-cc;
            }
        }

        img,
        i {
            opacity: 0.5;
        }
    }

    &.btn-icon {
        width: 44px;
        padding: 9px 7px;
        position: relative;

        @include center-all();

        i {
            font-size: 24px;
        }
    }
}

.anchor-txt-with-underline {
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    @include font-style (15px, $gray-455, 500);

    &.small-txt {
        font-size: 13px;
    }

    &.x-small-txt {
        font-size: 10px;
    }
}

.anchor-txt {
    cursor: pointer;

    @include font-style (15px, $brand-color, 500);

    &.small-txt {
        font-size: 13px;
    }

    &.x-small-txt {
        font-size: 10px;
    }
}

.back-btn {
    @include center-all();
    @include size (34px, 34px);

    transition: all 0.2s ease;
    margin-right: 10px;

    @include border-radius(4px);

    cursor: pointer;

    i {
        @include font-style (24px, $gray-55);

        transform: translateY(1px);
    }

    &:hover {
        background-color: $pale-blue;
    }
}

.anchor-link-btn {
    background-color: transparent;
    color: $blue-0d4;
    padding: 0;
    cursor: pointer;

    &.txt-12 {
        font-size: 12px;
    }

    &.disable-link {
        color: $gray-cc !important;
        cursor: not-allowed;
    }
}

.show-hide-btn {
    font-size: 14px;
    color: $blue-0d4;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 7px;

    .icon-settings_24px {
        font-size: 28px;
        vertical-align: middle;
        display: inline-block;
        margin-left: -5px;
        margin-right: 6px;

        &:before {
            color: $blue-0d4;
        }
    }
}