@import "../mixins/borderRadius.scss";
@import "../mixins/fontStyle.scss";
@import "../variables";
@import "../mixins/flexBox.scss";
@import "../mixins/sizeStyle.scss";
@import "../mixins/textOverflow.scss";
@import "../mixins/positionAbsolute.scss";
@import "../mixins/flexCenterBetween.scss";

.display-flex {
    display: flex;
}

.display-flex-center {
    align-items: center;
}

.display-flex-start {
    align-items: flex-start;
}

.flex-direction {
    flex-direction: column;
}

.justify-content-betweeen {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.inline-flex {
    display: inline-flex;
    align-items: center;
}

.no-shrink {
    flex-shrink: 0 !important;
}

.title-with-controls {
    @include flexbox();

    align-items: center;

    p {
        font-weight: 500;
    }

    >span {
        &:first-child {
            line-height: 1.1;
        }
    }

    .icon_phoenix-question-circle {
        &:before {
            @include font-style (16px, $gray-99);
        }
    }
}

.enableSideRailNav {
    display: flex;
}

/*------blue checkboxes outlining----*/
.blue-selection-box {
    @include center-between();

    margin: 0 0 10px;
    border: 1px solid $dark-blue-selected;

    @include border-radius (4px);

    position: relative;
    padding: 10px;

    .left-pannel {
        @include flexbox();

        flex: 1;
        align-items: center;

        label {
            max-width: 400px;

            @include text-overflow();
        }
    }

    &:after {
        content: "";

        @include size (10px, 10px);
        @include abs-position (false, false, -6px, 17px);

        border-right: 1px solid $dark-blue-selected;
        border-bottom: 1px solid $dark-blue-selected;
        background: $white;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &.inter-head {
        line-height: 1.2;
    }

    &.top-select-bar {
        margin: 0 -10px 30px;
    }
}