.clearfix:after {
    clear: both;
    content: "";
    display: block;
}

.clearfix-div {
    &:after {
        clear: both;
        display: block;
        content: '';
        height: 0;
    }
}

.pullRight {
    float: right !important;
}

.pullLeft {
    float: left !important;
}

.floatclear {
    float: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}