@import "../variables";
@import "../mixins/fontStyle.scss";

.font-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-17 {
    font-size: 17px !important;
}

.fz-18 {
    font-size: 18px;
}

.fz-20 {
    font-size: 20px !important;
}

.fz-24 {
    font-size: 24px !important;
}

.bold {
    font-weight: 500;
}

//Text Color Styles start here

.yellow-text {
    color: $yellow-dark !important;
    font-weight: 500;
}

.green-text {
    color: $positive-sentiment !important;
    font-weight: 500;
}

.red-text {
    color: $error-red !important;
    font-weight: 500;
}

.red-normal-text {
    color: $error-red;
}

.success {
    color: $positive-sentiment;
    font-weight: 500;

    &:before {
        color: $positive-sentiment !important;
    }
}

.disabled-text {
    color: $gray-cc;
    font-weight: 500;
}

.disable-normal-text {
    color: $gray-cc;
}

.disabled-strong {
    color: $gray-cc !important;
    font-weight: 500;
}

.disable-list {
    color: $gray-99 !important;
}

.neutral-sentiment {
    color: $yellow-dark !important;
    font-weight: 500;
}

.positive-sentiment {
    color: $positive-sentiment !important;
    font-weight: 500;
}

.grey-heading {
    @include font-style (13px, $gray-55, 400, 1.2);
}

.grey-heading-phoenix {
    @include font-style (15px, $gray-55, 400, 1.33);
}

.gray-question {
    &:before {
        @include font-style (16px, $gray-99);
    }
}

em.kwhl {
    font-style: normal;
    font-weight: 500;
}

.bf-negative-snippet {
    border-bottom: 1px solid $error-red;
}

.bf-positive-snippet {
    border-bottom: 1px solid $positive-sentiment;
}

//Text Color Styles End here

.link-underline {
    text-decoration: underline;
    color: $white;
}

.monospace-textarea {
    textarea.txt-input-area {
        font-family: monospace;
        font-size: 12px;
    }
}

.modal-txt {
    font-size: 14px;
    color: $gray-55;
    margin-bottom: 20px;
    line-height: 1.57;

    .link {
        color: $blue-0d4;
    }

    &.mb-30 {
        margin-bottom: 30px;
    }
}

.icon-alert {
    &.error-16x {
        font-size: 16px;

        .path2 {
            &:before {
                color: #b91812;
            }
        }
    }

    &.notification-16x {
        font-size: 16px;

        .path2 {
            &:before {
                color: $start-active;
            }
        }
    }
}

.phoenix-heading {
    @include font-style(15px, $default-color, 500, 1.3);

    &.fz-17 {
        font-size: 17px;
    }
}

.phoenix-sub-heading {
    @include font-style(13px, $default-color, 500, 1.2);
}

.inter-head {
    @include font-style (15px, $default-color, 500, 1.4);

    font-family: $inter-font;
    display: block;

    &.fz-23 {
        font-size: 23px;
    }

    &.fz-19 {
        font-size: 19px;
    }

    &.fz-17 {
        font-size: 17px;
    }
}
