.height-35 {
    height: 35px;
}

.height-38 {
    height: 38px;
}

.height-30 {
    height: 30px;
}

.height-initial {
    height: initial;
}

.ht-100 {
    height: 100%;
}

.hgt-40 {
    height: 40px;
}

.hgt-55 {
    height: 55px;
}