@import "../mixins/sizeStyle.scss";
@import "../mixins/flexCenterBetween.scss";
@import "../variables";
@import "../mixins/flexCenterBetween.scss";

.highcharts-label {
    &.highcharts-tooltip {
        div[class*="labelMain"] {
            .line-graph {
                display: inline-block;

                .first-graph {
                    @include size (3px, 12px);

                    border-top-left-radius: 1px;
                    border-top-right-radius: 1px;
                    margin-right: 2px;
                    display: inline-block;
                    background: $gray-455;
                }

                .second-graph {
                    @include size (3px, 12px);

                    border-top-left-radius: 1px;
                    border-top-right-radius: 1px;
                    margin-right: 5px;
                    display: inline-block;
                    background: rgba(69, 91, 118, 0.5);
                }
            }
        }

        .review-percentage-block {
            @include size (200px, false);
            @include center-between();

            padding-right: 12px;
            padding-bottom: 6px;

            .positive,
            .negative {
                i {
                    font-size: 15px;
                    font-weight: 500;
                    vertical-align: -2px;
                }
            }

            .positive {
                color: $positive-sentiment;

                i {
                    &:before {
                        color: $positive-sentiment;
                    }
                }
            }

            .negative {
                color: $error-red;

                i {
                    &:before {
                        color: $error-red;
                    }
                }
            }
        }

        .rating-tooltip-block {
            position: relative;

            // &:after {
            //         content: '';
            //     border-right: 1px dashed $gray-99;

            //     @include abs-position (0, 59px, false, false);
            //     @include size (1px, 100%);
            // }

            &.no-line {
                &:after {
                    display: none;
                }
            }

            .tooltip-value-block {
                &:last-child {
                    padding-bottom: 2px;
                }
            }
        }

        div[class*="toolTipBody"] {
            &.tooltip-value-block {
                margin-bottom: 0;
                padding-bottom: 6px;
            }
        }

        .line-draw {
            min-width: 50px;
            padding-right: 12px;
        }
    }
}

.highcharts-tooltip-container {
    z-index: 99 !important;
    position: fixed !important;
}