@import "../mixins/fontStyle.scss";
@import "../mixins/sizeStyle.scss";
@import "../variables";

.set-intitals {
    @include size(32px, 32px);
    @include font-style (15px, $white, 500, 2.1);

    border-radius: 50%;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    background-color: $gray-64;

    img {
        object-fit: cover;
    }

    &.large {
        @include size(40px, 40px);
        @include font-style (17px, $white, 500, 2.3);
    }

    &.light-red {
        background: $avatar-red;
        color: $avatar-red-text;
    }

    &.light-orange {
        background: $avatar-orange;
        color: $avatar-orange-text;
    }

    &.light-green {
        background: $avatar-light-green;
        color: $avatar-light-green-text;
    }

    &.dark-green {
        background: $avatar-green;
        color: $avatar-green-text;
    }

    &.light-blue {
        background: $avatar-light-blue;
        color: $avatar-light-blue-text;
    }

    &.dark-blue {
        background: $avatar-blue;
        color: $avatar-blue-text;
    }

    &.light-pink {
        background: $avatar-light-pink;
        color: $avatar-light-pink-text;
    }
}