.half {
    display: inline-block;
    width: 50%;
}

.width-60 {
    width: 60%;
}

.w-80per {
    width: 80%;
}

.w-120 {
    width: 120px;
}

.w-135 {
    width: 135px;
}

.w-150 {
    width: 150px;
}

.w-160 {
    width: 160px;
}

.w-200 {
    width: 200px;
}

.w-170 {
    width: 170px;
}

.w-185 {
    width: 185px;
}

.w-250 {
    width: 250px;
}

.w-240 {
    width: 240px;
}

.w-320 {
    width: 320px;
}

.w-90per {
    width: 90%;
}

.w-38 {
    width: 38px;
}

.max-w-90per {
    max-width: 90%;
}

.max-467 {
    max-width: 467px;
}

.max-240 {
    max-width: 240px;
}

.max-600 {
    max-width: 600px;
}

.width-auto {
    width: auto !important;
}

.min-auto {
    min-width: auto !important;
}

.min-width190 {
    min-width: 190px !important;
}

.max-width-100 {
    max-width: 100%;
}

.width-100 {
    width: 100%;
}

.initial-width {
    width: initial !important;
}

.ms-drop-130 {
    .ms-drop {
        width: 130px;
    }
}