@import 'sass/variables';
@import "sass/ripple";
@import 'sass/mixins/sizeStyle.scss';

.shimmer-wrapper {
    margin-bottom: 37px;
}

.review-translating-wrapper {
    margin-bottom: 12px;

    &:last-child {
        width: 80%;
    }
}

.loading-shimmer {
    animation: shimmer 3s infinite linear;
    opacity: 0.7;
    background: linear-gradient(to right, $light-grey-border 20%, $gray-cc 60%, $light-grey-border 80%);
    background-size: 1000px 100%;

    @include size(240px, 38px);

    margin-bottom: 10px;

    &.large {
        width: 400px;
    }

    &.small-width {
        width: 132px;
    }

    &.full-width {
        width: 100%;
    }

    &.extra-sm-height {
        height: 1px;
    }

    &.small-height {
        height: 10px;
    }

    &.medium-height {
        height: 12px;
    }

    &.large-height {
        height: 19px;
    }

    &.xxxs-width {
        width: 90px;
    }

    &.xxxs-height {
        height: 9px;
    }

    &.carousel-height {
        height: 120px;
    }

    &.review-translating {
        height: 20px;
    }

    &.fullHeight {
        height: 100%;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}