@import 'sass/master';
@import 'sass/variables';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/textOverflow.scss';
@import 'sass/mixins/positionAbsolute.scss';

.el-multiselect-filterDropdown {
  margin-bottom: 10px;
  position: relative;

  .container-box-1 {
    @include border-radius (4px);
    @include size (100%, auto);

    position: relative;
    cursor: pointer;
    min-height: 38px;
    border: 1px solid $graye5e;
    background-color: $white;
    padding: 10px 35px 10px 15px;
    text-align: left;

    .tooltip {
      @include size (100%, auto);
    }

    &.disable {
      background-color: $pale-blue;
      border: 1px solid $graye5e;
      cursor: pointer;

      label {
        @include size (100%, auto);
        @include text-overflow();

        color: $gray-cc;
        display: block;
        text-align: left;
      }

      :local {
        .reset-btn {
          display: none;
        }
      }
      .reset-btn {
        display: none;
      }
    }
    &.invalid-error {
      border: 1px solid $error-red;

      .reset-btn {
        display: none;
      }
    }
  }

  .phoenix-icon-multiselect {
    @include abs-position (50%, false, false, auto);
    @include font-style (16px, $blueGray, 400, false);

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .container-box-1.active_class {
    background-color: $blue-bg;
    border: 0;

    label {
      @include font-style (15px, $brand-color, 500, 1.2);
      @include text-overflow();
      @include size (100%, auto);

      display: block;
      margin-bottom: 0px;
    }

    i:before {
      @include font-style (false, $gray-55, false, false);
    }
  }

  .container-box-1:hover {
    background: $pale-blue;
  }

  label {
    @include font-style (15px, $gray-55, false, false);

    cursor: pointer;
  }

  .dropdown {
    height: auto;
    max-height: 193px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;

    li {
      @include font-style (false, false, false, 1.3);

      position: relative;
      cursor: pointer;

      &:hover {
        background: $pale-blue;
      }

      .dropdown-select-list {
        padding: 9.5px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
      }

      .long-text {
        width: calc(100% - 22px);
        display: block;
      }

      .text {
        @include font-style (15px, $gray-55, false, 1.4);
        @include text-overflow();
        @include size (100%, 19px);

        margin: 0 0 0 8px;
        cursor: pointer;
        display: block;
        vertical-align: middle;
        // max-width: calc(100% - 22px);
      }

      .subtext {
        @include font-style (12px, $gray90, false, 1.4);
        @include text-overflow();
        @include size (100%, 19px);

        margin: 4px 0 0 8px;
        cursor: pointer;
        display: block;
        vertical-align: middle;
      }

      .custom-multiselect-tooltip {
        max-width: 250px;
        padding: 10px 15px;
        margin-left: -22px !important;
      }

      section:first-child {
        @include size (auto, auto);
      }
    }
  }


  .label-top {
    @include font-style (15px, $gray-55, false, 1.1);
    @include text-overflow();

    margin: 0;
    cursor: pointer;
    display: block;
  }

  .reset-btn {
    @include font-style (16px, $gray-55, 400, 1);
    @include abs-position (10px, 13px, false, false);
  }

  .multi-select-dropdown {
    @include size (100%, auto);
    @include abs-position (calc(100% + -40px), 0px, false, false);
    @include border-radius (6px);

    background: $white;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    z-index: 9;
    margin-bottom: 5px;
    text-align: left;
    padding-bottom: 10px;

    .filter-label-heading {
      @include font-style (13px, $light-grey, 500, 1.2);
      @include text-overflow();

      padding: 19px 20px 5px;
      display: block;
      width: auto;
      text-align: left;

      label {
        padding: 0;
      }
    }

    .btn-wrapper {
      margin-bottom: 10px;
      padding-top: 20px;
      border-top: 1px solid $bg-light-gray;
    }
  }

  .left-open {
    left: 0 !important;
  }

  .form-box {
    padding: 0px;

    .search-filter {
      position: relative;
      padding: 10px 20px;

      input {
        @include font-style (15px, $default-color, false, false);
        @include size (100%, 38px);
        @include border-radius (4px);

        padding: 9px 44px 10px 40px;
        border: 1px solid $graye5e;

        @include placeholder {
          color: $gray-64;
        }

        &:focus {
          border-color: $brand-color;
          outline: 0px;
        }
      }

      .custom-search-filter {
        position: relative;

        .el-search-icon {
          @include abs-position(50%, false, false, 12px);
          @include font-style (20px, $black-icon, 400, false);

          z-index: 1;
        }

        .icon_phoenix-reset {
          @include font-style (false, $black-icon, 600, false);
        }
      }

      .icons {
        @include abs-position(false, false, false, false);
        @include font-style (16px, $blueGray, 400, false);

        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .el-close-icon {
        @include abs-position(false, 10px, false, auto);
        @include border-radius (4px);
        @include font-style (false, $black-icon, 600, false);

        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: $pale-blue;
        }
      }
    }
  }
}

.loader-shimmer-design {
  height: 100px;
  margin: 5% 10px 0 20px;
}

.no-match-found {
  margin-left: 20px;
  padding: 10px 0;
}