@import 'sass/variables';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/flexBox.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/flexCenterBetween.scss';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/mixins/flexCenterAll.scss';

.action-box {
    float: right;

    @include border-radius (8px);

    border: solid 1px $gray-cc;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    height: 34px;
    padding: 8px 10px 8px 15px;
    cursor: pointer;
    position: relative;

    @include font-style(14px, $gray-55, false, 1.1);

    :global {
        .icon-cheveron_open {
            margin-left: 5px;

            @include font-style (16px, $gray-55);

            vertical-align: bottom;
            display: inline-block;
        }
    }

    .options-children-list {
        margin-left: 20px;
        background: #f1f6fe;
        border-radius: 5px;
        margin-right: 20px;
    }

    .popover-container {
        display: inline-block;
        cursor: pointer;
    }

    .popover {
        @include abs-position (-1px, 0, false, auto);
        @include border-radius (8px);

        z-index: 11;
        background: $white;
        width: 240px;
        white-space: nowrap;
        box-shadow:
            0 1px 1px -0.5px rgba(0, 0, 0, 0.06),
            0 3px 3px rgba(0, 0, 0, 0.06),
            0 6px 6px rgba(0, 0, 0, 0.06),
            0 12px 12px rgba(0, 0, 0, 0.04),
            0 24px 24px rgba(0, 0, 0, 0.04);
        border-bottom: 0;
        cursor: default;
        margin-right: -5px;

        .popover-head {
            font-family: $inter-font;
            padding: 17.5px 15px;
            border-bottom: 1px solid $gray-ece;

            @include font-style (14px, $default-color, 500, 1.2, left);

            cursor: default;

            span {
                @include flexbox();

                font-family: $inter-font;
                align-items: center;

                img {
                    margin-right: 10px;
                    transform: translateY(-1px);
                }
            }
        }

        h4 {
            @include font-style(11px, $gray-99, 500, 1.2);

            display: block;
            margin: 20px 20px 0;
        }

        .popover-listing {
            margin-bottom: 0;

            >ul {
                padding: 10px 0;
            }

            ul {
                li {
                    padding: 10px 20px;

                    @include font-style(14px, $default-color, 400, 1.2, left);

                    cursor: pointer;
                    position: relative;

                    &:hover {
                        background-color: $pale-blue;
                    }

                    i {
                        @include font-style (16px, $gray-55);

                        margin-right: 5px;
                    }

                    i,
                    span {
                        vertical-align: middle;
                    }

                    &.with-separator {
                        margin-top: 20px;
                        position: relative;

                        &:before {
                            content: "";

                            @include abs-position (-10px, false, false, 0);
                            @include size (100%, 1px);

                            background: $gray-ece;
                            pointer-events: none;
                        }
                    }

                    &.disabled-option {
                        @include font-style(false, $gray-cc, false, false);

                        cursor: default;

                        i:before {
                            @include font-style(false, $gray-cc, false, false);
                        }

                        &:hover {
                            background-color: $white;
                        }
                    }
                }
                .subtext-option {
                    padding: 2px 8px;
                    .sub-text-wrapper {
                        @include border-radius(4px);
                        background: $newHoverColor;
                        display: block;
                        padding: 8px 12px;
                    }
                    .sub-text {
                        @include font-style(12px, $gray-light, 400, 18px, false);
                    }
                }
            }
        }

        ul {
            .tooltip-wrapper {
                vertical-align: middle;

                @include font-style (13px, $gray-99);

                margin-left: 5px;
            }
        }

        &.medium {
            width: 200px;
        }

        &.small {
            width: 160px;
        }

        &.standard {
            width: 240px;
        }

        &.large {
            width: 280px;
        }

        &.feat {
            width: 250px;
        }

        &.x-large {
            width: 330px;
        }

        &.right {
            left: 0;
            right: auto;
        }

        &.left {
            left: auto;
            right: 0;
        }

        &.center {
            left: 50%;
            right: auto;
            transform: translateX(-50%);
            margin: 0 auto;
            top: -6px;
        }

        &.top {
            left: 0;
            top: 100%;
            transform: translateY(-100%);
        }

        &.top-left {
            right: 0;
            top: 100%;
            transform: translateY(-100%);
        }

        &.top-right {
            left: 0;
            top: 100%;
            transform: translateY(-100%);
        }

        &.bottom-right {
            top: 100%;
            right: 0;
        }
    }

    &:hover {
        background-color: $pale-blue;
    }

    &.action-open {
        border-color: transparent;
    }

    &.cursor-disable {
        @include font-style(false, $gray-cc, false, false);

        background: $pale-blue;
        border: 1px solid $light-grey-border;

        :global {
            .icon-cheveron_open {
                @include font-style(false, $gray-cc, false, false);
            }
        }
    }

    /*------popover on button click ------*/
    &.button-popover {
        border: 0;
        padding: 0;

        .popover {
            .popover-listing {
                li {
                    padding: 0;
                }
            }
        }

        // need to update over quicksend component styling
        // &.quick-send-popover {
        //     .popover {
        //         top: -7px;
        //     }

        //     :global {
        //         .btn-popover-list {
        //             padding: 14px 20px 14px 15px;
        //         }

        //         .popover-info {
        //             strong {
        //                 line-height: 1.35;
        //             }
        //         }
        //     }

        //     &:global {
        //         &.header-quick-send {
        //             &:hover {
        //                 background: transparent;
        //             }

        //             .btn-popover-list {
        //                 padding: 10px 0 10px 20px;
        //                 justify-content: flex-start;

        //                 strong > i {
        //                     top: 50%;
        //                     transform: translateY(-50%);
        //                 }
        //             }

        //             :local {
        //                 .header {
        //                     left: auto;
        //                     right: 5px;
        //                     top: 34px;
        //                 }
        //             }

        //             span {
        //                 >ul {
        //                     box-shadow: 0 -1px 15px rgba(0, 0, 0, 0.05), 0 10px 20px 2px rgba(33, 33, 33, 0.14) !important;
        //                 }
        //             }
        //         }
        //     }
        // }
        // need to update over quicksend component styling

        .setup-profile-popover {
            background-color: $brand-color;
        }
    }

    &.remove-wrap-style {
        display: inline-block;
        border: 0;
        padding: 0;
        float: none;
        min-width: auto;

        .popover-text {
            button {
                i:before {
                    @include font-style(false, $brand-color, false, false);
                }
            }

            button:hover {
                background-color: unset;
            }
        }
    }

    &.faq-popover {
        .popover-listing {
            strong {
                vertical-align: middle;
            }
        }
    }

    &.blue-action-box {
        @include font-style(false, $white, false, false);

        margin-left: 10px;
        background-color: $brand-color;
        border: 1px solid transparent;

        :global {
            .icon-cheveron_open {
                @include font-style(false, $white, false, false);
            }
        }

        &:hover {
            background: $primary-hover;
        }
    }

    // need to update over quicksend component styling
    // &:global {
    //     &.header-quick-send {
    //         :local {
    //             .popover {
    //                 padding: 10px 0;
    //                 border: 0;

    //                 .popover-head {
    //                     padding: 10px 20px 5px;
    //                     border: 0;

    //                     @include font-style (15px, $gray-55, 400);

    //                     span {
    //                         font-family: $brandFont;
    //                     }
    //                 }

    //                 .popover-listing {
    //                     ul {
    //                         border-bottom: 0;
    //                         padding: 0;
    //                     }
    //                 }
    //             }
    //         }

    //         .btn-popover-list {
    //             figure {
    //                 width: auto;
    //                 margin-right: 10px;

    //                 i {
    //                     font-size: 16px !important;
    //                     vertical-align: text-top !important;
    //                 }
    //             }

    //             &.partially-disabled {
    //                 figure {
    //                     i:before {
    //                         font-size: 16px;
    //                     }
    //                 }
    //             }

    //             .popover-info {
    //                 strong {
    //                     line-height: 1.2;
    //                     font-weight: 400;
    //                     font-family: $brandFont;
    //                 }
    //             }
    //         }
    //     }
    // }
    // need to update over quicksend component styling

    &:global {
        &.listing-action-box {
            @include size (36px, 36px);

            padding: 10px;
            border: 1px solid $graye5e;

            @include center-all();

            i {
                &:before {
                    font-size: 20px;
                }
            }

            .paymentcard-list {
                padding: 12px 0;
            }

            :local {
                li {
                    &.popover-listing {
                        h4 {
                            margin-top: 8px;
                            margin-bottom: 4px;
                        }

                        ul {
                            padding: 0;

                            li {
                                padding: 10px 20px;
                            }
                        }
                    }
                }

                .popover {
                    li {
                        &.popover-listing {
                            ul {
                                padding: 0;
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

// need to update styling over Messenger component
// :global {
//     .send-button-wrapper {
//         .inbox-footer-popover {
//             &:local {
//                 &.action-open {
//                     :global {
//                         .icon-cheveron_open {
//                             transform: rotate(180deg);
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
// need to update styling over Messenger component

/**---------custom jsx on create button------**/
.popover-listing {
    >ul {
        li {
            &.disabled {
                cursor: default;
                @include font-style(false, $gray-cc, false, false);

                >i {
                    @include font-style(false, $gray-cc, false, false);

                    &:before {
                        @include font-style(false, $gray-cc, false, false);
                    }
                }
            }
        }
    }

    // need to update styling over Quicksend Messanger Campaigns QrCodes Survey component
    // :global {
    //     .btn-popover-list {
    //         @include center-between();

    //         padding: 15px 20px;
    //         align-items: flex-start;

    //         figure {
    //             width: 32px;
    //             margin-right: 15px;
    //             text-align: center;

    //             i {
    //                 font-size: 24px !important;
    //                 margin-right: 0 !important;

    //                 &:before {
    //                     color: $default-color;
    //                 }

    //                 &.icon_phoenix-cross {
    //                     font-size: 12px !important;
    //                     background-color: $default-color;
    //                     padding: 3px;
    //                     border-radius: 50%;

    //                     &:before {
    //                         color: $white;
    //                     }
    //                 }
    //             }
    //         }

    //         .image-create-template {
    //             margin-left: 4px;
    //         }

    //         .popover-info {
    //             width: calc(100% - 47px);

    //             @include font-style (13px, $gray-55, 400);

    //             white-space: pre-line;

    //             strong,
    //             span {
    //                 display: block;
    //                 line-height: 1.4;
    //             }

    //             strong {
    //                 @include font-style (15px, $default-color, 500, 1.4);

    //                 font-family: $inter-font;
    //                 margin-bottom: 5px;

    //                 > i {
    //                     position: absolute;
    //                     right: 20px;
    //                     line-height: 1.35;

    //                     &:before {
    //                         font-size: 18px;
    //                     }
    //                 }
    //             }

    //             a {
    //                 color: $brand-color;
    //                 font-weight: 500;
    //                 cursor: pointer;
    //                 display: block;
    //             }

    //             .new-pill {
    //                 overflow: hidden;
    //                 display: inline-block;
    //                 position: relative;
    //                 border-radius: 12px;
    //                 font-size: 11px;
    //                 color: $phoenix-nav;
    //                 font-weight: 500;
    //                 background: $positive-sentiment;
    //                 margin-left: 5px;
    //                 padding: 3.5px 6px;

    //                 &:after {
    //                     content: "";
    //                     position: absolute;
    //                     width: 100%;
    //                     height: 100%;
    //                     top: 0;
    //                     left: 0;
    //                     transform: translateX(-100%);
    //                     background: url("images/common/gradient-white.png");
    //                     animation: glare 1.5s ease-in-out 1s alternate 3;
    //                 }
    //             }
    //         }

    //         // &.disabled {
    //         //     cursor: default;

    //         //     figure {
    //         //         i {
    //         //             opacity: 1;
    //         //             cursor: default;

    //         //             &:before {
    //         //                 color: $gray-cc;
    //         //             }
    //         //         }
    //         //     }

    //         //     .popover-info {
    //         //         strong {
    //         //             color: $gray-cc;
    //         //         }
    //         //     }
    //         // }

    //         &.partially-disabled {
    //             cursor: pointer;

    //             figure {
    //                 i {
    //                     opacity: 1;

    //                     &:before {
    //                         color: $gray-99;
    //                         font-size: 30px;
    //                     }
    //                 }
    //             }

    //             .popover-info strong {
    //                 color: $gray-99;
    //             }
    //         }
    //     }
    // }
    // need to update styling over Quicksend Messanger Campaigns QrCodes Survey component
}

.survey-action-box {
    display: inline-block;
    float: none;
    margin-left: 10px;
}

.tooltip-wrapper {
    .icon_phoenix-question-circle {
        &:before {
            @include font-style(false, $gray-99, false, false);
        }
    }
}

// need to update styling over Social createPostView component
// :global {
//     .scheduling-wrapper {
//         :local {
//             .action-box {
//                 .popover-container {
//                     i {
//                         margin-left: 0;
//                     }
//                 }

//                 .popover {
//                     top: 37px;
//                     margin-right: -3px;
//                 }
//             }
//         }

//         .action-wrap {
//             &.cursor-disable {
//                 margin-left: 0;
//             }
//         }
//     }
// }
// need to update styling over Social createPostView component

// need to update styling over Survey QuestionFooterView component
// :global {
//     .options-tooltip-wrapper {
//         .inner {
//             margin-left: -25px !important;
//         }
//     }
// }
// need to update styling over Survey QuestionFooterView component

// need to update styling over googleQnA GoogleQnAContainer.js and LocationView.js component
// :global {
//     .google-qa-actionBox {
//         padding-left: 10px;
//     }
// }
// need to update styling over googleQnA GoogleQnAContainer.js and LocationView.js component



