@import 'sass/variables';
@import 'sass/mixins/flexBox.scss';
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/flexCenterAll.scss';
@import "sass/mixins/flexCenterVertical.scss";

.tile-wrap {
    margin-bottom: 20px;
    padding: 20px 30px;
    border-radius: 4px;
    background-color: $gray-f9f;

    @include flexbox();

    align-items: flex-start;
    justify-content: space-between;

    &.extra-tiles {
        .tile-content {
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.tile-content {
    @include flexbox();

    img {
        @include size(45px, 45px);
        object-fit: contain;
    }

    &.custom-single-tile-content {
        @include center-vertical();
    }
}

.tile-content-label {
    margin-left: 20px;

    p {
        @include font-style(15px, $default-color, 500, 1.8);
    }
}

.larger-text {
    @include font-style(40px, $default-color, 500);
}

.smaller-text {
    margin-left: 5px;
    display: inline-block;
    vertical-align: text-top;

    @include font-style(15px, $gray-55, 400);
}

.tile-actions {
    @include center-vertical();
    margin-top: 15px;

    :global {
        .custom-tile-tooltip-wrap {
            @include size(40px, 40px);
            @include border-radius(4px);
            @include center-all();

            border: 1px solid $gray75;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: $gray-e5;
            }

            .icons {
                &:before {
                    @include font-style(20px, $default-color, false, false);
                }
            }

            span[class*="tooltiptext"] {
                @include font-style(12px, false, false, false);
                max-width: 242px;
            }
        }

        button {
            @include size(auto, 40px);
            margin-left: 16px;
        }
    }
}
.custom-tile-download-wrap {
    @include center-vertical();

    margin-top: 15px;

    :global {
        .custom-tile-tooltip-wrap {
            @include size (40px, 40px);
            @include border-radius (4px);
            @include center-all();

            border: 1px solid $gray75;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                background-color: $gray-e5;
            }

            .icons {
                &:before {
                    @include font-style (20px, $default-color, false, false);
                }
            }

            span[class*="tooltiptext"] {
                @include font-style (12px, false, false, false);

                max-width: 242px;
            }
        }
    }

    button {
        @include size (auto, 40px);

        margin-left: 16px;
    }
}