@import "sass/variables";
@import "sass/mixins/fontStyle.scss";
@import "sass/mixins/borderRadius.scss";
@import "sass/mixins/sizeStyle.scss";
@import "sass/mixins/flexBox.scss";
@import "sass/mixins/positionAbsolute.scss";

.form-input-box {
    background-color: $white;
    border: 1px solid $graye5e;
    padding: 6px 15px;

    @include border-radius (4px);

    outline: none;
    position: relative;
    -webkit-appearance: none;

    @include size (100%, 38px);

    resize: none;

    &.blue-border {
        border: 1px solid $dark-blue-selected;
    }

    input[type="text"] {
        @include font-style (15px, $default-color, 400, 1.1);

        border: 0 !important;
        padding: 0;
        flex-grow: 1;
        display: inline-block;
        min-height: 24px;
        outline: 0;

        input[disabled] {
            background-color: $pale-blue;
            border: 1px solid transparent;
        }

        &::placeholder {
            color: $gray-64;
        }
    }

    &.inc-height {
        @include size (auto, auto);

        padding: 0;

        .tag-wrap {
            padding: 7px 15px;
        }
    }

    &.no-height {
        @include size (auto, 38px);

        overflow: hidden;
        overflow-x: auto;

        .tag-wrap {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
        }

        &.inc-height {
            .tag-wrap {
                padding: 5px 15px;
            }
        }
    }
}

.tag-wrap {
    overflow-y: auto;
    max-height: 96px;

    @include flexbox();

    align-items: flex-start;
    flex-wrap: wrap;

    > span {
        margin: 0 5px 5px 0;

        &:first-child {
            margin-bottom: 0;
        }
    }
}

// need to add to UI web seprate modules
// :global {
//     .tag-input-height {
//         :local {
//             .tag-wrap {
//                 max-height: calc(100vh - 425px);
//             }
//         }
//     }
// }
// need to add to UI web seprate modules

.invalid-error {
    .form-input-box {
        border: 1px solid $error-red;
        padding: 6px 33px 6px 15px;

        &.inc-height {
            @include size (auto, auto);

            padding: 0;

            .tag-wrap {
                padding: 6px 33px 6px 15px;
            }
        }

        input[type=text] {
            border: 0 ;
            padding: 0;
        }
    }

    .validation-errors {
        @include abs-position (false, false, -17px, 0);

        li {
            @include font-style (11px, $error-red, false, 1.2);

            font-family: $brandFont;
        }
    }
}

