@import 'sass/master';

.rdr-buttons-position {
    position: absolute;
    left: 218px;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rdr-buttons-left,
.rdr-buttons-right {
    display: flex;
    align-items: center;
}

.rdr-buttons-right {
    justify-content: flex-end;
}

.date-range-picker {
    background: $white;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.15);
    height: 414px;
    width: 719px;
    position: absolute;
    right: auto;
    top: 0;
    z-index: 1;
    border-radius: 4px;

    &.custom-date-range {
        button[class*=rdrStaticRangeSelected] {
            background-color: transparent;
            pointer-events: unset;

            span[class*=rangeLabel-suffix] {
                font-weight: normal !important;
                color: $gray-64 !important;
            }

            span[class*=rangeLabel-prefix] {
                color: $gray-455 !important;
            }
        }
    }

    &.datepicker-alignRight {
        top: 100px;
        right: 40px;
        left: auto;
    }

    &:global {
        &.all_time {
            .rdrCalendarWrapper {
                margin-top: 0px;

                .rdrDateDisplayWrapper {
                    visibility: hidden;
                }
            }
        }
    }
}

.inline-picker {
    box-shadow: none;
    border-radius: 0;
}

.inherit-parent-dimensions {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    :global {
        .rdrDateRangePickerWrapper .rdrCalendarWrapper {
            width: 602px;
            padding: 36px 38px;
        }

        .rdrDateRangePickerWrapper .rdrDefinedRangesWrapper {
            width: 212px;
        }
    }
}

.range-selector {
    padding: 8px 15px 8px 10px;
    border: 1px solid $graye5e;
    cursor: pointer;
    border-radius: 8px;
    background: $white;
    width: 100%;
    min-height: 34px;
    box-sizing: border-box;
    justify-content: space-between;

    @include center-vertical;

    &:hover {
        background: $pale-blue;
    }

    &:global {
        &.date-range-blue {
            border-color: transparent;
        }
    }

    span {
        display: flex;
        margin-left: 2px;
        color: $gray-55;

        &.icon-calendar {
            &:before {
                cursor: default;
                color: $gray-55;
            }
        }

        p {
            margin-left: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
        }
    }

    .reset-btn {
        span[class*="icon_phoenix-close"]:before {
            color: $gray-55;
        }
    }

    :global {
        .cross-icon {
            position: absolute;
            top: 50%;
            right: 13px;
            transform: translateY(-50%);

            &:before {
                font-weight: 500;
                font-size: 16px;
                color: $gray-55;
            }
        }
    }
}

@media (max-width: 1200px) {
    .range-selector {
        span {
            p {
                width: 140px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}

:global {
    .rdrDays {
        row-gap: 2px;
        .rdrDay {
            line-height: 2.7em;
            height: 2.7em;
            padding: 0;
        }
    }

    .rdrCalendarWrapper {
        .rdrMonthAndYearWrapper {
            padding-top: 0;
            margin-top: 24px;
            height: 36px;
            margin-bottom: 4px;
            position: relative;
            z-index: 2;

            .rdrNextPrevButton i {
                display: none;
            }

            .rdrPprevButton {
                background: url('./assets/icons/IconLeft.svg') no-repeat center center;
            }

            .rdrNextButton {
                background: url('./assets/icons/IconRight.svg') no-repeat center center;
            }
        }
    }

    .rdrDateRangePickerWrapper {
        height: 100%;
        width: 100%;
        z-index: 9;
        top: 18%;
        right: 25%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

        .rdrDayNumber {
            width: 25px;
            left: 5px;
            top: 6px;
            z-index: 2;

            span {
                color: $default-color;
            }
        }

        .rdrCalendarWrapper {
            width: 520px;
            padding: 16px;
        }

        .rdrDefinedRangesWrapper {
            overflow: auto;
            overflow-x: hidden;
            width: 198px;
            border-radius: 5px;
            border-right: 1px solid $newHoverColor;
            background-color: $gray10;

            &::before,
            &::after {
                content: '';
                display: block;
                position: sticky;
                height: 16px;
                background-color: $gray10;
                z-index: 1;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            .rdrInputRanges {
                padding: 0;
            }
        }

        .rdrDateRangeWrapper {
            border-radius: 5px;
        }

        .rdrDayDisabled {
            background-color: $white;

            .rdrDayNumber {
                span {
                    color: $gray60;
                }
            }
        }

        .rdrDayStartPreview,
        .rdrDayEndPreview,
        .rdrDayInPreview {
            top: 0;
            bottom: 0;
            border-color: $phoenix-nav;
        }

        .rdrDayHovered {
            .rdrDayStartPreview,
            .rdrDayEndPreview {
                width: 36px;
                height: 32.4px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .rdrActive {
            .rdrStartEdge,
            .rdrEndEdge {
                &:after {
                    left: 50%;
                }
            }

            .rdrDayNumber {
                top: 4px;
                right: auto;
                left: 13px;
            }
        }

        .rdrStartEdge {
            left: 0;
            border-radius: 50% 0 0 50%;

            &.rdrEndEdge {
                border-radius: 50%;
            }
        }

        .rdrEndEdge {
            border-radius: 0 50% 50% 0;

            &:after {
                left: 50%;
            }
        }

        .rdrDayStartOfWeek {
            .rdrEndEdge {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        .rdrDayEndOfWeek {
            .rdrStartEdge {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                right: auto;

                .rdrDayNumber {
                    left: 7px;
                }
            }

            .rdrInRange {
                right: 0;
            }
        }

        .rdrStartEdge,
        .rdrEndEdge {
            color: $newSelectedColor !important;
            top: 0;
            bottom: 0;
            position: relative;
            z-index: 1;
            width: 35px;
            height: 32px;
            display: block;

            &:after {
                content: "";
                width: 70%;
                height: 75%;
                border-radius: 100%;
                background-color: $brand-color;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .rdrDayWeekend,
        .rdrDayStartOfWeek {
            .rdrInRange {
                border-radius: 0;
            }
        }

        .rdrInRange {
            background-color: $gray2000;
            top: 0;
            bottom: 0;
        }

        .rdrMonths {
            gap: 34px;
            margin-top: -43px;

            .rdrMonth {
                padding: 0;

                :global {
                    .rdrDays {
                        .rdrDay {
                            padding: 0;
                        }
                    }
                }
            }
        }

        .rdrMonthName {
            height: 36px;
            margin-top: 3px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            font-weight: 400;
            color: $default-color;
            padding: 0;
            position: relative;
            z-index: 1;
        }

        .rdrDay:not(.rdrDayPassive):not(.rdrDayToday) .rdrInRange~.rdrDayNumber span {
            color: $default-color;
        }

        .rdrDay:not(.rdrDayPassive):not(.rdrDayToday) .rdrStartEdge~.rdrDayNumber span,
        .rdrDay:not(.rdrDayPassive):not(.rdrDayToday) .rdrEndEdge~.rdrDayNumber span {
            color: $white;
        }

        .rdrDay.rdrDayPassive {
            opacity: 0;
        }

        .rdrDayPassive {
            .rdrDayNumber {
                span {
                    color: #d5dce0;
                }
            }
        }

        .rdrDay.rdrDayToday:not(.rdrDayPassive):not(.rdrDayDisabled) .rdrDayNumber span {
            color: $brand-color;
            font-weight: 400;
        }

        .rdrDay.rdrDayToday:not(.rdrDayPassive):not(.rdrDayDisabled) .rdrStartEdge~.rdrDayNumber span,
        .rdrDay.rdrDayToday:not(.rdrDayPassive):not(.rdrDayDisabled) .rdrEndEdge~.rdrDayNumber span {
            color: $white;
        }

        .rdrStaticRanges {
            padding: 0px 8px 0px 16px;
            width: 100%;

            .rdrStaticRange {
                height: 36px;
                border-bottom: 0;
                padding: 0;
                overflow: hidden;

                .rdrStaticRangeLabel {
                    line-height: 16px;
                    color: $gray-455;
                    font-weight: 500;
                    padding: 10px 8px 20px;

                    .rangeLabel-suffix {
                        color: $gray-64;
                        display: none;
                        font-weight: 400;
                        margin-left: 5px;
                    }
                }

                &:last-child {
                    &.rdrStaticRangeSelected {
                        height: auto;
                        overflow: visible;

                        .rdrStaticRangeLabel {
                            padding-bottom: 10px;
                        }

                        .rangeLabel-suffix {
                            display: block;
                            margin-left: 0;
                            color: $gray-64;
                        }
                    }
                }
            }

            .rdrStaticRangeSelected {
                pointer-events: none;

                .rdrStaticRangeLabel {
                    color: $gray-455;

                    .rangeLabel-suffix {
                        color: $gray-64;
                        font-weight: 500;
                    }
                }
            }
        }

        .rdrNextPrevButton,
        .rdrPprevButton {
            background: transparent;
            margin-right: 0;
            margin-left: 0;
        }

        .rdrDayToday .rdrDayNumber span:after {
            content: none;
        }

        .rdrMonthPicker,
        .rdrYearPicker {
            margin: 0;
            width: 50%;
            display: inline-block;
        }

        .rdrMonthAndYearPickers {
            display: none;
        }
    }

    .rdrDateDisplayWrapper {
        padding: 2px;
        background-color: $white !important;
        margin-right: 0;

        .rdrDateDisplayItem {
            background: $white;
            border: none;
            box-shadow: none;

            input {
                height: 34px;
                color: $gray75;
                border: 1px solid $graye5e;
                border-radius: 4px;
                background: $white;
                padding: 0 10px;
                text-align: left;
            }

            &.rdrDateDisplayItemActive {
                input {
                    color: $gray-55;
                    border: 1px solid $brand-color;
                }
            }
        }

        .rdrDateDisplay {
            margin: 0px;
            gap: 38px;

            .rdrDateDisplayItem {
                display: flex;
                align-items: center;
                gap: 8px;
                flex: 1;
                input {
                    width: 100%;
                }

                &:first-child::before {
                    content: "Start date";
                    white-space: nowrap;
                    font-size: 12px;
                    font-weight: 400;
                    color: $gray300;
                }

                &:last-child::before {
                    content: "End date";
                    white-space: nowrap;
                    font-size: 12px;
                    font-weight: 400;
                    color: $gray300;
                }
            }
        }
    }

    .rdrStaticRanges {
        background-color: $gray10;
        .rdrStaticRange {
            background-color: $gray10;
            .rdrStaticRangeLabel {
                .rangeLabel-prefix {
                    color: $gray300;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0px;
                }
            }
            &:hover {
                .rdrStaticRangeLabel {
                    background-color: $light-grey-border;
                    border-radius: 4px;
                    height: 100%;
                }
            }

            &.rdrStaticRangeSelected {
                background-color: $gray2000;
                border-radius: 4px;

                .rdrStaticRangeLabel {
                    .rangeLabel-suffix {
                        color: $brand-color;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    .date-range-blue {
        border-color: $brand-color;
        background: $phoenix-nav;

        &:hover {
            background: $phoenix-nav;
        }

        .icon-calendar {
            &:before {
                color: $brand-color;
            }
        }

        p {
            color: $brand-color;
            font-weight: 500;
        }

        &.disable-timeperiod {
            border-color: $grayEAEA;
            background: $gray-f5;

            p {
                font-weight: 400;
            }
        }
    }

    .disable-timeperiod {
        pointer-events: none;
        border-color: rgb(233, 233, 235);

        .icon-calendar {
            &:before {
                color: $gray-cc;
            }
        }

        i {
            &:before {
                color: $gray-cc;
            }
        }

        .icon_phoenix-close {
            &:before {
                color: $gray-cc;
            }
        }

        p {
            color: $gray-cc;
        }
    }

    .past_7_days,
    .past_30_days {
        .rdrStaticRanges {
            :nth-child(2),
            :nth-child(4) {
                background-color: transparent;
                pointer-events: unset;

                &.rdrStaticRangeSelected {
                    .rdrStaticRangeLabel {
                        span[class*=rangeLabel-suffix] {
                            color: #647a8e;
                        }

                        span[class*=rangeLabel-prefix] {
                            color: #455b76;
                        }
                    }
                }
            }
        }
    }

    .previous_year {
        .rdrStaticRanges {
            :nth-child(1) {
                background-color: transparent;
                pointer-events: unset;

                &.rdrStaticRangeSelected {
                    .rdrStaticRangeLabel {
                        span[class*=rangeLabel-suffix] {
                            color: #647a8e;
                        }

                        span[class*=rangeLabel-prefix] {
                            color: #455b76;
                        }
                    }
                }
            }
        }
    }

    .this_month {
        .rdrStaticRanges {
            :nth-child(1),
            :nth-child(3),
            :nth-child(5) {
                background-color: transparent;
                pointer-events: unset;

                &.rdrStaticRangeSelected {
                    .rdrStaticRangeLabel {
                        span[class*=rangeLabel-suffix] {
                            color: #647a8e;
                        }

                        span[class*=rangeLabel-prefix] {
                            color: #455b76;
                        }
                    }
                }
            }
        }
    }

    .previous_period {
        .rdrStaticRanges {
            :nth-child(2),
            :nth-child(6) {
                background-color: transparent;
                pointer-events: unset;

                &.rdrStaticRangeSelected {
                    .rdrStaticRangeLabel {
                        span[class*=rangeLabel-suffix] {
                            color: #647a8e;
                        }

                        span[class*=rangeLabel-prefix] {
                            color: #455b76;
                        }
                    }
                }
            }
        }
    }

    .previous_month {
        .rdrStaticRanges {
            :nth-child(1) {
                background-color: transparent;
                pointer-events: unset;

                &.rdrStaticRangeSelected {
                    .rdrStaticRangeLabel {
                        span[class*=rangeLabel-suffix] {
                            color: #647a8e;
                        }

                        span[class*=rangeLabel-prefix] {
                            color: #455b76;
                        }
                    }
                }
            }
        }
    }
}
