@import 'sass/master';
@import 'sass/global';
@import  'sass/variables';

.freezer {
    opacity: 0.5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 99999;
    background: $gray-66;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=#99000030, endColorstr=#99000030);
    zoom: 1;
}

.freezerImage {
    background: url("images/loading-indicator.gif") no-repeat scroll 0 0;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
}
