@import "sass/variables.scss";

.dropdown-container {
    position: relative;
}

.dropdown-list-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 400px;
    background: $white;
    box-shadow: 0 4px 8px 0 rgba(33, 33, 33, 0.18);
    margin-top: 4px;
    border-radius: 4px;
    z-index: 999;
    padding: 8px 16px;
}

.dropdown-header {
    width: 100%;
    padding: 8px 0;
    position: sticky;
    top: 0;
    background: $white;
    margin-left: 12px;
}

.dropdown-label {
    padding-block: 8px;
    font-size: 12px;
    color: $blue-gray;
    font-weight: 500;
    margin-bottom: 4px;
}

.search-container {
    position: relative;
    border: 1px solid $graye5e;
    border-radius: 8px;
    height: 34px;
    display: flex;
    align-items: center;
}

.search-icon {
    color: $black-icon;
    margin-inline: 10px;
    display: flex;
    font-size: 16px;
}

.search-input {
    width: 100%;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;

    &::placeholder {
        font-size: 14px;
        line-height: 20px;
    }
}

.clear-icon {
    position: absolute;
    right: 13px;
    font-size: 16px;
    color: $gray-55;
    cursor: pointer;
}

.items-container {
    position: static;
    overflow-y: auto;
    max-height: 200px;
}

.item {
    padding: 8px 12px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.item-selected {
    color: $default-color;
    font-weight: 500;
}

.item-unselected {
    color: $gray-55;
    font-weight: 400;
}

.no-results {
    padding: 8px;
    text-align: center;
    color: #888;
}

.trigger {
    border: 1px solid $gray-cc;
    border-radius: 8px;
    padding-block: 8px;
    cursor: pointer;
    background: $white;
    position: relative;
    padding-inline: 40px;
    height: 34px;
}

.trigger-no-icon {
    border: 1px solid $gray-cc;
    border-radius: 8px;
    padding-block: 8px;
    cursor: pointer;
    background: $white;
    position: relative;
    padding-inline: 15px;
    height: 34px;
}

.disabled {
    pointer-events: none;
    background-color: $disabled-color;
    cursor: not-allowed;
    opacity: 1;

    .trigger-label,
    .trigger-icon-right {
        color: $gray-cc;
    }
}


.trigger:hover {
    background: $pale-blue;
}

.trigger-icon-left {
    position: absolute;
    left: 15px;
    font-size: 16px;
    color: $gray-55;
}

.trigger-icon-right {
    position: absolute;
    right: 13px;
    font-size: 16px;
    color: $gray-55;
}

.trigger-label {
    color: $gray-55;
    line-height: 1.1;
    font-size: 14px;
}

.trigger-with-custom-jsx-only {
    position: relative;
    cursor: pointer;
    height: 34px;
}

.no-pointer {
    cursor: default;
}
.cursor-disable {
    pointer-events: none;
}

.ai-recommendation-dropdown-list {
    width: 250px;

    .items-container {
        overflow-x: hidden;

        .item {
            span {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }      
}

.dropdown-position-fixed {
    position: fixed;
    z-index: 9999;

    &.dropdown-list-rendered {
        visibility: visible;
        pointer-events: auto;
    }

    &.dropdown-list-not-rendered {
        visibility: hidden;
        pointer-events: none;
    }
}

:global {
    .invalid-error {
        :local {
            .trigger,
            .trigger-no-icon {
                border: 1px solid $error-red;

                .trigger-icon-right {
                    display: none;
                }
            }
        }
    }
}

:global(.invalid-error) {
    :local {
        .dropdown-list-container {
            .search-container {
                .search-input,
                input:not([type="checkbox"]) {
                    border: 0 !important;
                    padding: 0 !important;
                }
            }
        }
    }
}

