@import "sass/variables";
@import 'sass/mixins/sizeStyle.scss';
@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/flexCenterAll.scss';
@import 'sass/mixins/flexBox.scss';
// import { css } from "@emotion/react";
// import { sizeStyle, borderRadius, centerFlexAll, flexbox } from "emotion/global/mixin";
// import { graycc } from "emotion/global/variable";
// import { mr0, ml10 } from "emotion/global/layoutHelper";

.chart-vis-dropdown-container {
    :global{
        .action-wrap {
            @include size (auto, 32px);
            @include border-radius(6px);
            @include center-all();
    
            width: auto !important;
            padding: 7px 12px !important;
            border-color: $gray60;
    
            .el-actionbox-list-container {
                margin-right: 0px; // need to use variable
    
                margin-top: 32px; // need to use variable
                
                li[class*="popover-listing"] {
                    ul {
                        li {
                            img {
                                vertical-align: middle;
                                @include size (16px, 16px);
                            }
                            span {
                                margin-left: 8px;
                            }
                        }
                    }
                }
    
                span[class*="popover-container"]{
                    div.chart-vis {
                        &> span{
                            &:first-child {
                                @include flexbox();
                                @include size (16px, 16px);
                                align-items: center;
            
                                img {
                                    object-fit: scale-down;
                                }
                            }
                        }
                    }
                }
            }
    
            span[class*="popover-container"] {
                .chart-vis {
                    span {
                        @include size (16px, 16px);
                        img {
                            @include size (16px, 16px);
                            object-fit: scale-down;
                        }
                    }
                }
            }
        }
    }

    div[class*="action-open"] {
        border-color: $gray60;
    }
}