@import 'sass/mixins/borderRadius.scss';
@import 'sass/mixins/fontStyle.scss';
@import 'sass/mixins/positionAbsolute.scss';
@import 'sass/variables';
@import "sass/ripple";

.react-button,
%react-button {
    @include border-radius (8px);

    text-align: center;
    cursor: pointer;
    overflow: hidden;

    @include font-style (14px, $white, 400, 1.2, center);

    height: $button-height;

    .button-icon {
        margin: 0 10px 0 -3px;

        &.link-icon {
            color: $brand-color;
        }
    }

    .bubble {
        @include abs-position(auto, auto, auto, auto);
        @include border-radius(50%);

        position: fixed;
        margin-top: -20px;

    }
}

%ph-button {
    padding: 10px 15px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid transparent;

    @include font-style (14px, $white, 400, 1.1, center);
    @include border-radius (8px);

    height: $button-height;
    box-sizing: border-box;

    span {
        @include font-style (14px, $white, 400, 1.1, center);

        font-family: $brandFont;
    }

    i {
        vertical-align: middle;
        margin-left: 5px;
    }
}

.primary,
.secondary,
.super,
.danger,
.danger-primary {
    height: $button-height;
    min-height: $button-height;
    box-sizing: border-box;
}

.primary,
.secondary,
.super {
    @extend %ph-button;

    &.disabled {
        background: $pale-blue;
        color: $gray-cc;
        border: 1px solid $light-grey-border;

        &:hover {
            background: $pale-blue;
        }
    }
}

.primary,
%primary {
    background-color: $brand-color;
    color: $white;

    &:focus {
        background: $brand-color;
        color: $white;
    }

    &:hover {
        background: darken($brand-color, 20%);
        border-color: darken($brand-color, 20%);
        color: $white;
    }

    &:active {
        background: $app-bar-color;
        border-color: $app-bar-color;
        color: $white;
    }
}

.secondary,
%secondary {
    color: $gray-55;
    border: 1px solid $gray-cc;
    background-color: $white;

    span {
        color: $gray-55;
    }

    &:hover {
        background-color: darken($white, 20%);
    }
}

.super {
    @extend %ph-button;

    color: $brand-color;
    border-color: $brand-color;
    background-color: $white;

    span {
        color: $brand-color;
    }

    &:hover {
        background-color: darken($white, 20%);
        border-color: darken($brand-color, 20%);
    }
}

.disabled,
.link {
    padding: 10px 15px;

    @extend %ph-button;
}

.disabled {
    background-color: $pale-blue;
    color: $gray-cc;
    cursor: default;

    span {
        color: $gray-cc;
    }

    &.with-icon {
        i {
            &:before {
                color: $gray-cc !important;
            }
        }
    }
}

.link {
    background-color: transparent;
    color: $brand-color;
    height: auto;
    font-weight: 500;

    span {
        color: $brand-color;
    }

    &:hover {
        background-color: $pale-blue;
        color: $brand-color;
    }

    &.disabled {
        color: $gray-cc;
        background-color: transparent;

        span {
            color: $gray-cc;
        }
    }
}

.secondary-link {
    background-color: transparent;
    color: $gray-55;
    height: auto;
    font-weight: 500;
    border: 1px solid transparent;
    position: relative;

    span {
        color: $gray-55;
    }

    &:hover {
        color: $gray-55;
    }

    &.disabled {
        color: $gray-cc;
        background-color: transparent;

        span {
            color: $gray-cc;
        }
    }
}

.errorlink {
    padding: 10px 15px;
    background-color: transparent;
    color: $error-red;
    font-weight: 500;

    @extend %ph-button;

    span {
        color: $error-red;
    }
}

.noBorder {
    color: $gray-55;
    border: 0;
    background-color: $white;
    position: relative;

    span {
        color: $gray-55;
    }

    &:hover {
        background-color: $pale-blue;
    }

    &.with-icon {
        padding-bottom: 7px;

        i {
            &:before {
                color: $default-color;
                font-size: 20px;
            }
        }
    }
}

.with-icon {
    display: inline-flex;
    align-items: center;
    padding: 7px 15px 6px;
    height: $button-height;

    i {
        &:before {
            @include font-style (24px, $brand-color);
        }
    }

    &.disabled {
        i {
            &:before {
                color: $gray-cc;
            }
        }
    }

    &.primary {
        i {
            &:before {
                color: $white;
            }
        }
    }

    &.secondary {
        i {
            &:before {
                color: $gray-55;
            }
        }
    }

    &.small-icon {
        i {
            &:before {
                font-size: 16px;
            }
        }
    }
}

.error-border {
    border-color: $error-red;

    >div {
        @include abs-position(9px, 15px, false, false);

        .error-icon {
            cursor: auto;

            &:before {
                color: $error-red;
            }
        }
    }

    &.with-icon {
        .error-with-icon {
            &:before {
                color: $error-red;
            }
        }
    }
}

.show-bubble {
    overflow: hidden;
}

.file-chooser {
    @extend %react-button;

    display: inline-block;

    &.primary {
        @extend %primary;
    }

    &.secondary {
        @extend %secondary;
    }
}

.hidden {
    display: none;
}

.no-hover {
    padding: 0;
    height: auto;

    &:hover {
        background-color: transparent;
    }

    .button-icon {
        margin: 0 5px 0 0;
    }
}

.danger {
    @extend %ph-button;

    border: 1px solid $error-red;
    color: $error-red;
    background-color: $white;
    padding: 10px 15px;

    span {
        color: $error-red;
    }

    &:hover {
        background-color: darken($white, 20%);
        border-color: darken($error-red, 20%);
    }
}

.danger-primary {
    @extend %ph-button;

    background-color: $error-red;
    color: $white;

    &:hover {
        background-color: $button-danger-hover;
        color: $white;
    }
}

.bold-700 {
    span {
        font-weight: 500;
    }
}

@media (max-width: 991px) {
    .hide-text {
        span {
            display: none;
        }
    }
}