@import 'sass/variables';
@import "sass/ripple";

.popover-btn {
    color: $white;

    &.bordered-btn {
        border: 1px solid $white;
    }

    &:hover {
        background-color: $white;
        color: $brand-color;
    }
}

// to be used over parent component styles

.notSocial {
    .schedulebtn-wrapper {
        .el-button-primary {
            &.el-button-disabled {
                border: 1px solid $light-grey-border;
            }
        }
    }
}