@import "sass/master";

.btnWrapper {
  display: block;
}

.custom-common-modal {
  .icon-reset {
    top: 20px;
    right: 20px;
  }

  .btnWrapper {
    padding: 0;
    margin-top: 30px;
  }

  button:last-child {
    padding: 10px 19px;
  }

  button:first-child {
    span {
      font-weight: 500;
    }
  }
}
.custom-modal-filter {
  .btnWrapper {
    padding: 0px;
    button {
      padding: 10px 19px;
    }
  }
}